{% extends 'matistikk/base.html' %}

{% block body %}
    <table class="table table-hover table-striped table-responsive" id="classtable">
        <thead>
        <tr>
            <th>Klasse</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in object_list %}
            <tr class="clickable-row"
                data-href="{% url 'administration:gradeDetail' school_pk=grade.school_id pk=grade.id %}"
                style="cursor: pointer">
                <td>{{ grade }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        /**
         * This function makes the rows of the user-, student-, teacher- and admintable clickable
         */
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}