{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <a class="btn btn-primary" onclick="history.go(-1)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tilbake</a>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>{{ grade.grade_name }}</h1>
        </div>

        <div class="panel-body">
            <h4>Lærere</h4>
             <ul>
                {% for teacher in teachers %}
                    <li>
                        <a href="{% url 'administration:personDetail' teacher.username %}">
                            {{ teacher.first_name }} {{ teacher.last_name }}
                        </a>
                    </li>
                {% endfor %}

             </ul>
             <a class="btn btn-primary" href="{% url 'administration:gradeAddTeacher' grade.school_id grade.id %}">Legg til Lærer</a>
             <hr>
             <h4>Elever</h4>
             <ul>
                {% for student in students %}
                    <li>
                        <a href="{% url 'administration:personDetail' student.username %}">
                            {{ student.first_name }} {{ student.last_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-primary" href="{% url 'administration:gradeAddStudent' grade.school_id grade.id %}">Legg til Elev</a>
            <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_messages %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        {% endbuttons %}
                    </form>
            <hr>
            <h4>Tester</h4>
             <ul>
                {% for test in grade.tests_set.all %}
                    <li>
                        <a href="#">
                            <p>ParagrafTest</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            {% if request.user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'administration:gradeUpdate' school_pk=grade.school_id pk=grade.id %}">Oppdater klasse</a>
            {% endif %}
        </div>
    </div>
{% endblock %}