{% extends 'matistikk/base.html' %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Gruppeoversikt</h1>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                <input type="text" class="form-control" id="search"
                       onkeyup="gradeSearch()"
                       placeholder="Søk etter gruppe">
            </div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="nav active"><a href="#A" data-toggle="tab">Alle grupper</a></li>
                <li class="nav"><a href="#B" data-toggle="tab">Inaktive</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="A">
                    <table class="table table-hover table-striped table-responsive" id="gradetable">
                        <thead>
                        <tr>
                            <th>Gruppenavn</th>
                            <th>Ansvarlig</th>
                            <th>Gruppeinfo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in object_list %}
                            {% if group.is_active %}
                                <tr class="clickable-row"
                                    data-href="{% url 'administration:groupDetail' group.id %}"
                                    style="cursor: pointer">
                                    <td>{{ group }}</td>
                                    <td>{{ group.creator.get_full_name }}</td>
                                    <td><a class="btn btn-default"
                                           href="{% url 'administration:groupDetail' group.id %}"><span
                                            class="glyphicon glyphicon-home" aria-hidden="true"></span> Se
                                        Gruppeinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="B">
                    <table class="table table-hover table-striped table-responsive" id="gradetable">
                        <thead>
                        <tr>
                            <th>Gruppenavn</th>
                            <th>Ansvarlig</th>
                            <th>Gruppeinfo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in object_list %}
                            {% if not group.is_active %}
                                <tr class="clickable-row"
                                    data-href="{% url 'administration:groupDetail' group.id %}"
                                    style="cursor: pointer">
                                    <td>{{ group }}</td>
                                    <td>{{ group.creator.get_full_name }}</td>
                                    <td><a class="btn btn-default"
                                           href="{% url 'administration:groupDetail' group.id %}"><span
                                            class="glyphicon glyphicon-home" aria-hidden="true"></span> Se
                                        Gruppeinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary" href="{% url 'administration:groupCreate' %}"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span> Legg til gruppe</a>
        </div>
    </div>

    <script>
        /**
         * This function makes the rows of the user-, student-, teacher- and admintable clickable
         */
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>

    <script>
        /**
         * This function matches the text in the search field with the content in the table with all grades
         * and removes rows that don't match the search criteria.
         */
        function gradeSearch() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("gradetable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}