{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <div class="panel panel-info" xmlns="http://www.w3.org/1999/html">
        <div class="panel-heading">
            <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ person.get_full_name }}</h2>
            <div class="row">
                <div class="col-md-2">
                    <h5><i class="fa fa-user" aria-hidden="true"></i> Brukernavn - {{ person.username }}</h5>
                    <h5><i class="fa fa-envelope-o" aria-hidden="true"></i> Epost - {{ person.email }}</h5>
                </div>
                <div class="col-md-3">
                    <h5><i class="fa fa-calendar" aria-hidden="true"></i> Fødselsdato - {{ person.date_of_birth }}</h5>
                    <h5><i class="fa fa-venus-mars" aria-hidden="true"></i> Kjønn - {% if person.sex == 'M' %}
                        Gutt
                    {% else %}
                        Jente
                    {% endif %}</h5>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                {% if  person.role == 1 or person.role == 2 %}
                    <li class="nav active"><a href="#A" data-toggle="tab">Mine klasser</a></li>
                {% endif %}
                {% if person.role == 4 %}
                    <li class="nav active"><a href="#A" data-toggle="tab">Mine tester</a></li>
                {% endif %}
                {% if groups %}
                    <li class="nav"><a href="#B" data-toggle="tab">Mine grupper</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if person.role == 1 or person.role == 2 %}
                    <div class="tab-pane fade in active" id="A">
                        <table class="table table-hover table-striped table-responsive" id="schooltable">
                            <thead>
                            <tr>
                                <th>Klassenavn</th>
                                <th>Skole</th>
                                <th>{% if person.role == 2 %}Alternativer{% else %}Se medlemmer{% endif %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for grade in person.grades.all %}
                                <tr>
                                    <td>{{ grade.grade_name }}</td>
                                    <td>{{ grade.school }}</td>
                                    <td>
                                        {% if person.role == 2 %}
                                            <a type="button" id="{{ grade.id }}" value="{{ grade }}"
                                               class='btn btn-default'
                                               href="{% url 'administration:gradeDetail' grade.school.id grade.id %}">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                Gå til klasse
                                            </a>
                                        {% endif %}
                                        <button id="{{ grade.id }}" value="{{ grade }}"
                                                class='btn btn-default'
                                                data-toggle='modal'
                                                data-target='#gradeMemberModal' onclick="gradeMemberBtn(this)">
                                            <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
                                            Medlemmer
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if person.role == 4 %}
                    <div class="tab-pane fade in active" id="A">
                        <table class="table table-hover table-striped table-responsive" id="schooltable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Testnavn</th>
                                <th>Testinfo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for test in tests %}
                                <tr style="cursor:pointer;" class="clickable-row"
                                    data-href="{% url 'maths:taskCollectionDetail' test.id %}">
                                    <td>{{ test.id }}</td>
                                    <td>{{ test.test_name }}</td>
                                    <td>
                                        <button class="btn btn-default"><i class="fa fa-book" aria-hidden="true"></i> Se
                                            testinfo
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if groups %}
                    <div class="tab-pane fade" id="B">
                        <table class="table table-hover table-striped table-responsive" id="inactivetable">
                            <thead>
                            <tr>
                                <th>Gruppenavn</th>
                                <th>Ansvarlig</th>
                                <th>Se medlemmer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr {% if person.role == 4 %}style="cursor:pointer;" class="clickable-row"
                                    data-href="{% url 'administration:groupDetail' group.id %}"{% endif %}>
                                    <td>{{ group.group_name }}</td>
                                    <td>{{ group.creator.get_full_name }}</td>
                                    <td>
                                        <button id="{{ group.id }}" value="{{ group.group_name }}"
                                                class='btn btn-default'
                                                data-toggle='modal'
                                                data-target='#groupMemberModal' onclick="groupMemberBtn(this)">
                                            <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
                                            Medlemmer
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p id="passwordChangeError" class="hidden">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="panel-footer">
            {% if person.role != 1 %}
                <a id="updateInformationBtn" class='btn btn-primary'
                   href="{% url 'administration:personUpdate' person.username %}">
                    <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Oppdater dine opplysninger</a>
            {% endif %}
            <a id="changePasswordModalBtn" class='btn btn-primary' data-toggle='modal'
               data-target='#updatePasswordModal'>
                <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Endre passord</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            if ($("#passwordChangeError").length) {
                $('#updatePasswordModal').modal('show');
            }
        });

        $(".clickable-row").click(function (e) {
            if (e.target.type != "button") {
                window.document.location = $(this).data("href");
            } else if (!$(this).find(':button').val()) {
                window.document.location = $(this).data("href");
            }
        });


        function groupMemberBtn(group) {
            $("#groupMemberTable tr").remove();
            var group_id = group.id;
            var group_name = group.value;
            $('#groupMemberHeader').text(group_name);
            $.ajax({
                type: 'GET',
                url: "{% url 'administration:groupDetail' group_pk=12345 %}".replace(/12345/, group_id),
                dataType: 'json',
                success: function (data) {
                    var students = (data.persons);
                    $.each(students, function (index, value) {
                        var email = value.email;
                        $('#groupMemberTable').append('<tr><td>' + value.first_name + '</td><td>' + value.last_name + '</td><td>' + email + '</td></tr>');
                    })
                },
                error: function (xhr) {
                    alert('error');
                    alert(xhr.responseText)
                }
            });
        }

        function gradeMemberBtn(grade) {
            $("#gradeMemberTable tr").remove();
            var grade_id = grade.id;
            var grade_name = grade.value;
            $('#gradeMemberHeader').text(grade_name);
            $.ajax({
                type: 'GET',
                url: "{% url 'administration:myPage' person.username %}",
                data: {
                    "grade_id": grade_id
                },
                dataType: 'json',
                success: function (data) {
                    var students = (data.students);
                    var teachers = (data.teachers);
                    $.each(teachers, function (index, value) {
                        $('#gradeMemberTable').append('<tr><td>' + value.first_name + '</td><td>' + value.last_name + '</td><td>' + value.email + '</td><td>Lærer</td></tr>');
                    });
                    $.each(students, function (index, value) {
                        $('#gradeMemberTable').append('<tr><td>' + value.first_name + '</td><td>' + value.last_name + '</td><td>' + value.email + '</td><td>Elev</td></tr>');
                    });
                },
                error: function (xhr) {
                    alert('error');
                    alert(xhr.responseText);
                }
            });
        }

        function submitForm() {
            $('#submitPasswordBtn').click();
        }
    </script>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="updatePasswordModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Endre passord</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-margin" action="" id="changePasswordForm" method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.old_password %}
                        {% bootstrap_field form.new_password1 %}
                        {% bootstrap_field form.new_password2 %}
                        <button id='submitPasswordBtn' type="submit" class="hidden"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="changePasswordBtn" type="button" onclick="submitForm()" class="btn btn-success">
                        {% bootstrap_icon "check" %} Oppdater passord
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="groupMemberModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="groupMemberHeader">Gruppe</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped table-responsive table-condensed"
                           id="addtable2">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Epost</th>
                        </tr>
                        </thead>
                        <tbody id="groupMemberTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gradeMemberModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="gradeMemberHeader">Klasse</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-striped table-responsive table-condensed"
                           id="addtable2">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Epost</th>
                            <th>Brukertype</th>
                        </tr>
                        </thead>
                        <tbody id="gradeMemberTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
