{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <p hidden id="userRole">{{ request.user.role }}</p>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Brukeradministrasjon</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-margin" action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_messages %}
                        {% bootstrap_field form.first_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                        {% bootstrap_field form.last_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                        {% bootstrap_field form.email addon_before='<span class=""><strong>@</strong></span>' %}
                        {% bootstrap_field form.date_of_birth addon_before='<span class="glyphicon glyphicon-calendar"></span>' placeholder="dd.mm.yyyy" %}
                        {% bootstrap_field form.sex addon_before='<span class="fa fa-venus-mars"></span>' %}
                        {% bootstrap_field form.grades field_class='hidden' show_label=False %}
                        {% if not request.user.role == 2 %}
                            {% bootstrap_field form.role %}
                        {% endif %}
                        <div class="row" id="gradeList">
                            <label for="schools">Velg Skole</label>
                            <select id="schools" class="form-control" onchange="changeClassList()">
                                <option value="allschools">
                                    Alle Skoler
                                </option>
                                {% for school in schools %}
                                    <option value="{{ school.school_name }}">
                                        {{ school.school_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <br>
                            <div class="col-xs-5">
                                <label for="grades">Velg Klasse</label>
                                <select id="grades" class="form-control" multiple="multiple">
                                    {% for grade in gradesInfo %}
                                        <option value="{{ grade.id }}">
                                            {{ grade }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-1">
                                <br><br>
                                <button type="button" onclick="chooseGrades()"><span
                                        class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                <button type="button" onclick="removeGrades()"><span
                                        class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                            </div>
                            <div class="col-xs-5">
                                <label for="chosengrades">Valgte Klasser</label>
                                <select title="chosengrades" id="chosengrades" class="form-control"
                                        multiple="multiple">
                                    {% if fromGrade %}
                                        <option value="{{ fromGrade.id }}">{{ fromGrade }}</option>
                                    {% endif %}
                                    {% for grade in person.grades.all %}
                                        <option value="{{ grade.id }}">{{ grade }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% bootstrap_field form.is_active %}

                            <button type="submit" class="btn btn-success">
                                {% bootstrap_icon "check" %} Lagre
                            </button>

                    </form>
                </div>



    <script>
        jQuery(document).ready(function ($) {
            var role = $("#userRole").text();
            if (role != 4){
                $('#id_role').children('option[value="4"]').hide();

            }
        });

        $('#id_role').change(function () {
            var userType = this.value;
            if (userType == 4 || userType == 3) {
                $("#gradeList").hide();
            } else {
                $("#gradeList").show();
            }
        });


        /**
         * This function changes the visible grades in the "Choose Grade"-select
         * when a user changes the value of the "Choose School"-dropdown
         */
        function changeClassList() {
            var school = document.getElementById("schools").value.replace(/\s+/g, '');
            var grades = document.getElementById("grades");
            var options = grades.getElementsByTagName("option");
            var option;

            for (var i = 0; i < options.length; i++) {
                option = options[i].innerHTML.replace(/\s+/g, '');
                if (school == "allschools") {
                    options[i].style.display = "";
                }
                else if (option.indexOf(school) >= 0) {
                    options[i].style.display = "";
                }
                else {
                    options[i].style.display = "none";
                }
            }
        }

        /**
         * This function pushes selected grades from the "Choose Grades"-select
         * to the "Chosen Grades"-select when the user clicks the ->-button
         */
        function chooseGrades() {
            var grades = document.getElementById("grades");
            var chosengrades = document.getElementById("chosengrades");
            var valuelist = [];
            var id;
            for (var k = 0; k < chosengrades.options.length; k++) {
                valuelist.push(chosengrades.options[k].value);
            }

            for (var i = 0; i < grades.options.length; i++) {
                if (grades.options[i].selected) {
                    if (valuelist.indexOf(grades.options[i].value) == -1) {
                        id = grades.options[i].value;
                        $('#id_grades').find('option[value="' + id + '"]').prop("selected", true);
                        chosengrades.innerHTML += "<option value='" + grades.options[i].value + "'>" + grades.options[i].innerHTML + "</option>";
                    }
                }
            }
        }

        /**
         * This function removes grades from the "Chosen Grades"-select
         * when the user clicks the <--button
         */
        function removeGrades() {
            var grades = document.getElementById("grades");
            var chosengrades = document.getElementById("chosengrades");

            $("#chosengrades option:selected").each(function () {
                $('#id_grades').find('option[value="' + this.value + '"]').prop("selected", false);
                $(this).remove();
            });
        }
    </script>
{% endblock %}