{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-primary" onclick="history.go(-1)"><span class="glyphicon glyphicon-arrow-left"
                                                                      aria-hidden="true"></span> Tilbake</a>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>Brukeradministrasjon</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_messages %}
                        {% bootstrap_field form.first_name %}
                        {% bootstrap_field form.last_name %}
                        {% bootstrap_field form.email %}
                        {% bootstrap_field form.date_of_birth placeholder="dd.mm.yyyy" %}
                        {% bootstrap_field form.sex %}
                        {% bootstrap_field form.role %}
                        {% if request.user.role == 4 %}
                            {% bootstrap_field form.grades %}
                        {% endif %}
                        <input >
                        {% if request.user.role == 4 %}
                            {% bootstrap_field form.is_active %}
                        {% endif %}
                        {% if request.user.role == 2 and request.user.grade_id == person.grade_id and not person.role == 2 and not request.user.role == 4 %}
                            {% bootstrap_field form.is_active %}
                        {% endif %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        {% endbuttons %}
                    </form>
                {% for school in schools %}
                    {{ school.school_address }}
                {% endfor %}
                {% for grade in gradesInfo %}
                    {{ grade.grade_name }}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

