{% extends 'matistikk/base.html' %}


{% block body %}
{% if object_list %}
    <h1>Brukeroversikt</h1>
    <form method="get" action="#">
        {% csrf_token %}
        <input type="text" placeholder="Søk etter bruker" id="search">
    </form>
    <ul id="list">
        {% for person in object_list %}
            <li>
                <a href="{% url 'administration:personDetail' person.username %}">
                    {{ person.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Ingen brukere er lagt til</h3>
{% endif %}
    <a href="{% url 'administration:createPerson' %}">
        <button type="button">Legg til bruker</button>
    </a>
    <br>
<!--    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Side {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
    -->

</div>
    <script>
    $(function () {
        $('#search').keyup(function () {
            $.ajax({
                type: 'POST',
                url: '/administrasjon/brukere/',
                data: {
                    'search_text' : $('#search').val(),
                    'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'html',
                success: searchSuccess,
                error: searchError,
            })
        })
        
    });
    function searchSuccess(data) {
        $('#list').empty();
        $('#list').html(data);
    }
    function searchError(xhr) {
        alert('error')
    }
    </script>
{% endblock %}