<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
{% load static %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}


{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading"> <!-- #Panel-heading -->
            <h2>Brukeroversikt</h2>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                <input type="text" class="form-control" id="search"
                       onkeyup="userSearch('usertable'); userSearch('studenttable'); userSearch('teachertable'); adminSearch(); userSearch('inactivetable');"
                       placeholder="Søk etter bruker">
            </div>
        </div> <!-- #Panel-heading -->

        <div class="panel-body"><!-- #Panel-body -->
            {% bootstrap_messages %}
            <ul class="nav nav-tabs">
                <li class="nav active"><a href="#A" data-toggle="tab">Alle brukere</a></li>
                <li class="nav"><a href="#B" data-toggle="tab">Elever</a></li>
                <li class="nav"><a href="#C" data-toggle="tab">Lærere</a></li>
                <li class="nav"><a href="#D" data-toggle="tab">Administratorer</a></li>
                <li class="nav"><a href="#E" data-toggle="tab">Inaktive</a></li>
                <div class="col-sm-3" style="float: right">
                    <div class="form-group">
                        <select class="form-control" id="gradeDropList">
                            <option id="allschools" value="">Velg Klasse</option>
                            {% for grade in grades %}
                                <option value="{{ grade.id }}">{{ grade }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if request.user.role != 2 %}
                        <div class="form-group">
                            <select class="form-control" id="schoolDropList">
                                <option id="allgrades" value="">Velg Skole
                                </option>
                                {% for school in schools %}
                                    <option value="{{ school.id }}">{{ school }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    {% endif %}

                </div>
            </ul>
            <div id="tableCont" class="tab-content">
                <!-- All Users Tab -->
                <div class="tab-pane fade in active" id="A">
                    <table class="table table-hover table-striped table-responsive" id="usertable">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Brukernavn</th>
                            <th>Brukerinfo</th>
                        </tr>
                        </thead>
                        <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator"
                             style="display:none"/>
                        <tbody class="tableBody">
                        {% for person in object_list %}
                            {% if person.is_active %}
                                <tr id="user{{ person.id }}" class="clickable-row"
                                    data-href="{% url 'administration:personDetail' person.username %}"
                                    style="cursor: pointer">
                                    <td>{{ person.first_name }}</td>
                                    <td>{{ person.last_name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td><a class="btn btn-info"
                                           href="{% url 'administration:personDetail' person.username %}"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Se
                                        Brukerinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Student Users Tab -->
                <div class="tab-pane fade" id="B">
                    <table class="table table-hover table-striped table-responsive" id="studenttable">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Brukernavn</th>
                            <th>Brukerinfo</th>
                        </tr>
                        </thead>
                        <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator"
                             style="display:none"/>
                        <tbody class="tableBody">
                        {% for person in object_list %}
                            {% if person.role == 1 and person.is_active %}
                                <tr id="student{{ person.id }}" class="clickable-row"
                                    data-href="{% url 'administration:personDetail' person.username %}"
                                    style="cursor: pointer">
                                    <td>{{ person.first_name }}</td>
                                    <td>{{ person.last_name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td><a class="btn btn-info"
                                           href="{% url 'administration:personDetail' person.username %}"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Se
                                        Brukerinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Teacher Users Tab -->
                <div class="tab-pane fade" id="C">
                    <table class="table table-hover table-striped table-responsive" id="teachertable">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Brukernavn</th>
                            <th>Brukerinfo</th>
                        </tr>
                        </thead>
                        <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator"
                             style="display:none"/>
                        <tbody class="tableBody">
                        {% for person in object_list %}
                            {% if person.role == 2 and person.is_active %}
                                <tr id="teacher{{ person.id }}" class="clickable-row"
                                    data-href="{% url 'administration:personDetail' person.username %}"
                                    style="cursor: pointer">
                                    <td>{{ person.first_name }}</td>
                                    <td>{{ person.last_name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td><a class="btn btn-info"
                                           href="{% url 'administration:personDetail' person.username %}"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Se
                                        Brukerinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Admin Users Tab -->
                <div class="tab-pane fade" id="D">
                    <table class="table table-hover table-striped table-responsive" id="admintable">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Brukernavn</th>
                            <th>Brukertype</th>
                            <th>Brukerinfo</th>
                        </tr>
                        </thead>
                        <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator"
                             style="display:none"/>
                        <tbody class="tableBody">
                        {% for person in object_list %}
                            {% if person.role == 4 and person.is_active or person.role == 3 and person.is_active %}
                                <tr id="admin{{ person.id }}" class="clickable-row"
                                    data-href="{% url 'administration:personDetail' person.username %}"
                                    style="cursor: pointer">
                                    <td>{{ person.first_name }}</td>
                                    <td>{{ person.last_name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td>
                                        {% if person.role == 2 %}
                                            Lærer
                                        {% elif person.role == 3 %}
                                            Skoleadministrator
                                        {% elif person.role == 4 %}
                                            Superbruker
                                        {% else %}
                                            Elev
                                        {% endif %}
                                    </td>
                                    <td><a class="btn btn-info"
                                           href="{% url 'administration:personDetail' person.username %}"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Se
                                        Brukerinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Inactive Users Tab -->
                <div class="tab-pane fade" id="E">
                    <table class="table table-hover table-striped table-responsive" id="inactivetable">
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Etternavn</th>
                            <th>Brukernavn</th>
                            <th>Brukerinfo</th>
                        </tr>
                        </thead>
                        <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator"
                             style="display:none"/>
                        <tbody class="tableBody">
                        {% for person in object_list %}
                            {% if not person.is_active %}
                                <tr id="inactive{{ person.id }}" class="clickable-row"
                                    data-href="{% url 'administration:personDetail' person.username %}"
                                    style="cursor: pointer">
                                    <td>{{ person.first_name }}</td>
                                    <td>{{ person.last_name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td><a class="btn btn-info"
                                           href="{% url 'administration:personDetail' person.username %}"><span
                                            class="glyphicon glyphicon-user" aria-hidden="true"></span> Se
                                        Brukerinfo</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- #Panel-body -->
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary" href="{% url 'administration:personCreate' %}" id="addNewUserBtn"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span> Legg til bruker</a>
        </div>
    </div>



    <script>
        /**
         * This function makes the rows of the user-, student-, teacher- and admintable clickable
         */
        jQuery(document).ready(function ($) {
            var navbarHeight = 55;
            var headingHeight = $('.panel-heading').outerHeight();
            var navtabHeight = $('.nav-tabs').outerHeight();
            var footerHeight = $('.panel-footer').outerHeight();
            var padding = 30;
            var tabHeight = window.innerHeight - navbarHeight - headingHeight - navtabHeight - footerHeight - padding;
            $('.tab-content').css('height', tabHeight + 'px');
            $('.tab-content').css('max-height', tabHeight + 'px');
            $(".alert-success").fadeTo(5000, 500).slideUp(500, function () {
                $('.alert-success').slideUp(500);
            });
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
                $("#schoolDropList").val("");
                $("#gradeDropList").val("");

            });
            /**
             * Function that runs when an ajax call is sent.
             */
            $(document).ajaxSend(function (event, request, settings) {
                $('.loading-indicator').show();
                $('.tableBody').addClass('hidden');
            });
            /**
             * Function that runs when the ajax call is completed.
             */
            $(document).ajaxComplete(function (event, request, settings) {
                $('.loading-indicator').hide();
                $('.tableBody').removeClass('hidden')
            });
            /**
             * This function runs on a change in the schoolDropList, and gets the users in the selected school. The users
             * are sorted out in the table.
             */
            $("#schoolDropList").change(function () {
                $("#gradeDropList").val('');
                var school_id = $(this).val();
                var school_name = $("#schoolDropList :selected").text();
                updateUsers(school_id);
                var gradeList = $("#gradeDropList option");
                gradeList.each(function () {
                    var grade_id = $(this).val();
                    var grade = $(this).text();
                    if (school_id == "") {
                        $(this).show();
                    }
                    else if (grade.indexOf(school_name) >= 0 || grade_id == "") {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
            /**
             * This function runs on a change in the gradeDropList, and gets the users in the selected grade. The users
             * are sorted out in the table.
             */
            $("#gradeDropList").change(function () {
                var grade_id = $(this).val();
                if (grade_id != "") {
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'administration:personList' %}',
                        data: {
                            'type': 'grade',
                            'grade_id': grade_id,
                        },
                        dataType: 'json',
                        success: function (json) {
                            var students = (json.persons);
                            $("#usertable tbody tr").hide();
                            $("#studenttable tbody tr").hide();
                            $("#teachertable tbody tr").hide();
                            $("#admintable tbody tr").hide();
                            $("#inactivetable tbody tr").hide();
                            if (grade_id == "") {
                                $("#studentTable tr").show();
                            }
                            $.each(students, function (index, value) {
                                $("#user" + value.id).show();
                                $("#student" + value.id).show();
                                $("#teacher" + value.id).show();
                                $("#admin" + value.id).show();
                                $("#inactive" + value.id).show();
                            })
                        },
                        error: function (xhr) {
                            alert('error');
                            alert(xhr.responseText);
                        }
                    });
                } else {
                    var school_id = $("#schoolDropList :selected").val();
                    updateUsers(school_id);
                }
            });
        });
        /**
         * Function that gets the userlist with an ajax-call and displays them in the table.
         */
        function updateUsers(school) {
            var school_id = school;
            if (school_id) {
                $.ajax({
                    type: 'GET',
                    url: '{% url 'administration:personList' %}',
                    data: {
                        'type': 'school',
                        'school_id': school_id,
                    },
                    dataType: 'json',
                    success: function (json) {
                        var students = (json.persons);
                        $("#usertable tbody tr").hide();
                        $("#studenttable tbody tr").hide();
                        $("#teachertable tbody tr").hide();
                        $("#admintable tbody tr").hide();
                        $("#inactivetable tbody tr").hide();
                        $.each(students, function (index, value) {
                            $("#user" + value.id).show();
                            $("#student" + value.id).show();
                            $("#teacher" + value.id).show();
                            $("#admin" + value.id).show();
                            $("#inactive" + value.id).show();

                        })
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                $("#usertable tr").show();
                $("#studenttable tr").show();
                $("#teachertable tr").show();
                $("#admintable tr").show();
                $("#inactivetable tr").show();
            }
        }

        /**
         * This function matches the text in the search field with the content in the table given in the parameter.
         * and removes rows that don't match the search criteria.
         */
        function userSearch(inputTable) {
            var input, filter, table, tr, td, i, td1, td2;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById(inputTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];

                if (td) {
                    if ((td.innerHTML.toUpperCase() + " " + td1.innerHTML.toUpperCase()).indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        /**
         * This function matches the text in the search field with the content in the table with all admins
         * and removes rows that don't match the search criteria.
         */
        function adminSearch() {
            var input, filter, table, tr, td, i, td1, td2;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("admintable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if ((td.innerHTML.toUpperCase() + " " + td1.innerHTML.toUpperCase()).indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1 || td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}