{% extends 'administration/base.html' %}


{% block body %}
{% if object_list %}
    <h3>Brukeroversikt</h3>
    <ul>
        {% for person in object_list %}
            <li>
                <a href="{% url 'administration:personDetail' person.username %}">
                    <p>{{ person.username }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Ingen brukere er lagt til</h3>
{% endif %}
    <a href="{% url 'administration:createPerson' %}">
        <button type="button">Legg til bruker</button>
    </a>
{% endblock %}