{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Brukerprofil - {{ person.first_name }} {{ person.last_name }}</h1>
        </div>
        <div class="panel-body">
            <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 15em;"></i><br>
            <p style="font-size: 3em;">{{ person.first_name }} {{ person.last_name }}</p>
            {% if not person.is_active %}
                <div class="alert alert-warning" role="alert">Denne brukeren er ikke aktiv</div>
            {% endif %}
            <div class="col-xs-12 col-md-6">
                <table class="table table-hover table-striped table-responsive" id="persontable">
                    <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>Fødselsdato</b>
                        </td>
                        <td>
                            {{ person.date_of_birth }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>Brukernavn</b>
                        </td>
                        <td>
                            {{ person.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>E-post</b>
                        </td>
                        <td>
                            {{ person.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>Klasser</b>
                        </td>
                        <td>
                            {% if person.grades %}
                                {% for grade in person.grades.all %}
                                    <a href="{% url 'administration:gradeDetailFromPerson' person.username grade.id %}">{{ grade }}</a><br>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-venus-mars" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>Kjønn</b>
                        </td>
                        <td>
                            {% if person.sex == 'M' %}
                                Gutt
                            {% else %}
                                Jente
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </td>
                        <td>
                            <b>Sist Innlogget</b>
                        </td>
                        <td>
                            {{ person.last_login }}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        <div class="col-xs-12">
            {% bootstrap_messages %}
        </div>

        </div>
        <div class="panel-footer">

            <a class="btn btn-primary" href="{% url 'administration:personUpdate' person.username %}"><span
                    class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Oppdater bruker</a>
            <a class='btn btn-primary' data-toggle='modal' data-target='#passwordChangeModal'>
                <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Endre passord</a>

        </div>
    </div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Endre Passord</h4>
                </div>
                <div class="modal-body">
                    <div class="form-margin">
                        <form class="form-horizontal" action="" method="post" autocomplete="off">
                            {% csrf_token %}
                            {% bootstrap_label 'Nytt Passord' %}
                            {% bootstrap_field form.password placeholder='Nytt Passord' addon_before='<span class="fa fa-key"></span>' show_label=False %}
                            {% bootstrap_label 'Gjenta Passord' %}
                            {% bootstrap_field form.password2 placeholder='Gjenta Passord' addon_before='<span class="fa fa-key"></span>' show_label=False %}
                            {% buttons %}
                                <button type="submit" class="btn btn-success form-control">
                                    {% bootstrap_icon "check" %} Oppdater passord
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
