<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!-- Loads CSS and javascript-->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}
{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Skoleadministrasjon</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-margin" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.school_name addon_before='<span class="glyphicon glyphicon-home"></span>' %}
                {% bootstrap_field form.school_address addon_before='<span class="fa fa-map-marker"></span>' %}
                {% bootstrap_field form.school_administrator addon_before='<span class="glyphicon glyphicon-user"></span>' addon_after='<a data-toggle="modal" data-target="#addAdministrator" style="cursor: pointer;" id="addNewSchoolAdministratorBtn"><span id="createPerson" class="glyphicon glyphicon-plus"></span></a>' %}
                <div class="alert alert-success hidden" id="successMessageDiv">
                    <strong>Fullført!</strong>
                </div>
                {% bootstrap_field form.is_active %}
                <button type="submit" class="btn btn-success hidden" id="saveNewSchoolBtn">
                </button>
            </form>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success" onclick="submit()" id="saveNewSchoolBtnVisible">
                {% bootstrap_icon "check" %} Lagre
            </button>
        </div>
    </div>

    <script>
        /**
         * Function that runs when the document is ready, and hides the modalError div.
         */
        $(document).ready(function () {
            $("#modalError").hide();
            /**
             * Function that prevents the default submit and does an ajax-post call instead to create a new
             * school administrator user.
             */
            $('#schoolAdministratorForm').submit(function (e) {
                e.preventDefault();
                var first_name = $.trim($('#id_first_name').val());
                var last_name = $.trim($('#id_last_name').val());
                var email = $.trim($('#id_email').val());
                var date_of_birth = $.trim($('#id_date_of_birth').val());
                var sex = $.trim($('#id_sex').val());
                $.ajax({
                    type: 'POST',
                    url: '{% url 'administration:schoolCreate' %}',
                    data: {
                        'first_name': first_name,
                        'last_name': last_name,
                        'email': email,
                        'date_of_birth': date_of_birth,
                        'sex': sex,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: success,
                    error: error
                });
            });

        });
        /**
         * Function that clicks the saveNewSchoolBtn button.
         */
        var schoolSubmitted = false;
        function submit() {
            if(schoolSubmitted){
                return 0;
            }
            $('#saveNewSchoolBtn').click();
            schoolSubmitted = true;
        }
        /**
         * Function that clicks the administratorCreate button.
         */
        var administratorSubmitted = false;
        function modalsubmit() {
            if(administratorSubmitted){
                return 0;
            }
            $('#administratorCreate').click();
            administratorSubmitted = true;
        }
        /**
         * Function that runs when the ajax-post call is successful and shows some successfields.
         */
        function success(data) {
            var field = $('#id_school_administrator');
            if (data.message) {
                errorMessage(data.message);
            }
            else {
                field.append($("<option></option>").attr("value", data.id).text(data.first_name + " " + data.last_name + " - " + data.username));
                field.find('option[value="' + data.id + '"]').prop("selected", true);
                $('#successMessageDiv').append(data.first_name + " " + data.last_name + " ble lagt til med brukernavnet " + data.username)
                $('#addAdministrator').modal('hide');
                $("#successMessageDiv").removeClass("hidden");
                $("#successMessageDiv").fadeTo(5000, 500).slideUp(500, function () {
                    $("#selectTaskWarning").slideUp(500);
                });
                $("#modalError").hide();
            }
        }
        /**
         * Function that runs when the ajax-post call is not successful and prints out the errormessage.
         */
        function error(xhr) {
            alert(xhr.responseText)
        }
        /**
         * Function that shows error messages.
         */
        function errorMessage(message) {
            $("#modalError").show();
            $('#liError').remove();
            $('#errorMessage').append("<li id='liError'>" + message + "</li>")
            $("#modalError").fadeTo(5000, 500).slideUp(500, function () {
                $("#modalError").slideUp(500);
            });
        }
    </script>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="addAdministrator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Opprett administrator</h4>
                </div>
                <div class="modal-body">
                    <div id='modalError' class="alert alert-danger">
                        <strong>Noe gikk desverre galt.</strong>
                        <ul id="errorMessage"></ul>
                    </div>
                    <div class="form-margin">
                        <form id='schoolAdministratorForm' class="form-horizontal" action="" method="POST"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_field administratorForm.first_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                            {% bootstrap_field administratorForm.last_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                            {% bootstrap_field administratorForm.email addon_before='<span class=""><strong>@</strong></span>' %}
                            {% bootstrap_field administratorForm.date_of_birth addon_before='<span class="glyphicon glyphicon-calendar"></span>' placeholder='dd.mm.yyyy' %}
                            {% bootstrap_field administratorForm.sex addon_before='<span class="fa fa-venus-mars"></span>' %}
                            <button id='administratorCreate' type="submit" class="hidden">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id='administratorCreateVisible' type="button" class="btn btn-success"
                            onclick="modalsubmit()">
                        {% bootstrap_icon "check" %} Lagre
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}