{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>Skoleadministrasjon</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-margin" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_field form.school_name addon_before='<span class="glyphicon glyphicon-home"></span>' %}
                        {% bootstrap_field form.school_address addon_before='<span class="fa fa-map-marker"></span>' %}
                        {% bootstrap_field form.school_administrator addon_before='<span class="glyphicon glyphicon-user"></span>' addon_after='<a data-toggle="modal" data-target="#addAdministrator" style="cursor: pointer;"><span id="createPerson" class="glyphicon glyphicon-plus"></span></a>' %}
                        <div class="alert alert-success" id="successMessageDiv">
                            <strong>Fullført!</strong>
                        </div>
                        {% bootstrap_field form.is_active %}
                        <button type="submit" class="btn btn-success">
                            {% bootstrap_icon "check" %} Lagre
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#modalError").hide();
            $("#successMessageDiv").hide();
        });

        $(function () {
            $('#administratorCreate').click(function () {
                var message;

                var first_name = $.trim($('#id_first_name').val());
                var last_name = $.trim($('#id_last_name').val());
                var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
                var email = $.trim($('#id_email').val());
                var date_of_birth = $.trim($('#id_date_of_birth').val());
                var sex = $.trim($('#id_sex').val());

                if (first_name && last_name && testEmail.test(email) && date_of_birth && sex) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'administration:schoolCreate' %}',
                        data: {
                            'first_name': first_name,
                            'last_name': last_name,
                            'email': email,
                            'date_of_birth': date_of_birth,
                            'sex': sex,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        dataType: 'json',
                        success: searchSuccess,
                        error: searchError
                    });
                }
                else if (!testEmail.test(email) && first_name && last_name && date_of_birth && sex){
                    message = "Epost er ikke gyldig!";
                    Errormessage(message)
                }
                else {
                    message = "Vennligst fyll ut alle feltene korrekt";
                    Errormessage(message)
                }
            })
        });
        function searchSuccess(data) {
            var field = $('#id_school_administrator');
            if (data.message){
                Errormessage(data.message);
            }
            else{
               field.append($("<option></option>").attr("value", data.id).text(data.first_name + " " + data.last_name + " - " + data.username));
                field.find('option[value="' + data.id + '"]').prop("selected", true);
                $('#successMessageDiv').append(data.first_name + " " + data.last_name + " ble lagt til med brukernavnet " + data.username)
                $('#addAdministrator').modal('hide');
                $("#successMessageDiv").show();
                $("#modalError").hide();
            }
        }
        function searchError(xhr) {
            alert(xhr.responseText)
        }

        function Errormessage(message) {
            $("#modalError").show();
            $('#liError').remove();
            $('#errorMessage').append("<li id='liError'>" + message + "</li>")


        }


    </script>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="addAdministrator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Opprett administrator</h4>
                </div>
                <div class="modal-body">
                    <div id='modalError' class="alert alert-danger">
                        <strong>Noe gikk desverre galt.</strong>
                        <ul id="errorMessage"></ul>
                    </div>
                    <div class="form-margin">
                        <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_field administratorForm.first_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                            {% bootstrap_field administratorForm.last_name addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                            {% bootstrap_field administratorForm.email addon_before='<span class=""><strong>@</strong></span>' %}
                            {% bootstrap_field administratorForm.date_of_birth addon_before='<span class="glyphicon glyphicon-calendar"></span>' placeholder='dd.mm.yyyy' %}
                            {% bootstrap_field administratorForm.sex addon_before='<span class="fa fa-venus-mars"></span>' %}
                            <button id='administratorCreate' type="button" class="btn btn-success">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}