<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Skoler</h2>
            <div class="input-group">
                    <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                <input type="text" class="form-control" id="search"
                       onkeyup="schoolSearch('schooltable'); schoolSearch('inactivetable');"
                       placeholder="Søk etter skole">
            </div>
        </div>
        <div class="panel-body">
            {% bootstrap_messages %}
            <ul class="nav nav-tabs">
                <li class="nav active"><a href="#A" data-toggle="tab">Alle skoler</a></li>
                <li class="nav"><a href="#B" data-toggle="tab">Inaktive</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="A">
                    {% if object_list %}
                        <table class="table table-hover table-striped table-responsive" id="schooltable">
                            <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Adresse</th>
                                <th>Kontaktperson</th>
                                <th>Skoleinfo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for school in object_list %}
                                {% if school.is_active %}
                                    <tr class="clickable-row"
                                        data-href="{% url 'administration:schoolDetail' school.id %}"
                                        style="cursor: pointer" id="schoolTable">
                                        <td>{{ school.school_name }}</td>
                                        <td>{{ school.school_address }}</td>
                                        <td>
                                            {% if school.school_administrator.username %}
                                                <a href="{% url 'administration:personDetail' school.school_administrator.username %}">{{ school.school_administrator.get_full_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td><a class="btn btn-info"
                                               href="{% url 'administration:schoolDetail' school.id %}"><span
                                                class="glyphicon glyphicon-home" aria-hidden="true"></span> Se Skoleinfo</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>Ingen skoler er lagt til</h3>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="B">
                    {% if object_list %}
                        <table class="table table-hover table-striped table-responsive" id="inactivetable">
                            <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Adresse</th>
                                <th>Kontaktperson</th>
                                <th>Skoleinfo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for school in object_list %}
                                {% if not school.is_active %}
                                    <tr class="clickable-row"
                                        data-href="{% url 'administration:schoolDetail' school.id %}"
                                        style="cursor: pointer">
                                        <td>{{ school.school_name }}</td>
                                        <td>{{ school.school_address }}</td>
                                        <td>
                                            {% if school.school_administrator.username %}
                                                <a href="{% url 'administration:personDetail' school.school_administrator.username %}">{{ school.school_administrator.get_full_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td><a class="btn btn-info"
                                               href="{% url 'administration:schoolDetail' school.id %}"><span
                                                class="glyphicon glyphicon-home" aria-hidden="true"></span> Se Skoleinfo</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>Ingen skoler er lagt til</h3>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if request.user.role == 4 %}
            <div class="panel-footer">
                <a class="btn btn-primary" href="{% url 'administration:schoolCreate' %}"><span
                        class="glyphicon glyphicon-plus"
                        aria-hidden="true" id="addSchoolBtn"></span> Legg
                    til skole</a>
            </div>
            </div>
        {% endif %}

    <script>
        /**
         * This function makes table rows clickable.
         */
        jQuery(document).ready(function ($) {
            $(".alert-success").fadeTo(5000, 500).slideUp(500, function () {
                $('.alert-success').slideUp(500);
            });
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>

    <script>
        /**
         * This function matches the text in the search field with the content in the table with all schools
         * and removes rows that don't match the search criteria.
         */
        function schoolSearch(inputTable) {
            var input, filter, table, tr, td, i, td1, td2;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById(inputTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}