{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-primary" onclick="history.go(-1)"><span class="glyphicon glyphicon-arrow-left"
                                                                      aria-hidden="true"></span> Tilbake</a>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>Skoleadministrasjon</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        {% endbuttons %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}