{% extends 'matistikk/base.html' %}

{% block body %}
    <a href="{% url 'administration:schoolList' %}">
        <button type="button">Tilbake</button>
    </a>
    <h3>{{ school.school_name }}</h3>
    <h5>Adresse: {{ school.school_address }}</h5>
     <ul>
        {% for grade in grades %}
            <li>
                <a href="{% url 'administration:gradeDetail' school_pk=school.id pk=grade.id %}">
                    {{ grade.grade_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if request.user.is_superuser %}
        <a href="{% url 'administration:schoolUpdate' school.id %}">
            <button type="button">Oppdater skole</button>
        </a>
        <a href="{% url 'administration:gradeCreate' school.id %}">
            <button type="button">Legg til klasse</button>
        </a>
    {% endif %}
{% endblock %}