{% extends 'matistikk/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-primary" onclick="history.go(-1)"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tilbake</a>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>Brukeradministrasjon</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'matistikk/form-template.html' %}
                        {% if request.user.is_superuser %}
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Send Inn </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}