<!-- Loads staticfiles-->
{% load staticfiles %}
<!-- Loads customtags-->
{% load maths_extras %}
<head>
    <!--Imports bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Imports Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Imports bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Imports stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}"/>
    <!--Imports fullpage-->
    <script type="text/javascript" src="{% static 'maths/js/jquery.fullPage.min.js' %}"></script>
    <!--Imports fullpage css-->
    <link rel="stylesheet" type="text/css" href="{% static 'maths/css/jquery.fullPage.css' %}"/>
    <!--Imports geogebra-->
    <script type="text/javascript" src="{% static 'maths/js/deployggb.js' %}"></script>
    <!--Imports Tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports Mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");
    </script>
    <script src="{% static 'maths/js/jquery.scrollTo.min.js' %}"></script>


</head>
<body>
<div id="fullpage">
    <div id="loadingScreen" class="section active" data-anchor="loading" style="height: 100vh;">
        <div class="middle">
            <h2>Vennligst vent mens besvarelsen lastes inn.</h2>
        </div>
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
        <div class="col-md-6 col-centered" style="position: absolute; top: 75%; left: 25%;">

            <div class="progress progressbar">
                <div id="progressbar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="0%" aria-valuemin="0" aria-valuemax="{{ object_list.count }}" style="width:0%">
                </div>
            </div>
        </div>

    </div>
    {% for answer in object_list %}
        <div class="section" data-anchor="oppgave{{ forloop.counter }}">
            <div id="task{{ forloop.counter }}" class="col-xs-12 container-fluid" data-taskid="{{ answer.item.id }}">
                {% if forloop.first %}
                    <span id="taskcount" hidden>{{ answer.test.task_collection.items.all.count }}</span>
                    <span id="testid" hidden>{{ answer.test.id }}</span>
                {% endif %}
                <div class="panel panel-info">
                    <div class="panel-heading" style="padding-top: 1px">
                        <h3 class="text-center">Oppgave {{ forloop.counter }} - {{ answer.timespent|floatformat:"0" }}
                            Sekunder</h3>
                    </div>
                    {% get_geogebra answer as geogebra %}
                    {% if geogebra %}
                        {% for geo in geogebra %}
                            <div class="col-sm-6 geogebra">
                                <input id="base64{{ forloop.parentloop.counter }}" type="text"
                                       value="{{ geo.base64 }}" hidden data-variables="{{ answer.item.variables }}">
                                <div id="applet_container{{ forloop.parentloop.counter }}"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="tasktextdiv">
                                        <textarea id="tasktext{{ answer.item.id }}">
                                            <h4>{{ answer.item.task.text | safe }}</h4>
                                        </textarea>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-tabs">
                                            <li class="nav active"><a href="#answer{{ forloop.parentloop.counter }}"
                                                                      data-toggle="tab">Besvarelse</a>
                                            </li>
                                            <li class="nav"><a href="#approach{{ forloop.parentloop.counter }}"
                                                               data-toggle="tab">Fremgangsmåte</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active"
                                                 id="answer{{ forloop.parentloop.counter }}">
                                                {% if answer.item.task.answertype == 1 %}
                                                    <div id="textanswerdiv">
                                                        <label for="taxtanswer{{ answer.item.id }}">Tekstsvar</label>
                                                        <textarea readonly class="form-control"
                                                                  id="textanswer{{ answer.item.id }}"
                                                                  rows="6"
                                                                  style="resize:vertical">{{ answer.text }}</textarea>
                                                    </div>
                                                {% elif answer.item.task.answertype == 2 %}
                                                    <div id="multiplechoicediv">
                                                        {% get_mutiplechoice answer.item.task as multiplechoicetasks %}
                                                        {% for multiplechoicetask in multiplechoicetasks %}
                                                            <div id="{{ answer.item.id }}multipleChoiceAlt{{ forloop.counter }}"
                                                                 class="multipleChoiceAlt{{ answer.item.id }}">
                                                                {% if multiplechoicetask.question %}
                                                                    <label for=multipleChoice>{{ multiplechoicetask.question }}</label>
                                                                {% else %}
                                                                    <label for=multipleChoice>Svaralternativer:</label>
                                                                {% endif %}
                                                                <br>
                                                                {% get_multiplechoice_options multiplechoicetask as options %}
                                                                {% for option in options %}
                                                                    {% multiplechoice_answered option answer.text forloop.parentloop.counter as answered %}
                                                                    {% if option.correct %}
                                                                        <span class="glyphicon glyphicon-ok"
                                                                              style="color: green"></span>
                                                                    {% else %}
                                                                        <span class="glyphicon glyphicon-remove"
                                                                              style="color: red;"></span>
                                                                    {% endif %}
                                                                    {% if multiplechoicetask.checkbox %}
                                                                        <label class="checkbox-inline"><input
                                                                                type="checkbox"
                                                                                class="checkbox{{ answer.item.id }}"
                                                                                value="{{ option.option }}"
                                                                                {% if answered %}checked{% endif %}>{{ option.option }}
                                                                        </label>
                                                                    {% else %}
                                                                        <label class="radio-inline"><input type="radio"
                                                                                                           value="{{ option.option }}"
                                                                                                           class="checkbox{{ answer.item.id }}"
                                                                                                           name="{{ forloop.parentloop.counter }}choices{{ answer.item.id }}"
                                                                                                           {% if answered %}checked{% endif %}>{{ option.option }}
                                                                        </label>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if answer.item.task.reasoning %}
                                                    <div id="reasoningdiv">
                                                        <label for="reasoning{{ answer.item.id }}">Begrunnelse</label>
                                                        <textarea readonly class="form-control"
                                                                  id="reasoning{{ answer.item.id }}"
                                                                  rows="6"
                                                                  style="resize:vertical">{{ answer.reasoning }}</textarea>
                                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="tab-pane fade" id="approach{{ forloop.parentloop.counter }}">
                                                <div class="modalOverflow">
                                                    {% if geo.data %}
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Tid</th>
                                                                <th>Operasjon</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            {% split_geo geo.data as approach %}
                                                            {% for test in approach %}
                                                                {% split_geo2 test as geoapproach %}
                                                                <tr>
                                                                    {% for geotable in geoapproach %}
                                                                        <td>
                                                                            {% if forloop.first %}
                                                                                {{ geotable }} sek
                                                                            {% else %}
                                                                                {{ geotable }}
                                                                            {% endif %}
                                                                        </td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    {% else %}
                                                        <h3 style="padding-top: 10px;">Geogebra ble ikke brukt.</h3>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="tasktextdiv">
                                    <textarea id="tasktext{{ answer.item.id }}">
                                        <h4>{{ answer.item.task.text | safe }}</h4>
                                    </textarea>
                                </div>
                                <div class="panel-body">
                                    {% if answer.item.task.answertype == 1 %}
                                        <div id="textanswerdiv">
                                            <label for="textanswer{{ answer.item.id }}">Tekstsvar</label>
                                            <textarea readonly class="form-control"
                                                      id="textanswer{{ answer.item.id }}"
                                                      rows="6"
                                                      style="resize:vertical">{{ answer.text }}</textarea>
                                        </div>
                                    {% elif answer.item.task.answertype == 2 %}
                                        <div id="multiplechoicediv">
                                            {% get_mutiplechoice answer.item.task as multiplechoicetasks %}
                                            {% for multiplechoicetask in multiplechoicetasks %}
                                                <div id="{{ answer.item.id }}multipleChoiceAlt{{ forloop.counter }}"
                                                     class="multipleChoiceAlt{{ answer.item.id }}">
                                                    {% if multiplechoicetask.question %}
                                                        <label for=multipleChoice>{{ multiplechoicetask.question }}</label>
                                                    {% else %}
                                                        <label for=multipleChoice>Svaralternativer:</label>
                                                    {% endif %}
                                                    <br>
                                                    {% get_multiplechoice_options multiplechoicetask as options %}
                                                    {% for option in options %}
                                                        {% multiplechoice_answered option answer.text forloop.parentloop.counter as answered %}
                                                        {% if option.correct %}
                                                            <span class="glyphicon glyphicon-ok"
                                                                  style="color: green"></span>
                                                        {% else %}
                                                            <span class="glyphicon glyphicon-remove"
                                                                  style="color: red;"></span>
                                                        {% endif %}
                                                        {% if multiplechoicetask.checkbox %}
                                                            <label class="checkbox-inline"><input
                                                                    type="checkbox"
                                                                    class="checkbox{{ answer.item.id }}"
                                                                    value="{{ option.option }}"
                                                                    {% if answered %}checked{% endif %}>{{ option.option }}
                                                            </label>
                                                        {% else %}
                                                            <label class="radio-inline"><input type="radio"
                                                                                               {% if answered %}checked{% endif %}
                                                                                               value="{{ option.option }}"
                                                                                               class="checkbox{{ answer.item.id }}"
                                                                                               name="{{ forloop.parentloop.counter }}choices{{ answer.item.id }}">{{ option.option }}
                                                            </label>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if answer.item.task.reasoning %}
                                        <div id="reasoningdiv">
                                            <label for="reasoning{{ answer.item.id }}">Begrunnelse</label>
                                            <textarea readonly class="form-control"
                                                      id="reasoning{{ answer.item.id }}"
                                                      rows="6"
                                                      style="resize:vertical">{{ answer.reasoning }}</textarea>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<nav id="tasknav" class="navbar navbar-default navbar-fixed-bottom hidden">
    <div class="row">
        <div class="col-centered">
            <button id="prevTaskBtn" class="btn btn-primary btn-lg border-radius" disabled="disabled" type="button"
                    onclick="previousTask()"><i class="fa fa-arrow-left"
                                                aria-hidden="true"></i>
                Forrige oppgave
            </button>
            <ul id="taskBtnList" class="nav navbar-nav scrollbar"
                style="white-space: nowrap; overflow-x: auto; max-width: 60vw">
                {% for item in object_list %}
                    <li id="liOppgave{{ forloop.counter }}" data-menuanchor="oppgave{{ forloop.counter }}"
                        style="display: inline-block; float: none;">
                        <a type="button" onclick="goToTask({{ forloop.counter }})"
                           style="cursor: pointer">Oppgave {{ forloop.counter }} </a>
                    </li>
                {% endfor %}
            </ul>
            <button id="nextTaskBtn" class="btn btn-primary btn-lg border-radius" type="button"
                    onclick="nextTask()"><span
                    id="nextTaskBtnText">Neste Oppgave</span> <i
                    class="fa fa-arrow-right"
                    aria-hidden="true"></i></button>
            <ul id="endTestNav" class="nav navbar-nav navbar-right">
                <a class="btn btn-danger btn-lg pull-right border-radius" style="margin-right: 20px;"
                   onclick="goBack()">Avslutt fremvisning</a>
            </ul>
        </div>

    </div>
</nav>
</body>


<script>
    /**
     * Adds tinymce to the textareas.
     */
    var taskcount = $('.section').length;
    var divheight = document.getElementById('tasktextdiv').clientHeight;
    for (var i = 0; i < taskcount; i++) {
        var div = $('#task' + (i + 1));
        var taskid = div.data('taskid');

        tinymce.init({
            selector: '#tasktext' + taskid,
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            height: '' + (divheight - 25),
            readonly: 1,
            body_id: 'tasktextID'
        });
        if ($('#textanswer' + taskid).length) {
            tinymce.init({
                selector: '#textanswer' + taskid,
                plugins: 'placeholder',
                content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
                toolbar: false,
                menubar: false,
                statusbar: false,
                readonly: 1
            });
        }
        if ($('#reasoning' + taskid).length) {
            tinymce.init({
                selector: '#reasoning' + taskid,
                plugins: 'placeholder',
                content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
                toolbar: false,
                menubar: false,
                statusbar: false,
                readonly: 1
            });
        }
    }
    var viewPortWidth = 1200;
    var viewPortHeight = 750;
    var geocount = $('.geogebra').length;
    var geoFinished = false;
    var onLeave = false;
    var geoloaded = 0;
    var base64;
    var parameters;

    if (typeof window.innerWidth != 'undefined' && window.innerWidth > 1000) {
        viewPortWidth = window.innerWidth * 0.49;
        viewPortHeight = window.innerHeight * 0.7;
    }

    var applet = [];
    for (var i = 0; i < taskcount; i++) {
        if (document.getElementById('base64' + (i + 1)) != null) {
             var geoInfo = $('#base64' + (i + 1));
            base64 = geoInfo.val();
            parameters = {
                "id": "ggbApplet" + (i + 1),
                "width": viewPortWidth,
                "language": "nb",
                "height": viewPortHeight,
                "customToolBar": [0],
                "showToolBar": false,
                "showToolBarHelp": false,
                "borderColor": null,
                "showMenuBar": true,
                "capturingThreshold": null,
                "errorDialogsActive": true,
                "preventFocus": true,
                "useBrowserForJS": false,
                "ggbBase64": base64
            };
            parameters.appletOnLoad = function () {
                geoloaded += 1;
                var notGeo = parseInt(taskcount - geocount);
                var percent = ((geoloaded + notGeo) / taskcount) * 100;
                $('#progressbar').css('width', percent + '%');
                if (geoloaded == geocount) {
                    addVariables();
                    setTimeout(function () {
                        geoFinished = true;
                        goToTask(1);
                        $(".sk-cube-grid").remove();
                        $('#tasknav').removeClass('hidden');
                    }, 500);
                }
            };
        }
        var app = new GGBApplet(parameters, '5.0', 'applet_container' + (i + 1));
        app.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');
        applet.push(app);
    }

    function addVariables() {
        for (var i = 1; i <= taskcount; i++) {
            var variables = $('#base64' + i).data('variables');
            if (variables) {
                var variableTable = variables.split('|||||');
                for (var x = 0; x < variableTable.length; x++) {
                    window["ggbApplet" + i].setValue('matistikkParameter' + parseInt(x + 1), variableTable[x]);
                }
            }
        }
    }
    /**
     * Function that runs when the document is ready, and sets up the fullpage plugin.
     */
    $(document).ready(function () {
        var notGeo = parseInt(taskcount - geocount);
        var percent = ((geoloaded + notGeo) / taskcount) * 100;
        $('#progressbar').css('width', percent + '%');
        $('#fullpage').fullpage({
            menu: '#taskBtnList',
            lockAnchors: true,
            scrollingSpeed: 1,
            scrollBar: true,
            onLeave: function (index, nextIndex, direction) {
                if (!geoFinished) {
                    return false;
                }
                onLeave = true;
                $('#taskBtnList').scrollTo(document.getElementById("liOppgave" + parseInt(nextIndex - 1)));
                var numTasks = $('.section').length;
                if (nextIndex == 2) {
                    $('#nextTaskBtn').attr('disabled', false);
                    $('#prevTaskBtn').attr('disabled', 'disabled');
                } else if (nextIndex == numTasks) {
                    $('#prevTaskBtn').attr('disabled', false);
                    $('#nextTaskBtn').attr('disabled', 'disabled');
                } else {
                    $('#nextTaskBtn').attr('disabled', false);
                    $('#prevTaskBtn').attr('disabled', false);
                }
            }
        });
        if (geocount == 0) {
            geoFinished = true;
            goToTask(1);
            $(".sk-cube-grid").remove();
            $('#tasknav').removeClass('hidden');
        }
        for (var k = 0; k < taskcount; k++) {
            if (document.getElementById('applet_container' + (k + 1)) != null) {
                applet[k].inject('applet_container' + (k + 1), 'preferhtml5');
            }
        }
        $("body").css({"overflow": "hidden"});
        $.fn.fullpage.setMouseWheelScrolling(false);
        $.fn.fullpage.setAllowScrolling(false);
    });
    $(':radio,:checkbox').click(function () {
        return false;
    });
    /**
     * Keeps the page from scrolling to focus the geogebra applet. Only in google chrome browser.
     */
    $(window).scroll(function () {
        if (window.chrome) {
            if (onLeave == false) {
                scrollTo(0, 10);
            }
        }
    });

    /**
     * Function that moves the view to the next task.
     */
    function goToTask(task) {
        var nextIndex = parseInt(task) + 1;
        $('#fullpage').fullpage.moveTo(nextIndex);
    }
    /**
     * Function that returns the user to the previous page visited.
     */
    function goBack() {
        window.history.back();
    }
    /**
     * Runs when left or right arrow is released, takes the user to the next or previous task.
     */
    $(document).on('keyup', function (e) {
        if (e.keyCode == 37) {
            if (!$('#prevTaskBtn').is(':disabled')) {
                $('#prevTaskBtn').click();
            }
        }
        if (e.keyCode == 39) {
            $('#nextTaskBtn').click()
        }
    });
    /**
     * Function that moves the view to the next task.
     */
    function nextTask() {
        $('#fullpage').fullpage.moveSectionDown();
    }
    /**
     * Function that moves the view to the previous task.
     */
    function previousTask() {
        $('#fullpage').fullpage.moveSectionUp();
    }

</script>
