{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matistikk - {{ test }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'maths/css/jquery.fullPage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpeg" href="http://bildr.no/view/WS9ITTNK">
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'maths/js/deployggb.js' %}"></script>
    <script type="text/javascript" src="{% static 'maths/js/scrolloverflow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'maths/js/jquery.fullPage.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


    <script type="text/javascript" src="{% static 'maths/js/blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");
    </script>
</head>

<body>
<div class="row">
    <form action="" method="post" hidden>
        {% csrf_token %}
        {% for form in formlist %}
            {{ form }}
        {% endfor %}
        <button id="submitbutton" type="submit">Send inn</button>
    </form>
    <nav id="tasknav" class="navbar navbar-default navbar-fixed-bottom hidden">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="taskbar" style="text-align: center;">
                <button id="prevTaskBtn" class="btn btn-primary btn-lg" disabled="disabled" type="button"
                        onclick="previousTask()"><i class="fa fa-arrow-left"
                                                    aria-hidden="true"></i>
                    Forrige oppgave
                </button>
                <ul id="taskBtnList" class="nav navbar-nav" style="display: inline-block; float: none;">

                    {% for task in test.task_collection.tasks.all %}
                        <li data-menuanchor="oppgave{{ forloop.counter }}">
                            <a type="button" onclick="goToTask({{ forloop.counter }})"
                               style="cursor: pointer">Oppgave {{ forloop.counter }} </a>
                        </li>
                    {% endfor %}
                    <li data-menuanchor="summary">
                        <a type="button" onclick="checkTest(); goToTask(0)" style="cursor:pointer;">Oppsummering</a>
                    </li>
                    <button id="nextTaskBtn" class="btn btn-primary btn-lg" type="button" onclick="nextTask()"><span
                            id="nextTaskBtnText">Neste Oppgave</span> <i
                            class="fa fa-arrow-right"
                            aria-hidden="true"></i></button>
                </ul>
                <ul id="endTestNav" class="nav navbar-nav navbar-right">
                    <a class="btn btn-success btn-lg" type="button" onclick="submitTask()">Send Inn</a>
                    <a class="btn btn-danger btn-lg pull-right" data-toggle='modal' data-target='#exitTestModal'>Avbryt
                        Test</a>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="fullpage">
    <div id="loadingScreen" class="section active" data-anchor="loading" style="height: 100vh;">
        <div class="middle">
            <h2>Vennligst vent mens testen lastes inn.</h2>
        </div>
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    {% if test.randomOrder %}
        {% for task in randomtest %}
            <div class="section" data-anchor="oppgave{{ forloop.counter }}">
                <div id="task{{ forloop.counter }}" class="col-xs-12 container-fluid"
                     data-taskid="{{ task.id }}">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Oppgave {{ forloop.counter }}</h3>
                        </div>
                        {% if forloop.first %}
                            <span id="geocount" hidden>{{ geogebratask.count }}</span>
                            <span id="taskcount" hidden>{{ test.task_collection.tasks.all.count }}</span>
                        {% endif %}
                        {% if task.extra %}
                            <div class="col-sm-6" id="geogebradiv">
                                {% for geogebra in geogebratask %}
                                    {% if task.id == geogebra.task_id %}
                                        <input id="base64{{ forloop.parentloop.counter }}" type="text"
                                               value="{{ geogebra.base64 }}" hidden>
                                    {% endif %}
                                {% endfor %}
                                <div id="applet_container{{ forloop.counter }}"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" id="tasktextdiv">
                                        <textarea id="tasktext{{ forloop.counter }}" >
                                            <h4>{{ task.text | safe }}</h4>
                                        </textarea>
                                    </div>
                                    <div class="panel-body">
                                        {% if task.answertype == 1 %}
                                            <div id="textanswerdiv">
                                                <label for="answer">Tekstsvar</label>
                                                <textarea class="form-control" id="answer{{ task.id }}" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Skriv svaret ditt her..."></textarea>
                                            </div>
                                        {% elif task.answertype == 2 %}
                                            <div id="multiplechoicediv">
                                                <label>Svaralternativer</label>
                                                <div id="optionsdiv{{ task.id }}">
                                                    {% for option in options %}
                                                        {% if option.task_id == task.id %}
                                                            <input type="radio" name="multiplechoice{{ task.id }}"
                                                                   value="{{ option.option }}">
                                                            {{ option.option }}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if task.reasoning %}
                                            <div id="reasoningdiv">
                                                <label for="reasoning{{ task.id }}">Begrunnelse</label>
                                                <textarea class="form-control" id="reasoning{{ task.id }}" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Begrunn svaret ditt..."></textarea>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>{{ task.text | safe }}</h4>
                                    </div>
                                    <div class="panel-body">
                                        {% if task.answertype == 1 %}
                                            <div id="textanswerdiv">
                                                <label for="answer">Tekstsvar</label>
                                                <textarea class="form-control" id="answer{{ task.id }}" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Skriv svaret ditt her..."></textarea>
                                            </div>
                                        {% elif task.answertype == 2 %}
                                            <div id="multiplechoicediv">
                                                <label>Svaralternativer</label>
                                                <div id="optionsdiv{{ task.id }}">
                                                    {% for option in options %}
                                                        {% if option.task_id == task.id %}
                                                            <input type="radio" name="multiplechoice{{ task.id }}"
                                                                   value="{{ option.option }}">
                                                            {{ option.option }}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if task.reasoning %}
                                            <div id="reasoningdiv">
                                                <label for="reasoning{{ task.id }}">Begrunnelse</label>
                                                <textarea class="form-control" id="reasoning{{ task.id }}" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Begrunn svaret ditt..."></textarea>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.last %}
                <div class="section" data-anchor="summary">
                    <div id="summary" class="col-xs-12 container-fluid" style="min-height: 100vh">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Oppsummering</h3>
                            </div>
                            <div class="panel-body">
                                <button class="btn btn-default btn-lg" onclick="checkTest()"><i
                                        class="fa fa-refresh" aria-hidden="true"></i> Oppdater liste
                                </button>
                                <table class="table table-hover table-striped table-responsive" id="summarytable">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2">Oppgave</th>
                                        <th class="col-xs-8">Status</th>
                                        <th class="col-xs-2">Gå til</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tableBody">
                                    {% for task in randomtest %}
                                        <tr id="summarytask{{ task.id }}">
                                            <td>Oppgave {{ forloop.counter }}</td>
                                            <td id="status{{ task.id }}">Status</td>
                                            <td><a type="button" class="btn btn-default"
                                                   onclick="goToTask({{ forloop.counter }})"><i
                                                    class="fa fa-arrow-right" aria-hidden="true"></i> Gå til oppgave</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for taskorder in test.taskorder_set.all %}
            <div class="section" data-anchor="oppgave{{ forloop.counter }}">
                <div id="task{{ forloop.counter }}" class="col-xs-12 container-fluid"
                     data-taskid="{{ taskorder.task.id }}">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Oppgave {{ forloop.counter }}</h3>
                        </div>
                        {% if forloop.first %}
                            <span id="geocount" hidden>{{ geogebratask.count }}</span>
                            <span id="taskcount" hidden>{{ test.task_collection.tasks.all.count }}</span>
                        {% endif %}
                        {% if taskorder.task.extra %}
                            <div class="col-sm-6" id="geogebradiv">
                                {% for geogebra in geogebratask %}
                                    {% if taskorder.task.id == geogebra.task_id %}
                                        <input id="base64{{ forloop.parentloop.counter }}" type="text"
                                               value="{{ geogebra.base64 }}" hidden>
                                    {% endif %}
                                {% endfor %}
                                <div id="applet_container{{ forloop.counter }}"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="max-height: 30vh; overflow: auto" id="tasktextdiv">
                                        <textarea id="tasktext{{ forloop.counter }}" style="cursor:pointer;">
                                            <h4>{{ taskorder.task.text | safe }}</h4>
                                        </textarea>
                                    </div>
                                </div>
                                <div class="panel-body" style="max-height: 30vh; overflow: auto">
                                    {% if taskorder.task.answertype == 1 %}
                                        <div id="textanswerdiv">
                                            <label for="answer{{ taskorder.task.id }}">Tekstsvar</label>
                                            <textarea class="form-control" id="answer{{ taskorder.task.id }}"
                                                      rows="6"
                                                      style="resize:vertical"
                                                      placeholder="Skriv svaret ditt her..."></textarea>
                                        </div>
                                    {% elif taskorder.task.answertype == 2 %}
                                        <div id="multiplechoicediv">
                                            <label>Svaralternativer</label>
                                            <div id="optionsdiv{{ taskorder.task.id }}">
                                                {% for option in options %}
                                                    {% if option.task_id == taskorder.task.id %}
                                                        <input type="radio"
                                                               name="multiplechoice{{ taskorder.task.id }}"
                                                               value="{{ option.option }}">
                                                        {{ option.option }}<br>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if taskorder.task.reasoning %}
                                        <div id="reasoningdiv">
                                            <label for="reasoning{{ taskorder.task.id }}">Begrunnelse</label>
                                            <textarea class="form-control" id="reasoning{{ taskorder.task.id }}"
                                                      rows="6"
                                                      style="resize:vertical"
                                                      placeholder="Begrunn svaret ditt..."></textarea>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>{{ taskorder.task.text | safe }}</h4>
                                    </div>
                                    <div class="panel-body">
                                        {% if taskorder.task.answertype == 1 %}
                                            <div id="textanswerdiv">
                                                <label for="answer">Tekstsvar</label>
                                                <textarea class="form-control" id="answer" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Skriv svaret ditt her..."></textarea>
                                            </div>
                                        {% elif taskorder.task.answertype == 2 %}
                                            <div id="multiplechoicediv">
                                                <label>Svaralternativer</label>
                                                <div id="optionsdiv{{ taskorder.task.id }}">
                                                    {% for option in options %}
                                                        {% if option.task_id == taskorder.task.id %}
                                                            <input type="radio"
                                                                   name="multiplechoice{{ taskorder.task.id }}"
                                                                   value="{{ option.option }}">
                                                            {{ option.option }}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if taskorder.task.reasoning %}
                                            <div id="reasoningdiv">
                                                <label for="reasoning">Begrunnelse</label>
                                                <textarea class="form-control" id="reasoning" rows="6"
                                                          style="resize:vertical"
                                                          placeholder="Begrunn svaret ditt..."></textarea>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>
            </div>
            {% if forloop.last %}
                <div class="section" data-anchor="summary2">
                    <div id="summary" class="col-xs-12 container-fluid">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Oppsummering</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped table-responsive" id="summarytable">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2">Oppgave</th>
                                        <th class="col-xs-8">Status</th>
                                        <th class="col-xs-2">Gå til</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tableBody">
                                    {% for task in test.taskorder_set.all %}
                                        <tr id="summarytask{{ task.task.id }}">
                                            <td>Oppgave {{ forloop.counter }}</td>
                                            <td id="status{{ task.task.id }}">Status</td>
                                            <td><a class="btn btn-default" onclick="goToTask({{ forloop.counter }})"><i
                                                    class="fa fa-arrow-right" aria-hidden="true"></i> Gå til
                                                oppgave</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
</div>

</body>

<div class="modal fade" id="exitTestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Er du sikker på at du vil avslutte testen? Ingen svar vil bli lagret dersom
                    du avslutter nå.</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 49%; height: 10em">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"
                              style="font-size: 5em"></span><br>
                    Ta meg tilbake til testen
                </button>
                <a type="button" class="btn btn-danger" href="{% url 'maths:index' %}"
                   style="width: 49%; height: 10em"><br><span
                        class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 5em"></span><br>
                    Avslutt test
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    /*$("body").bind("mousewheel", function () {
     return false;
     });*/
    var geoFinished = false;
    var onLeave = false;
    var goToNextTask = false;
    var strictOrder = "{{ test.strictOrder }}";
    var taskcount = document.getElementById('taskcount').innerHTML;
    $(document).ready(function () {
        for (i = 0; i < taskcount; i++) {
            tinymce.init({
                selector: '#tasktext'+ (i+1),
                content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
                toolbar: false,
                menubar: false,
                statusbar: false,
                border: false
            });
        }
        $('#fullpage').fullpage({
            menu: '#taskBtnList',
            loopBottom: false,
            lockAnchors: true,
            loopTop: false,
            scrollingSpeed: 1,
            scrollBar: true,
            onLeave: function (index, nextIndex, direction) {
                if (!geoFinished) {
                    return false;
                }
                onLeave = true;
                var summary = parseInt(taskcount) + 2;
                var tasksnr = parseInt(taskcount) + 1;
                if (strictOrder == 'False') {
                    if (nextIndex == tasksnr) {
                        if (tasksnr == 2) {
                            $('#prevTaskBtn').attr('disabled', 'disabled');
                        }
                        $('#nextTaskBtnText').text('Oppsummering');
                        $('#nextTaskBtn').attr('disabled', false);
                    } else if (nextIndex == 2) {
                        $('#prevTaskBtn').attr('disabled', 'disabled');
                        $('#nextTaskBtn').attr('disabled', false);
                        $('#nextTaskBtnText').text('Neste Oppgave');
                    } else if (nextIndex == summary) {
                        checkTest();
                        $('#nextTaskBtn').attr('disabled', 'disabled');
                        $('#prevTaskBtn').attr('disabled', false);
                        $('#nextTaskBtnText').text('Oppsummering');
                    } else {
                        $('#nextTaskBtn').attr('disabled', false);
                        $('#nextTaskBtnText').text('Neste Oppgave');
                        $('#prevTaskBtn').attr('disabled', false);
                    }
                } else {
                    if (nextIndex == tasksnr) {
                        $('#nextTaskBtnText').text('Oppsummering');
                    }
                    var nextTask = index + 1;
                    if (direction == 'Up') {
                        return false;
                    } else if (nextTask != nextIndex) {
                        if (nextTask < nextIndex) {
                            bootbox.alert({
                                title: "Låst rekkefølge!",
                                message: "Denne testen har låst rekkefølge, vennligst gjør ferdig oppgaven for å gå videre til neste.",
                                backdrop: true
                            });
                        } else {
                            bootbox.alert({
                                title: "Låst rekkefølge!",
                                message: "Denne testen har låst rekkefølge, det er derfor ikke mulig å gå tilbake.",
                                backdrop: true,
                            });
                        }
                        return false;
                    } else if (index > 1) {
                        if (!goToNextTask) {
                            var checkTaskValue = checkTask((parseInt(index) - 1));
                            if (checkTaskValue) {
                                var confirmBtnText = "Gå til neste oppgave";
                                var confirmText = "Denne testen har låst rekkefølge. Det vil si at du ikke kan gå tilbake til tidligere oppgaver. Gjør deg derfor helt ferdig før du går videre til neste oppgave.";
                                if (nextIndex == summary) {
                                    $('#nextTaskBtn').attr('disabled', 'disabled');
                                    checkTest();
                                    confirmBtnText = "Gå til oppsummering";
                                    confirmText = "Dette var den siste oppgave i denne testen. Gå videre til oppsummeringen for å levere.";
                                }
                                bootbox.confirm({
                                    size: "medium",
                                    title: confirmBtnText + "?",
                                    message: confirmText,
                                    backdrop: true,
                                    buttons: {
                                        cancel: {
                                            label: '<i class="fa fa-times"></i> Avbryt'
                                        },
                                        confirm: {
                                            label: '<i class="fa fa-check"></i> ' + confirmBtnText,
                                            className: 'btn-success'
                                        }
                                    },
                                    callback: function (result) {
                                        if (result) {
                                            goToNextTask = true;
                                            goToTask(index);
                                        }
                                    }
                                });
                            } else {
                                bootbox.alert({
                                    title: "Fyll ut alle svarfelter!",
                                    message: "Vennligst fyll ut alle svarfelter før du går videre til neste oppgave.",
                                    backdrop: true,
                                });
                            }

                            return false;
                        }
                        goToNextTask = false;
                    }

                }
            }
        });
        for (var k = 0; k < taskcount; k++) {
            if (document.getElementById('applet_container' + (k + 1)) != null) {
                applet[k].inject('applet_container' + (k + 1), 'preferhtml5');
            }
        }
        $("body").css({"overflow": "hidden"});
        $.fn.fullpage.setMouseWheelScrolling(false);
        $.fn.fullpage.setAllowScrolling(false);


    });
    function nextTask() {
        $('#fullpage').fullpage.moveSectionDown();
    }

    function previousTask() {
        $('#fullpage').fullpage.moveSectionUp();
    }

    function goToTask(task) {
        if (task == 0) {
            var numItems = $('.section').length;
            $('#fullpage').fullpage.moveTo(numItems);
        } else {
            var nextIndex = parseInt(task) + 1;
            $('#fullpage').fullpage.moveTo(nextIndex);
        }
    }
    $(document).on('keyup', function (e) {
        if (e.keyCode == 37) {
            if (!$('#prevTaskBtn').is(':disabled')) {
                $('#prevTaskBtn').click();
            }
        }
        if (e.keyCode == 39) {
            $('#nextTaskBtn').click()
        }
    });

    $(window).scroll(function () {
        if (window.chrome) {
            if (onLeave == false) {
                scrollTo(0, 10);
            }
        }
    });

    var viewPortWidth = 1200;
    var viewPortHeight = 750;
    var geocount = document.getElementById('geocount').innerHTML;
    var geoloaded = 0;
    var base64;
    var parameters;

    if (typeof window.innerWidth != 'undefined' && window.innerWidth > 1000) {
        viewPortWidth = window.innerWidth * 0.49;
        viewPortHeight = window.innerHeight * 0.7;
    }

    function ggbOnInit(applet) {
        geoloaded += 1;
        if (geoloaded == geocount) {
            setTimeout(function () {
                geoFinished = true;
                goToTask(1);
                $(".sk-cube-grid").remove();
                $('#tasknav').removeClass('hidden');
            }, 1000);
        }
    }


    var applet = [];
    for (var i = 0; i < taskcount; i++) {
        if (document.getElementById('base64' + (i + 1)) != null) {
            base64 = document.getElementById('base64' + (i + 1)).value;
            parameters = {
                "id": "ggbApplet" + (i + 1),
                "width": viewPortWidth,
                "language": "nb",
                "height": viewPortHeight,
                "showToolBar": true,
                "borderColor": null,
                "showMenuBar": true,
                "allowStyleBar": true,
                "enableLabelDrags": false,
                "enableShiftDragZoom": true,
                "capturingThreshold": null,
                "showToolBarHelp": false,
                "errorDialogsActive": true,
                "showTutorialLink": false,
                "showLogging": false,
                "preventFocus": true,
                "useBrowserForJS": true,
                "ggbBase64": base64
            };
        }
        var app = new GGBApplet(parameters, '5.0', 'applet_container' + (i + 1));
        app.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');
        applet.push(app);
    }
    //  when used with Math Apps Bundle, uncomment this:
    // applet.setHTML5Codebase('GeoGebra/HTML5/5.0/web3d/');

    function checkTest() {
        var flag = true;
        for (var i = 0; i < taskcount; i++) {
            var taskflag = true;
            var div = $('#task' + (i + 1));
            var taskid = div.data('taskid');
            var textanswer = document.getElementById('answer' + taskid);
            var reasoning = document.getElementById('reasoning' + taskid);
            var multiplechoice = document.getElementById('optionsdiv' + taskid);
            var multiplechoiceanswer = $("input[name=multiplechoice" + taskid + "]:checked").val();
            var status = document.getElementById('status' + taskid);
            status.innerHTML = "";

            if (textanswer) {
                if (textanswer.value == "" || textanswer.value == null) {
                    status.innerHTML += "Mangler tekstsvar | ";
                    status.parentNode.className = "danger";
                    flag = false;
                    taskflag = false;
                }
            }

            if (reasoning) {
                if (reasoning.value == "" || reasoning.value == null) {
                    status.innerHTML += "Mangler begrunnelse | ";
                    status.parentNode.className = "danger";
                    flag = false;
                    taskflag = false;
                }
            }

            if (multiplechoice) {
                if (typeof multiplechoiceanswer == "undefined") {
                    status.innerHTML += "Mangler svar på flervalg | ";
                    status.parentNode.className = "danger";
                    flag = false;
                    taskflag = false;
                }
            }

            if (taskflag) {
                status.innerHTML = "Denne oppgaven har ingen mangler";
                status.parentNode.className = "success";
            }
        }
        return flag;
    }

    function checkTask(task) {
        var div = $('#task' + task);
        var taskid = div.data('taskid');
        var textanswer = document.getElementById('answer' + taskid);
        var reasoning = document.getElementById('reasoning' + taskid);
        var multiplechoice = document.getElementById('optionsdiv' + taskid);
        var multiplechoiceanswer = $("input[name=multiplechoice" + taskid + "]:checked").val();
        if (textanswer) {
            if (!textanswer.value) {
                return false;
            }
        }
        if (reasoning) {
            if (!reasoning.value) {
                return false;
            }
        }
        if (multiplechoice) {
            if (typeof multiplechoiceanswer == "undefined") {
                return false;
            }
        }
        return true;
    }

    function submitTask() {
        var flag = checkTest();
        if (!flag) {
            window.location.hash = '#summary';
            return 0;
        }
        for (var i = 0; i < taskcount; i++) {
            var div = $('#task' + (i + 1));
            var taskid = div.data('taskid');
            var taskid2 = document.getElementById('id_task' + i + '-task');
            var textanswer = $('#answer' + taskid).val();
            var textanswer2 = document.getElementById('id_task' + i + '-text');
            var reasoning = $('#reasoning' + taskid).val();
            var reasoning2 = document.getElementById('id_task' + i + '-reasoning');
            var base64 = getGeoBase64(i);
            var base642 = document.getElementById('id_task' + i + '-base64answer');
            var multiplechoiceanswer = $("input[name=multiplechoice" + taskid + "]:checked").val();

            taskid2.value = taskid;
            if (typeof textanswer !== 'undefined') {
                textanswer2.value = textanswer;
            }
            else if (multiplechoiceanswer !== "" && multiplechoiceanswer !== null && typeof multiplechoiceanswer !== 'undefined') {
                textanswer2.value = multiplechoiceanswer;
            }

            if (typeof reasoning !== 'undefined') {
                reasoning2.value = reasoning;
            }
            if (base64 !== "" && base64 !== null) {
                base642.value = base64;
            }
        }
        $('#submitbutton').click();
    }

    function getGeoBase64(num) {
        var base64;
        switch (num) {
            case 0:
                if (typeof ggbApplet1 !== 'undefined') {
                    base64 = ggbApplet1.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 1:
                if (typeof ggbApplet2 !== 'undefined') {
                    base64 = ggbApplet2.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 2:
                if (typeof ggbApplet3 !== 'undefined') {
                    base64 = ggbApplet3.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 3:
                if (typeof ggbApplet4 !== 'undefined') {
                    base64 = ggbApplet4.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 4:
                if (typeof ggbApplet5 !== 'undefined') {
                    base64 = ggbApplet5.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 5:
                if (typeof ggbApplet6 !== 'undefined') {
                    base64 = ggbApplet6.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 6:
                if (typeof ggbApplet7 !== 'undefined') {
                    base64 = ggbApplet7.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 7:
                if (typeof ggbApplet8 !== 'undefined') {
                    base64 = ggbApplet8.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 8:
                if (typeof ggbApplet9 !== 'undefined') {
                    base64 = ggbApplet9.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 9:
                if (typeof ggbApplet10 !== 'undefined') {
                    base64 = ggbApplet10.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 10:
                if (typeof ggbApplet11 !== 'undefined') {
                    base64 = ggbApplet11.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 11:
                if (typeof ggbApplet12 !== 'undefined') {
                    base64 = ggbApplet12.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 12:
                if (typeof ggbApplet13 !== 'undefined') {
                    base64 = ggbApplet13.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 13:
                if (typeof ggbApplet14 !== 'undefined') {
                    base64 = ggbApplet14.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 14:
                if (typeof ggbApplet15 !== 'undefined') {
                    base64 = ggbApplet15.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 15:
                if (typeof ggbApplet16 !== 'undefined') {
                    base64 = ggbApplet16.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 16:
                if (typeof ggbApplet17 !== 'undefined') {
                    base64 = ggbApplet17.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 17:
                if (typeof ggbApplet18 !== 'undefined') {
                    base64 = ggbApplet18.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 18:
                if (typeof ggbApplet19 !== 'undefined') {
                    base64 = ggbApplet19.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 19:
                if (typeof ggbApplet20 !== 'undefined') {
                    base64 = ggbApplet20.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 20:
                if (typeof ggbApplet21 !== 'undefined') {
                    base64 = ggbApplet21.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 21:
                if (typeof ggbApplet22 !== 'undefined') {
                    base64 = ggbApplet22.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 22:
                if (typeof ggbApplet23 !== 'undefined') {
                    base64 = ggbApplet23.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 23:
                if (typeof ggbApplet24 !== 'undefined') {
                    base64 = ggbApplet24.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 24:
                if (typeof ggbApplet25 !== 'undefined') {
                    base64 = ggbApplet25.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 25:
                if (typeof ggbApplet26 !== 'undefined') {
                    base64 = ggbApplet26.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 26:
                if (typeof ggbApplet27 !== 'undefined') {
                    base64 = ggbApplet27.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 27:
                if (typeof ggbApplet28 !== 'undefined') {
                    base64 = ggbApplet28.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 28:
                if (typeof ggbApplet29 !== 'undefined') {
                    base64 = ggbApplet29.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 29:
                if (typeof ggbApplet30 !== 'undefined') {
                    base64 = ggbApplet30.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 30:
                if (typeof ggbApplet31 !== 'undefined') {
                    base64 = ggbApplet31.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 31:
                if (typeof ggbApplet32 !== 'undefined') {
                    base64 = ggbApplet32.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 32:
                if (typeof ggbApplet33 !== 'undefined') {
                    base64 = ggbApplet33.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 33:
                if (typeof ggbApplet34 !== 'undefined') {
                    base64 = ggbApplet34.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 34:
                if (typeof ggbApplet35 !== 'undefined') {
                    base64 = ggbApplet35.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 35:
                if (typeof ggbApplet36 !== 'undefined') {
                    base64 = ggbApplet36.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 36:
                if (typeof ggbApplet37 !== 'undefined') {
                    base64 = ggbApplet37.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 37:
                if (typeof ggbApplet38 !== 'undefined') {
                    base64 = ggbApplet38.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 38:
                if (typeof ggbApplet39 !== 'undefined') {
                    base64 = ggbApplet39.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 39:
                if (typeof ggbApplet40 !== 'undefined') {
                    base64 = ggbApplet40.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 40:
                if (typeof ggbApplet41 !== 'undefined') {
                    base64 = ggbApplet41.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 41:
                if (typeof ggbApplet42 !== 'undefined') {
                    base64 = ggbApplet42.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 42:
                if (typeof ggbApplet43 !== 'undefined') {
                    base64 = ggbApplet43.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 43:
                if (typeof ggbApplet44 !== 'undefined') {
                    base64 = ggbApplet44.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 44:
                if (typeof ggbApplet45 !== 'undefined') {
                    base64 = ggbApplet45.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 45:
                if (typeof ggbApplet46 !== 'undefined') {
                    base64 = ggbApplet46.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 46:
                if (typeof ggbApplet47 !== 'undefined') {
                    base64 = ggbApplet47.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 47:
                if (typeof ggbApplet48 !== 'undefined') {
                    base64 = ggbApplet48.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 48:
                if (typeof ggbApplet49 !== 'undefined') {
                    base64 = ggbApplet49.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 49:
                if (typeof ggbApplet50 !== 'undefined') {
                    base64 = ggbApplet50.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 50:
                if (typeof ggbApplet51 !== 'undefined') {
                    base64 = ggbApplet51.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
            case 51:
                if (typeof ggbApplet52 !== 'undefined') {
                    base64 = ggbApplet52.getBase64();
                }
                else {
                    base64 = null;
                }
                return base64;
                break;
        }
    }
</script>
</body>
</html>