<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Matistikk{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'maths/style.css' %}" />

    </head>
        <body>
        {% if request.user.is_superuser %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="pull left" href="./"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240" height="50"/></a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li><a href="./"><span class="glyphicon glyphicon-home "></span></a></li>
                            <li><a href="mypageview">Min Side</a></li>
                            <li><a href="createtestview">Lag Test</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Oversikt <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="getallusers">Brukeroversikt</a></li>
                                    <li><a href="allschools">Skoleoversikt</a></li>
                                    <li><a href="alltests">Testoversikt</a></li>
                                </ul>
                            </li>
                            <li><a href="statisticview">Statistikk</a></li>
                            <li><a href="helpview">Hjelp</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Logget inn som: {{ request.user.username }}</a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logg ut</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        {% elif request.user.is_staff and not request.user.is_superuser%}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="pull left" href="./"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240" height="50"/></a>
                    </div>
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="./"><span class="glyphicon glyphicon-home "></span></a></li>
                            <li><a href="mypageview">Min Side</a></li>
                            <li><a href="createtestview">Lag Øvingstest</a></li>
                            <li><a href="statisticview">Statistikk</a></li>
                            <li><a href="edittests">Rediger mine tester</a>
                            <li><a href="helpview">Hjelp</a></li>
                            <li><a href="aboutview">Om</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Logget inn som: {{ request.user.username }}</a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logg ut</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% else %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#mynavbar">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="pull left" href="./"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240" height="50" alt="Home"/></a>
                    </div>
                    <div class="navbar-collapse collapse" id="mynavbar">
                        <ul class="nav navbar-nav">

                            <li><a href="./"><span class="glyphicon glyphicon-home "></span></a></li>
                            <li><a href="mypageview">Min Side</a></li>
                            <li><a href="testview">Tester</a></li>
                            <li><a href="helpview">Hjelp</a></li>
                            <li><a href="aboutview">Om</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Logget inn som: {{ request.user.username }}</a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logg ut</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
        <div class="container">
            <div class="jumbotron">
                {% block body %}
                    <p>admin/base.html</p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>