{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Kategoriadministrasjon</h1>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-margin" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">
                        {% bootstrap_icon "check" %} Lagre
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}