{% extends 'matistikk/base.html' %}

{% block body %}

    <style>
        .circle-tile {
            margin-bottom: 15px;
            text-align: center;
        }

        .circle-tile-heading {
            border: 3px solid rgba(255, 255, 255, 0.3);
            border-radius: 100%;
            color: #FFFFFF;
            height: 80px;
            margin: 0 auto -40px;
            position: relative;
            transition: all 0.3s ease-in-out 0s;
            width: 80px;
        }

        .circle-tile-heading .fa {
            line-height: 80px;
        }

        .circle-tile-content {
            padding-top: 50px;
        }

        .circle-tile-number {
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
            padding: 5px 0 15px;
        }

        .circle-tile-description {
            text-transform: uppercase;
        }

        .circle-tile-heading.dark-blue:hover {
            background-color: #0e84b5;
        }

        .dark-blue {
            background-color: #34495E;
        }

        .text-faded {
            color: rgba(255, 255, 255, 0.7);
        }
    </style>

    {% if request.user.role == 4 %}
        <!-- Super User Dashboard -->
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'administration:personList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-user fa-fw fa-3x"></i></div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Brukere</div>
                            <div class="circle-tile-number text-faded ">{{ users }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'administration:schoolList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-home fa-fw fa-3x"></i></div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Skoler</div>
                            <div class="circle-tile-number text-faded ">{{ schools }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'administration:schoolList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-graduation-cap fa-fw fa-3x"></i>
                            </div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Klasser</div>
                            <div class="circle-tile-number text-faded ">{{ grades }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'administration:groupList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Grupper</div>
                            <div class="circle-tile-number text-faded ">{{ groups }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'maths:taskList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-pencil fa-fw fa-3x"></i></div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Oppgaver</div>
                            <div class="circle-tile-number text-faded ">{{ tasks }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="circle-tile ">
                        <a href="{% url 'maths:taskCollectionList' %}">
                            <div class="circle-tile-heading dark-blue"><i class="fa fa-tasks fa-fw fa-3x"></i></div>
                        </a>
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-description text-faded"> Antall Tester</div>
                            <div class="circle-tile-number text-faded ">{{ tests }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <center>
                    <a class="btn btn-default" href="{% url 'maths:taskCollectionCreate' %}"
                       style="font-size: 2em;"><span
                            style="font-size:5em; color: #545a7e"
                            class="glyphicon glyphicon-book"></span><br>Lag
                        Test</a>
                    <a class="btn btn-default" href="statisticview" style="font-size: 2em;"><i
                            class="fa fa-line-chart fa-fw" style="font-size:5em; color: #545a7e;"></i><br>Statistikk</a>
                    <a class="btn btn-default" href="{% url 'maths:createTask' %}" style="font-size: 2em;"><i
                            class="fa fa-puzzle-piece fa-fw" style="font-size:5em; color: #545a7e;"></i><br>Lag
                        Oppgave</a>
                </center>
            </div>
        </div>

    {% elif request.user.role == 3 %}
        <!-- School Administrator User Dashboard -->
        <div class="col-lg-8">
            <div class="col-lg-12">
                <a class="btn btn-default" href="{% url 'administration:myPage' request.user.username %}"
                   id="myPageBtn"><span
                        style="font-size:10em; color: #ff9933" class="glyphicon glyphicon-user"></span><br>Min Side</a>
                <a class="btn btn-default" href="{% url 'maths:taskCollectionCreate' %}"><span
                        style="font-size:10em; color: #ff9933"
                        class="glyphicon glyphicon-book"></span><br>Lag
                    Test</a>
                <a class="btn btn-default" href="statisticview"><span style="font-size:10em; color: #ff9933"
                                                                      class="glyphicon glyphicon-signal"></span><br>Statistikk</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-default" href="createfunctiontaskview"><span
                        style="font-size:10em; color: #ffcc33" class="glyphicon glyphicon-road"></span><br>Lag
                    Funksjonsoppgave</a>
                <a class="btn btn-default" href="createtaskview"><span style="font-size:10em; color: #ffcc33"
                                                                       class="glyphicon glyphicon-th"></span><br>Lag
                    Brøkoppgave</a>
                <a class="btn btn-default" href="creategeometrytaskview"><span
                        style="font-size:10em; color: #ffcc33" class="glyphicon glyphicon-triangle-top"></span><br>Lag
                    Geometrioppgave</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-default" href="{% url 'maths:taskCollectionList' %}"><span
                        style="font-size:10em; color: #ff6600"
                        class="glyphicon glyphicon-align-left"></span><br>Testoversikt</a>
                <a class="btn btn-default" href="{% url 'administration:personList' %}"><span
                        style="font-size:10em; color: #ff6600" class="glyphicon glyphicon-align-center"></span><br>Brukeroversikt</a>
                <a class="btn btn-default" href="{% url 'administration:schoolList' %}"><span
                        style="font-size:10em; color: #ff6600" class="glyphicon glyphicon-align-right"></span><br>Skoleoversikt</a>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
            <h1>Administratorpanel</h1>
            <a class="btn btn-default" href="{% url 'administration:personCreate' %}" id="addNewUserBtn"><span
                    style="font-size:10em; color: #ff4400" class="glyphicon glyphicon-plus"></span><br>Legg til ny
                bruker</a>
        </div>

    {% elif request.user.role == 1 %}
        <!-- Student Dashboard -->
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Agenda ({{ notanswered|length }})</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="max-height: 75vh; overflow: auto">
                            {% for test in notanswered %}
                                <div id="panel{{ forloop.counter }}" class="panel panel-default">
                                    <div class="panel-heading box" role="tab" id="heading{{ forloop.counter }}"
                                         data-toggle="collapse" data-parent="#accordion"
                                         href="#collapse{{ forloop.counter }}" style="cursor: pointer">
                                        <h4 class="panel-title">
                                            <a role="button"
                                               aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                                {{ test }}
                                                <p id="testpanel{{ forloop.counter }}" class="pull-right"></p>
                                                <input id="date{{ forloop.counter }}" type="datetime"
                                                       value="{{ test.dueDate.isoformat }}" hidden>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse"
                                         role="tabpanel"
                                         aria-labelledby="heading{{ forloop.counter }}">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p><strong>Starttidspunkt: </strong>{{ test.published }}</p>
                                                    <span id="publishdate{{ forloop.counter }}"
                                                          hidden>{{ test.published.isoformat }}</span>
                                                    <p><strong>Frist: </strong>{{ test.dueDate }}</p>
                                                    <p><strong>Antall
                                                        Oppgaver: </strong>{{ test.task_collection.tasks.count }}</p>
                                                    <p><strong>Laget
                                                        av: </strong>{{ test.task_collection.author.first_name }} {{ test.task_collection.author.last_name }}
                                                    </p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="testinfo{{ forloop.counter }}"></span>
                                                    <a id="starttestbutton{{ forloop.counter }}" type="button"
                                                       class="btn btn-success btn-lg pull-right"
                                                       href="{% url 'maths:answerCreate' test.id %}">Start Aktivitet
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success" style="border-left: 1px solid">
                    <div class="panel-heading">
                        <h4>Gjennomførte aktiviteter</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true"
                             style="max-height: 75vh; overflow: auto">
                            {% for test in answered %}
                                <div id="donepanel{{ forloop.counter }}" class="panel panel-default">
                                    <div class="panel-heading box" role="tab" id="doneheading{{ forloop.counter }}"
                                         data-toggle="collapse" data-parent="#accordion2" style="cursor:pointer;"
                                         href="#donecollapse{{ forloop.counter }}">
                                        <h4 class="panel-title">
                                            <a role="button"
                                               aria-expanded="true" aria-controls="donecollapse{{ forloop.counter }}">
                                                {{ test }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="donecollapse{{ forloop.counter }}" class="panel-collapse collapse"
                                         role="tabpanel"
                                         aria-labelledby="doneheading{{ forloop.counter }}">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p><strong>Starttidspunkt: </strong>{{ test.published }}</p>
                                                    <span id="publishdate{{ forloop.counter }}"
                                                          hidden>{{ test.published.isoformat }}</span>
                                                    <p><strong>Frist: </strong>{{ test.dueDate }}</p>
                                                    <p>
                                                        <strong>Besvart: </strong>{{ test.answer_set.all.0.date_answered }}
                                                    </p>
                                                    <p><strong>Antall
                                                        Oppgaver: </strong>{{ test.task_collection.tasks.count }}</p>
                                                    <p><strong>Laget
                                                        av: </strong>{{ test.task_collection.author.first_name }} {{ test.task_collection.author.last_name }}
                                                    </p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a id="seetestbutton{{ forloop.counter }}" type="button"
                                                       class="btn btn-success btn-lg pull-right"
                                                       href="{% url 'maths:answerDetail' test.id request.user.username %}">Se
                                                        Besvarelse
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        window.onload = function () {
            var inputs = document.getElementById('accordion').getElementsByTagName('input');

            for (var i = 0; i < inputs.length; i++) {
                var duedate = new Date(document.getElementById('date' + (i + 1)).value);
                var publishdate = new Date(document.getElementById('publishdate' + (i + 1)).innerHTML);
                if (publishdate > Date.now()) {
                    $('#starttestbutton' + (i + 1)).hide();
                    $('#testinfo' + (i + 1)).append('<div class="alert alert-info" role="alert"><strong>Testen har ikke startet enda!</strong> Du kan starte denne testen når starttidspunktet er passert.</div>');
                }

                if (!(isNaN(duedate))) {
                    var datenow = Date.now();
                    var sjekk = duedate - datenow;
                    var diff = Math.abs(duedate - datenow) / 1000;
                    if (sjekk > 0) {
                        var days = Math.floor(diff / 86400);
                        diff -= days * 86400;
                        var hours = Math.floor(diff / 3600) % 24;
                        diff -= hours * 3600;
                        var minutes = Math.floor(diff / 60) % 60;
                        if (days > 0) {
                            $('#testpanel' + (i + 1)).append(days + ' dager, ' + hours + ' timer, ' + minutes + ' min');
                        }
                        else {
                            $('#testpanel' + (i + 1)).append(days + ' dager, ' + hours + ' timer, ' + minutes + ' min');
                            $('#panel' + (i + 1)).removeClass('panel panel-default').addClass('panel panel-warning');
                        }
                    }
                    else {
                        $('#testpanel' + (i + 1)).append('Tidsfristen er ute');
                        $('#panel' + (i + 1)).removeClass('panel panel-default').addClass('panel panel-danger');
                        $('#testinfo' + (i + 1)).append('<div class="alert alert-danger" role="alert"><strong>Tidsfristen er ute!</strong> Du kan fortsatt ta testen, men den vil bli markert som levert for sent.</div>');
                    }
                }
                else {
                    $('#testpanel' + (i + 1)).append('Ingen tidsfrist');
                }
            }

        };
    </script>

{% endblock %}