{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matistikk</title>
    <!--Imports bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!--Sets the favicon-->
    <link rel="shortcut icon" href="{% static 'administration/images/favico.png' %}">
</head>
<body>
<img src="http://bildr.no/image/Tjl2U25M.jpeg" class="text-center" style="background-color: black; display: block;
        margin: 0 auto; margin-top: 100px;">
    <h1 class="text-center" style="margin-top: 10px;">Tusen takk for at du svarte på denne testen!</h1>
</body>
</html>