<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#mynavbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="pull left" href="./"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240" height="50" alt="Home"/></a>
        </div>
        <div class="navbar-collapse collapse" id="mynavbar">
            <ul class="nav navbar-nav">

                <li><a href="./"><span class="glyphicon glyphicon-home "></span></a></li>
                <li><a href="mypageview">Min Side</a></li>
                <li><a href="testview">Tester</a></li>
                <li><a href="helpview">Hjelp</a></li>
                <li><a href="aboutview">Om</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Logget inn som: {{ request.user.username }}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logg ut</a></li>
            </ul>
        </div>
    </div>
</nav>