{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head %}
    <script type="text/javascript" src="{% static 'administration/deployggb.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
{% endblock %}


{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Lag Oppgave</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <label for="taskname">Oppgavenavn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tasks"></i></span>
                    <input type="text" class="form-control input-lg" id="taskname" placeholder="Oppgavenavn">
                </div>
                <label for="choosetype">Velg kategori</label><br>
                <div class="input-group">
                    <select id="choosetype" class="selectpicker form-control" multiple data-noneSelectedText="test">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#addCategory"><i
                                class="fa fa-plus"></i></button>
                    </span>
                </div>
                <div class="form-group">
                    <label for="tasktext">Oppgavetekst</label>
                    <textarea class="form-control" id="tasktext" rows="6" style="resize:vertical"
                              placeholder="Skriv oppgavetekst her..."></textarea>
                </div>

                <label for="accordion">Velg svartype</label>
                <div id="accordion" class="panel-group" role="tablist">
                    <div class="panel panel-default" id="tekstRadio">
                        <div class=" panel-heading" role="tab">
                            <h4 class="panel-title">
                                <label><input type="radio" name="answer_type" value="1" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse5"
                                              onclick="radioClick(this)" required>
                                    Tekstsvar</label>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Hvis dette alternativet velges, vil eleven svare med tekst.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="flervalgRadio">
                        <div class="panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="2" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse6"
                                              onclick="radioClick(this)"> Flervalgstest</label>
                            </p>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group" id="fields">
                                    <label for="alternativ1">Alternativ 1</label>
                                    <input type="text" class="form-control" id="alternativ1" placeholder="Alternativ 1"
                                           autofocus>
                                    <label for="alternativ2">Alternativ 2</label>
                                    <input type="text" class="form-control" id="alternativ2" placeholder="Alternativ 2">
                                </div>

                                <input type="button" id="lessFields" onclick="lessFields()" value="-">
                                <input type="button" id="moreFields" onclick="moreFields()" value="+">
                                <br>
                                <hr>
                                <label for="dropdown">Velg riktig alternativ</label><br>
                                <select id="dropdown" class="form-control">
                                    <option id="dropdown1" value="1">Alternativ 1</option>
                                    <option id="dropdown2" value="2">Alternativ 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="geoRadio">
                        <div class=" panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="3" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse7"
                                              onclick="radioClick(this)"> Kun tillegg</label>
                            </p>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">
                                Hvis dette alternativet velges, vil eleven kunne svare kun med tillegg.
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Felt for begrunnelse
                        <div class="material-switch pull-right">
                            <input id="reasoning" name="reasoning1" type="checkbox"/>
                            <label for="reasoning" class="label-success"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bruk tillegg (Geogebra, puslespill, rekkefølge etc..)
                        <div class="material-switch pull-right">
                            <input id="extra" name="extra1" type="checkbox"/>
                            <label for="extra" class="label-success"></label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 form-margin">
                <label for="choosetask">Velg oppgavetype</label>
                <select class="form-control input-lg" id="choosetask">
                    <option>Geogebra</option>
                    <option>Velg riktig</option>
                    <option>Rekkefølge</option>
                </select>
                <div id="applet_container"></div>
                <form class="form-horizontal form-margin hidden" action="" method="POST"
                      enctype="multipart/form-data">
                    {{ form.media }}
                    {% csrf_token %}
                    {% bootstrap_field form.title %}
                    {% bootstrap_field form.text %}
                    {% bootstrap_field form.answertype %}
                    {% bootstrap_field form.reasoning %}
                    {% bootstrap_field form.extra %}
                    {% bootstrap_field form.options %}
                    {% bootstrap_field form.category %}
                    {% bootstrap_field form.base64 %}
                    {% bootstrap_field form.preview %}
                    <button type="submit" id="submitbutton" class="btn btn-success">
                        {% bootstrap_icon "check" %} Lagre
                    </button>
                </form>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="onSubmit()" class="btn btn-success"><span
                        class="glyphicon glyphicon-check"
                        aria-hidden="true"></span> Send Inn
                </button>
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"
                                                                    aria-hidden="true"></span> Forhåndsvis
                </button>
            </div>
        </div>
    </div>

    <script>
        var parameters = {
            "id": "ggbApplet",
            "width": 1200,
            "height": 750,
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "useBrowserForJS": false
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        applet.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');
        //  when used with Math Apps Bundle, uncomment this:
        applet.setHTML5CodebaseVersion('5.0');
        applet.setJNLPBaseDir('https://www.geogebra.org/webstart/');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');
        };
    </script>

    <script>
        $('.selectpicker').selectpicker({
            noneSelectedText: 'Velg kategori'
        });
        /**
         * This function changes the color of the "choose answertype"-panel
         * when the user change option.
         */
        function radioClick(myRadio) {
            var valg = myRadio.value;
            if (valg == 1) {
                document.getElementById('tekstRadio').className = "panel panel-success";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else if (valg == 2) {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-success";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-success";
            }
        }

        /**
         * This function parse data from custom input fields into the hidden django-form
         * and clicks the submit-button in the django-form when its done.
         */
        function onSubmit() {
            var taskname1 = document.getElementById('taskname');
            var taskname2 = document.getElementById('id_title');
            var tasktext1 = document.getElementById('tasktext');
            var tasktext2 = document.getElementById('id_text');
            var reasoning1 = document.getElementById('reasoning');
            var reasoning2 = document.getElementById('id_reasoning');
            var extra1 = document.getElementById('extra');
            var extra2 = document.getElementById('id_extra');
            var answertype1 = $("input[type='radio'][name='answer_type']:checked").val();
            var answertype2 = document.getElementById('id_answertype');
            var options = document.getElementById('id_options');
            var select = document.getElementById('dropdown');
            var categoryselect1 = document.getElementById('choosetype');
            var categoryselect2 = document.getElementById('id_category');
            var base64 = document.getElementById('id_base64');
            var preview = document.getElementById('id_preview');

            taskname2.value = taskname1.value;
            tasktext2.value = tasktext1.value;
            answertype2.value = answertype1;

            if (reasoning1.checked) {
                reasoning2.checked = true;
            }
            else {
                reasoning2.checked = false;
            }

            if (extra1.checked) {
                extra2.checked = true;
                base64.value = ggbApplet.getBase64();
                preview.value = ggbApplet.getPNGBase64(1, false);
            }
            else {
                extra2.checked = false;
            }

            if (answertype1 == 2) {
                var inputCount = document.getElementById('fields').getElementsByTagName('input').length;
                options.value = "";

                for (var i = 1; i <= inputCount; i++) {
                    if (i == 1) {
                        options.value += select.options[select.selectedIndex].value + "|||||"
                    }
                    options.value += document.getElementById('alternativ' + i).value;
                    if (!(i + 1 > inputCount)) {
                        options.value += "|||||";
                    }
                }
            }

            var z = categoryselect1.length;

            for (var y = 0; y < z; y++) {
                if (categoryselect1.options[y].selected) {
                    categoryselect2.options[y].selected = true;
                }
                else {
                    categoryselect2.options[y].selected = false;
                }
            }

            document.getElementById('submitbutton').click();
        }
    </script>

    <script>
        /**
         * This function adds one option to the multiple choice
         * when the user clicks the "+"-button.
         */
        var counter = 3;
        function moreFields() {
            $('#warning').remove();
            if (counter < 10) {
                $('#fields').append('<label for="alternativ' + counter + '">Alternativ ' + counter + '</label>');
                $('#fields').append("<input type='text' class='form-control' id='alternativ" + counter + "' placeholder='Alternativ " + counter + "'>");
                $('#dropdown').append('<option id="dropdown' + counter + '" value="' + counter + '">Alternativ ' + counter + '</option>');
                counter++;
            }
            else {
                $('#fields').append('<div class="alert alert-warning alert-dismissible" role="alert" id="warning">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    'Du kan maks ha ni svaralternativer.</div>');
            }
        }

        /**
         * This function removes one option from the multiple choice
         * when the user clicks the "-"-button.
         */
        function lessFields() {
            $('#warning').remove();
            if (counter > 3) {
                counter--;
                $('#alternativ' + counter).remove();
                $('label[for=alternativ' + counter + ']').remove();
                $('#dropdown' + counter).remove();
            }
            else {
                $('#fields').append('<div class="alert alert-warning alert-dismissible" role="alert" id="warning">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    'Du kan ikke ha mindre enn to svaralternativer.</div>');
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            /**
             * This function prevents the default submit routine and sends a ajax Post request to create the
             * new category instead.
             *
             */
            $('#categoryForm').submit(function (e) {
                e.preventDefault();
                var category = $.trim($('#id_category_title').val());
                $.ajax({
                    type: 'POST',
                    url: '{% url 'maths:categoryCreate' %}',
                    data: {
                        'category': category,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#addCategory').modal('hide');
                        $('#id_category')
                            .append($("<option></option>")
                                .attr("value", data.category_id)
                                .text(category));
                        $('#id_category option[value=' + data.category_id + ']').attr('selected', true);
                        $('#choosetype')
                            .append($("<option></option>")
                                .attr("value", data.category_id)
                                .text(category));
                        $('.selectpicker').selectpicker('val', data.category_id);
                        $('.selectpicker').selectpicker('refresh');
                        $('#id_category_title').val("");
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Opprett ny kategori</h4>
                </div>
                <div class="modal-body">
                    <form id="categoryForm" class="form-horizontal form-margin" action="" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form categoryForm %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}