<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!--Loads the staticfiles-->
{% load staticfiles %}
<!-- Loads CSS and javascript--
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}
{% block head %}
    <!--Imports geogebra-->
    <script type="text/javascript" src="{% static 'maths/js/deployggb.js' %}"></script>
    <!--Imports bootstrap select css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <!--Imports bootstrap select-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!--Imports bootstrap select-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <!--Imports Tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");

        tinymce.init({
            selector: '#tasktext',
            plugins: 'equationeditor  textcolor lists fullscreen autolink link tabfocus table ',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: [
                'bold italic underline fontsizeselect | forecolor bullist numlist | subscript superscript equationeditor link table | fullscreen '
            ],
            statusbar: false,
            fontsize_formats: '8pt 10pt 12pt 14pt 18pt',
            menubar: false
        });
        tinymce.init({
            selector: '#previewtasktext',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1,
            body_id: 'tasktextID'
        });
    </script>

{% endblock %}


{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Lag Oppgave</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <label for="taskname">Oppgavenavn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tasks"></i></span>
                    <input type="text" class="form-control input-lg" id="taskname" placeholder="Oppgavenavn" autofocus>
                </div>
                <label for="choosetype">Velg kategori</label><br>
                <div class="input-group">
                    <select id="choosetype" class="selectpicker form-control" multiple data-noneSelectedText="test">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" data-toggle="modal" id="addCategoryBtn"
                                data-target="#addCategory"><i
                                class="fa fa-plus"></i></button>
                    </span>
                </div>
                <div class="form-group">
                    <label for="tasktext">Oppgavetekst</label>
                    <textarea class="form-control" id="tasktext" rows="6" style="resize:vertical"
                              placeholder="Skriv oppgavetekst her..."></textarea>

                </div>
                <label for="accordion">Velg svartype</label>
                <div id="accordion" class="panel-group" role="tablist">
                    <div class="panel panel-default" id="tekstRadio">
                        <div class=" panel-heading" role="tab">
                            <h4 class="panel-title">
                                <label><input type="radio" name="answer_type" value="1" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse5"
                                              onclick="radioClick(this)" required id="textAnswerRadio">
                                    Tekstsvar</label>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Hvis dette alternativet velges, vil eleven svare med tekst.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="flervalgRadio">
                        <div class="panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="2" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse6"
                                              onclick="radioClick(this)"> Flervalgstest</label>
                            </p>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group" id="fields">
                                    <label for="alternativ1">Alternativ 1</label>
                                    <input type="text" class="form-control" id="alternativ1" placeholder="Alternativ 1"
                                           autofocus>
                                    <label for="alternativ2">Alternativ 2</label>
                                    <input type="text" class="form-control" id="alternativ2" placeholder="Alternativ 2">
                                </div>

                                <input type="button" id="lessFields" onclick="lessFields()" value="-">
                                <input type="button" id="moreFields" onclick="moreFields()" value="+">
                                <br>
                                <hr>
                                <label for="dropdown">Velg riktig alternativ</label><br>
                                <select id="dropdown" class="form-control">
                                    <option id="dropdown1" value="1">Alternativ 1</option>
                                    <option id="dropdown2" value="2">Alternativ 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="geoRadio">
                        <div class=" panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="3" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse7"
                                              onclick="radioClick(this)"> Kun tillegg</label>
                            </p>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">
                                Hvis dette alternativet velges, vil eleven kunne svare kun med tillegg.
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Felt for begrunnelse
                        <div class="material-switch pull-right">
                            <input id="reasoning" name="reasoning1" type="checkbox"/>
                            <label for="reasoning" class="label-success"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bruk tillegg (Geogebra, puslespill, rekkefølge etc..)
                        <div class="material-switch pull-right" id="extraField">
                            <input id="extra" name="extra1" type="checkbox" id="useToolBtn" checked/>
                            <label for="extra" class="label-success"></label>
                        </div>
                    </li>
                </ul>
                <div id="feedback">

                </div>

            </div>
            <div class="col-md-4 form-margin" id="extradiv">
                <label for="choosetask">Velg oppgavetype</label>
                <select class="form-control input-lg" id="choosetask">
                    <option>Geogebra</option>
                    <option>Velg riktig</option>
                    <option>Rekkefølge</option>
                </select>
                <div id="applet_container"></div>
                <form class="form-horizontal form-margin hidden" action="" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" id="submitbutton" class="btn btn-success">
                        {% bootstrap_icon "check" %} Lagre
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <button class="btn btn-primary btn-lg pull-right variable"
                            style="margin-top: 20px; margin-right: 15px"><span
                            class="glyphicon glyphicon-blackboard"
                            aria-hidden="true">
                </span> Legg til variabler
                    </button>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="onSubmit()" class="btn btn-success" id="saveTaskBtn"><span
                        class="glyphicon glyphicon-check"
                        aria-hidden="true"></span> Lagre Oppgave
                </button>
                <button type="button" class="btn btn-warning" data-toggle="modal" href="#previewTaskModal"><span
                        class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span> Forhåndsvis
                </button>
            </div>
        </div>
    </div>

    <script>
        var parameters = {
            "id": "ggbApplet",
            "width": 1200,
            "height": 750,
            "preventFocus": true,
            "language": "nb",
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "useBrowserForJS": false
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        applet.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');
        //  when used with Math Apps Bundle, uncomment this:
        applet.setHTML5CodebaseVersion('5.0');
        applet.setJNLPBaseDir('https://www.geogebra.org/webstart/');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');

        };
    </script>

    <script>
        var variableCount;
        $('.selectpicker').selectpicker({
            noneSelectedText: 'Velg kategori'
        });

        /**
         * This function changes the visibility of the extra-div when the user
         * changes the boolean value of the "Use extra"-switch.
         */
        $('#extra').change(function () {
            if (document.getElementById('extra').checked) {
                $('#extradiv').show();
            }
            else {
                $('#extradiv').hide();
            }
        });

        $('.variable').click(function () {
            $('.variabelFormGroup').remove();
            variableCount = ggbApplet.getValue('A'); // Kall for noe annet
            if (variableCount == "0") {
                $('#variabelForm').append('<h3 class="variabelFormGroup">Ingen variable ble funnet.</h3>');
            }
            for (var i = 1; i <= parseInt(variableCount); i++) {
                $('#variabelForm').append("<div class='form-group variabelFormGroup'><label for='variabel" + i + "'>Variabel " + i + ":</label> <input type='variabel" + i + "' placeholder='Skriv inn verdien for variabel " + i + "' class='form-control' id='variabel" + i + "'required></div>");
                $('#variabel' + i).val(ggbApplet.getValue('variabel'+i));
            }
            $('#variabelForm').append('<button type="submit" class="btn btn-success variabelFormGroup"><i class="fa fa-floppy-o"aria-hidden="true"></i>Sett inn parameter</button>');
            $('#addVariablesModal').modal('show');
        });


        /**
         * This function changes the color of the "choose answertype"-panel
         * when the user change option.
         */
        function radioClick(myRadio) {
            var valg = myRadio.value;
            if (valg == 1) {
                document.getElementById('tekstRadio').className = "panel panel-success";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else if (valg == 2) {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-success";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-success";
            }
        }

        /**
         * This function parse data from custom input fields into the hidden django-form
         * and clicks the submit-button in the django-form when its done.
         */
        var submit = false;
        function onSubmit() {
            if (submit) {
                return 0;
            }
            var taskname1 = document.getElementById('taskname');
            var taskname2 = document.getElementById('id_title');
            var tasktext1 = tinyMCE.activeEditor.getContent();
            var tasktext2 = document.getElementById('id_text');
            var reasoning1 = document.getElementById('reasoning');
            var reasoning2 = document.getElementById('id_reasoning');
            var extra1 = document.getElementById('extra');
            var extra2 = document.getElementById('id_extra');
            var answertype1 = $("input[type='radio'][name='answer_type']:checked").val();
            var answertype2 = document.getElementById('id_answertype');
            var options = document.getElementById('id_options');
            var select = document.getElementById('dropdown');
            var categoryselect1 = document.getElementById('choosetype');
            var categoryselect2 = document.getElementById('id_category');
            var base64 = document.getElementById('id_base64');
            var preview = document.getElementById('id_preview');
            var feedback = document.getElementById('feedback');

            taskname2.value = taskname1.value;
            tasktext2.value = tasktext1;
            if (taskname1.value == null || taskname1.value == "") {
                feedback.innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må legge til et oppgavenavn før du sender inn oppgaven </div>';
                return 0;
            }
            answertype2.value = answertype1;
            if (answertype1 == null) {
                feedback.innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må velge en svartype før du sender inn oppgaven </div>';
                return 0;
            }

            if (reasoning1.checked) {
                reasoning2.checked = true;
            }
            else {
                reasoning2.checked = false;
            }

            if (extra1.checked) {
                extra2.checked = true;
                base64.value = ggbApplet.getBase64();
                preview.value = ggbApplet.getPNGBase64(1, false);
            }
            else {
                extra2.checked = false;
            }

            if (answertype1 == 2) {
                var inputCount = document.getElementById('fields').getElementsByTagName('input').length;
                options.value = "";

                for (var i = 1; i <= inputCount; i++) {
                    if (i == 1) {
                        options.value += select.options[select.selectedIndex].value + "|||||"
                    }
                    options.value += document.getElementById('alternativ' + i).value;
                    if (!(i + 1 > inputCount)) {
                        options.value += "|||||";
                    }
                }
            }

            var z = categoryselect1.length;
            var categoryflag = false;
            for (var y = 0; y < z; y++) {
                if (categoryselect1.options[y].selected) {
                    categoryselect2.options[y].selected = true;
                    categoryflag = true;
                }
                else {
                    categoryselect2.options[y].selected = false;
                }
            }

            if (categoryflag == false) {
                feedback.innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må velge minst en kategori før du sender inn oppgaven </div>';
                return 0;
            }

            document.getElementById('submitbutton').click();
            submit = true;
        }
    </script>

    <script>
        /**
         * This function adds one option to the multiple choice
         * when the user clicks the "+"-button.
         */
        var counter = 3;
        function moreFields() {
            $('#warning').remove();
            if (counter < 10) {
                $('#fields').append('<label for="alternativ' + counter + '">Alternativ ' + counter + '</label>');
                $('#fields').append("<input type='text' class='form-control' id='alternativ" + counter + "' placeholder='Alternativ " + counter + "'>");
                $('#dropdown').append('<option id="dropdown' + counter + '" value="' + counter + '">Alternativ ' + counter + '</option>');
                counter++;
            }
            else {
                $('#fields').append('<div class="alert alert-warning alert-dismissible" role="alert" id="warning">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    'Du kan maks ha ni svaralternativer.</div>');
            }
        }

        /**
         * This function removes one option from the multiple choice
         * when the user clicks the "-"-button.
         */
        function lessFields() {
            $('#warning').remove();
            if (counter > 3) {
                counter--;
                $('#alternativ' + counter).remove();
                $('label[for=alternativ' + counter + ']').remove();
                $('#dropdown' + counter).remove();
            }
            else {
                $('#fields').append('<div class="alert alert-warning alert-dismissible" role="alert" id="warning">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                    'Du kan ikke ha mindre enn to svaralternativer.</div>');
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#variabelForm').submit(function (e) {
                e.preventDefault();
                var variabelInputField = $('#id_variables');
                variabelInputField.val("");
                for (var i = 1; i <= parseInt(variableCount); i++) {
                    var input = $('#variabel' + i).val();
                    ggbApplet.setValue("variabel" + i, input);
                    var prevValue = variabelInputField.val();
                    variabelInputField.val(prevValue + input + "|||||")
                }
                var input = variabelInputField.val();
                variabelInputField.val(input.slice(0,-5));
                $('#addVariablesModal').modal('hide');
            });
            /**
             * This function prevents the default submit routine and sends a ajax Post request to create the
             * new category instead.
             *
             */
            $('#categoryForm').submit(function (e) {
                e.preventDefault();
                var category = $.trim($('#id_category_title').val());
                $.ajax({
                    type: 'POST',
                    url: '{% url 'maths:categoryCreate' %}',
                    data: {
                        'category': category,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#addCategory').modal('hide');
                        $('#id_category')
                            .append($("<option></option>")
                                .attr("value", data.category_id)
                                .text(category));
                        $('#id_category option[value=' + data.category_id + ']').attr('selected', true);
                        $('#choosetype')
                            .append($("<option></option>")
                                .attr("value", data.category_id)
                                .text(category));
                        $('#choosetype option[value=' + data.category_id + ']').attr('selected', 'selected');
                        $('.selectpicker').selectpicker('refresh');
                        $('#id_category_title').val("");
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Opprett ny kategori</h4>
                </div>
                <div class="modal-body">
                    <form id="categoryForm" class="form-horizontal form-margin" action="" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form categoryForm %}
                        {% buttons %}
                            <button type="submit" class="btn btn-success" id="saveCategoryBtn">
                                {% bootstrap_icon "check" %} Lagre
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addVariablesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel">Legg til variabler</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" style="margin: 0;">
                                <li class="active"><a href="#setVariable" data-toggle="tab">Velg variable</a></li>
                                <li><a href="#setRandom" data-toggle="tab">Tilfeldig variable</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-content" id="tabs">
                        <div class="tab-pane active" id="setVariable">
                            <form id="variabelForm">
                            </form>
                        </div>
                        <div class="tab-pane" id="setRandom">
                            <p>Test</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="previewTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width: 95%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Forhåndsvis oppgave</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 hidden" id="notGeogebraDiv"></div>
                        <div class="col-sm-6" id="geogebradiv">
                            <img id='previewbilde' alt='' width="100%"/>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><span id="previewtasktext"></span></h4>
                                </div>
                                <div class="panel-body">
                                    <div id="textanswerdiv">
                                        <label for="answer">Tekstsvar</label>
                                        <textarea class="form-control" id="previewanswer" rows="6"
                                                  style="resize:vertical"
                                                  placeholder="Skriv svaret ditt her..."></textarea>
                                    </div>

                                    <div id="multiplechoicediv">
                                        <label for="reasoning">Svaralternativer</label>
                                        <div id="optionsdiv">

                                        </div>
                                    </div>

                                    <div id="reasoningdiv">
                                        <label for="reasoning">Begrunnelse</label>
                                        <textarea class="form-control" id="previewreasoning" rows="6"
                                                  style="resize:vertical"
                                                  placeholder="Begrunn svaret ditt..."></textarea>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-success">Svar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        /**
         * This function runs when the previewTaskModal is opened and shows the information about the task that
         * were selected.
         */
        $('#previewTaskModal').on('show.bs.modal', function () {
            $('#geogebradiv').hide();
            $('#textanswerdiv').hide();
            $('#reasoningdiv').hide();
            $('#multiplechoicediv').hide();
            var notGeo = $('#notGeogebraDiv');
            var answertype = $("input[type='radio'][name='answer_type']:checked").val();
            var previewtext = tinyMCE.get('tasktext').getContent();

            tinyMCE.get('previewtasktext').setContent(previewtext);

            if (document.getElementById('extra').checked) {
                $('#geogebradiv').show();
                var geogebrapreview = ggbApplet.getPNGBase64(1, false);
                $("#previewbilde").attr("src", 'data:image/png;base64,' + (geogebrapreview));
                if (!notGeo.hasClass('hidden')) {
                    notGeo.addClass('hidden');
                }
            } else {
                if (notGeo.hasClass('hidden')) {
                    notGeo.removeClass('hidden');
                }
            }

            if (answertype == 1) {
                $('#textanswerdiv').show();
            }
            else if (answertype == 2) {
                $('#multiplechoicediv').show();

                var inputCount = document.getElementById('fields').getElementsByTagName('input').length;
                var optionsdiv = document.getElementById('optionsdiv');
                optionsdiv.innerHTML = "";

                for (var i = 0; i < inputCount; i++) {
                    optionsdiv.innerHTML += '<input type="radio" name="previewoptions"> ' + document.getElementById('alternativ' + (i + 1)).value + '<br>';
                }
            }

            if (document.getElementById('reasoning').checked) {
                $('#reasoningdiv').show();
            }


        });
    </script>
{% endblock %}