{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="{% static 'administration/../../static/maths/js/deployggb.js' %}"></script>
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");

        tinymce.init({
            selector: '#tasktext',
            plugins: 'equationeditor  textcolor lists fullscreen autolink link tabfocus table ',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: [
                'bold italic underline fontsizeselect | forecolor bullist numlist | subscript superscript equationeditor link table | fullscreen '
            ],
            statusbar: false,
            fontsize_formats: '8pt 10pt 12pt 14pt 18pt',
            menubar: false

        });


    </script>
{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h2> <span id="taskTitle">{{ task.title }}</span> <i class="fa fa-pencil box updateTitle" style="cursor:pointer;" aria-hidden="true"></i>
            </h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-margin hidden" action="" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" id="submitbutton" class="btn btn-success">
                    {% bootstrap_icon "check" %} Lagre
                </button>
            </form>
            <div class="col-sm-7" id="extradiv">
                <input type="hidden" id="hiddenbase64"
                       value="{% for geo in geogebra %}{{ geo.base64 }}{% endfor %}">
                <div id="applet_container"></div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading" id="tasktextdiv">
                        <label for="tasktext" style="margin-top: 10px">Oppgavetekst</label>
                        <div id="tasktext">{{ task.text | safe }}</div>
                    </div> <!-- #inner panel-heading -->
                    <div class="panel-body">
                        {% if task.category %}
                            <span id="categorydiv">
                                {% for category in task.category.all %}
                                    <span class="label label-info" id="list{{ category }}">{{ category }}</span>
                                {% endfor %}
                            </span>
                            <a class="btn btn-default" data-toggle='modal' href='#changeCategoryModal'><i
                                    class="fa fa-exchange" aria-hidden="true"
                                    style="font-size: 1em; display: inline-block"></i> Endre kategorier</a>
                            <br>
                        {% endif %}
                        <div class="form-group" id="multiplechoicediv">
                            <label style="margin-top: 10px">Svaralternativer</label>
                            <a class="btn btn-default" data-toggle='modal' href='#changeAnswerTypeModal'><i
                                    class="fa fa-exchange" aria-hidden="true"
                                    style="font-size: 1em"></i> Endre svarmåte</a><br>
                            <div class="form-group" id="optionsdiv">
                                {% if options %} <!-- If the task contains multiple choice options -->
                                    {% for option in options %}
                                        <a class="btn btn-default" id="option{{ forloop.counter }}button"
                                           onclick="updateOption({{ forloop.counter }});"><span
                                                style="font-size:1em;" id="option{{ forloop.counter }}span"
                                                class="glyphicon glyphicon-pencil"></span> </a>
                                        <input type="radio" id="option{{ forloop.counter }}" name="options">
                                        <span id="option{{ forloop.counter }}value">{{ option }}</span>
                                        {% if option.correct %}
                                            <a class="btn btn-default" onclick="changeCorrect({{ forloop.counter }})"><i
                                                    class="fa fa-check" id="correct{{ forloop.counter }}"
                                                    aria-hidden="true"
                                                    style="font-size: 1.5em; color: #00A000"></i></a>
                                        {% else %}
                                            <a class="btn btn-default" onclick="changeCorrect({{ forloop.counter }})"><i
                                                    class="fa fa-times" id="correct{{ forloop.counter }}"
                                                    aria-hidden="true"
                                                    style="font-size: 1.5em; color: #A00000"></i></a>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <a class="btn btn-default" onclick="addOption()"><i
                                    class="fa fa-plus" aria-hidden="true"
                                    style="font-size: 1em"></i> Legg til alternativ</a><br>
                        </div>

                        <div class="form-group" id="textanswerdiv">
                            <label for="answer" style="margin-top: 10px">Tekstsvar</label>
                            <a class="btn btn-default" data-toggle='modal' href='#changeAnswerTypeModal'><i
                                    class="fa fa-exchange" aria-hidden="true"
                                    style="font-size: 1em"></i> Endre svarmåte</a><br>
                            <textarea class="form-control" id="answer" rows="6" style="resize:vertical"
                                      placeholder="Skriv svaret ditt her..."></textarea>
                        </div>

                        <div class="form-group" id="extraanswerdiv">
                            <label style="margin-top: 10px">Valgt svarmåte er 'kun tillegg'</label>
                            <a class="btn btn-default" data-toggle='modal' href='#changeAnswerTypeModal'><i
                                    class="fa fa-exchange" aria-hidden="true"
                                    style="font-size: 1em"></i> Endre svarmåte</a><br>
                        </div>

                        <div class="form-group" id="reasoningdiv">
                            <label for="reasoning" style="margin-top: 10px">Begrunnelse</label>
                            <textarea class="form-control" id="reasoning" rows="6" style="resize:vertical"
                                      placeholder="Begrunn svaret ditt..."></textarea>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Felt for begrunnelse
                                <div class="material-switch pull-right">
                                    <input id="reason" name="reasoning1" type="checkbox"/>
                                    <label for="reason" class="label-success"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bruk tillegg (Geogebra, puslespill, rekkefølge etc..)
                                <div class="material-switch pull-right" id="extraField">
                                    <input id="extra" name="extra1" type="checkbox"/>
                                    <label for="extra" class="label-success"></label>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- #inner panel-body -->
                    <div class="panel-footer">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" onclick="updateTask(true)" class="btn btn-success" id="saveAsNewTaskBtn"><span
                                    class="glyphicon glyphicon-check"
                                    aria-hidden="true"></span> Lagre som ny oppgave
                            </button>
                            {% if not task.answer_set.all %}
                                <button type="button" class="btn btn-warning" onclick="updateTask(false)" id="updateTaskBtn"><span
                                        class="glyphicon glyphicon-refresh"
                                        aria-hidden="true"></span> Oppdater eksisterende
                                </button>
                            {% endif %}
                        </div> <!-- #btn-group -->
                    </div> <!-- #inner panel-footer -->
                </div> <!-- #inner panel -->
            </div>
        </div> <!-- #panel-body -->
        <div class="panel-footer">

        </div> <!-- #panel-footer-->
    </div> <!-- #panel -->

    <script>
        var ggbOnInitCounter = 1;
        function ggbOnInit(param) {
            if (ggbOnInitCounter == 1) {
                if (geobase64 == null || geobase64 == "") {
                    $('#extradiv').hide();
                }
                else {
                    $('#id_base64').val(geobase64);
                }
            }
            ggbOnInitCounter++;
        }
        var viewPortWidth = 1200;
        var viewPortHeight = 750;
        var base64 = document.getElementById('hiddenbase64').value;

        if (typeof window.innerWidth != 'undefined') {
            viewPortWidth = window.innerWidth * 0.55;
            viewPortHeight = window.innerHeight * 0.7;
        }
        var parameters = {
            "id": "ggbApplet",
            "width": viewPortWidth,
            "height": viewPortHeight,
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "language": "nb",
            "preventFocus": true,
            "useBrowserForJS": true,
            "ggbBase64": base64
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        //  when used with Math Apps Bundle, uncomment this:
        // applet.setHTML5Codebase('GeoGebra/HTML5/5.0/web3d/');
        applet.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');
            tinyMCE.get('tasktext').getBody().style.backgroundColor = "#f5f5f5";
        };
    </script>
    <script>
        if (document.getElementById('hiddenbase64')) {
            var geobase64 = document.getElementById('hiddenbase64').value;
        }

        $('.updateTitle').click(function () {
            bootbox.prompt({
                title: "Skriv inn ny oppgavetittel!",
                placeholder: 'Skriv inn en ny oppgavetittel!',
                value: $('#taskTitle').text(),
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Avbryt'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Endre'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('#taskTitle').text(result);
                        $('#id_title').val(result);
                    }
                }
            });
        });

        /**
         * This function parse data from custom input fields into the hidden django-form
         * and clicks the submit-button in the django-form when its done.
         */
        function updateTask(createNew) {
            var tasktext = tinyMCE.activeEditor.getContent();
            var tasktext2 = document.getElementById('id_text');
            var answertype = $('input[name=answer_type]:checked').val();
            var answertype2 = document.getElementById('id_answertype');
            var reasoning = document.getElementById('reason');
            var reasoning2 = document.getElementById('id_reasoning');
            var extra = document.getElementById('extra');
            var extra2 = document.getElementById('id_extra');
            var base64 = document.getElementById('id_base64');
            var preview = document.getElementById('id_preview');
            var categories = document.getElementById('id_category');
            var spans = document.getElementById('categorydiv').getElementsByTagName('span');
            var categoryoptions = categories.getElementsByTagName('option');
            var optionsdiv = document.getElementById('optionsdiv');
            var optionsi = optionsdiv.getElementsByTagName('i');
            var optionsspan = optionsdiv.getElementsByTagName('span');
            var options = document.getElementById('id_options');
            if (createNew) {
                $('#id_create_new').attr('checked', true);
            }
            document.getElementById('tasktext').innerHTML = tasktext;
            options.value = "";

            if (reasoning.checked) {
                reasoning2.checked = true;
            }
            else {
                reasoning2.checked = false;
            }

            if (extra.checked) {
                extra2.checked = true;
                base64.value = ggbApplet.getBase64();
                preview.value = ggbApplet.getPNGBase64(1, false);
            }
            else {
                extra2.checked = false;
                base64.value = null;
            }

            if (tasktext == "") {
                document.getElementById('tasktextdiv').innerHTML += '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må legge til en oppgavetekst før du sender inn oppgaven </div>';
                return 0;
            }
            tasktext2.value = tasktext;

            if (answertype) {
                answertype2.value = answertype;
            }

            for (var s = 0; s < categoryoptions.length; s++) {
                categoryoptions[s].selected = false;
            }

            if (spans.length < 1) {
                optionsdiv.innerHTML += '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må velge minst en kategori før du kan sende inn oppgaven </div>';
                return 0;
            }

            for (var i = 0; i < spans.length; i++) {
                for (var k = 0; k < categoryoptions.length; k++) {
                    if (spans[i].innerHTML == categoryoptions[k].innerHTML) {
                        categoryoptions[k].selected = true;
                    }
                }
            }

            var flag = false;
            for (var z = 0; z < optionsi.length; z++) {
                if (optionsi.length < 2) {
                    optionsdiv.innerHTML += '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må ha minst to svaralternativer i en flervalgsprøve </div>';
                    return 0;
                }
                if (optionsi[z].className == 'fa fa-check') {
                    options.value += z + 1;
                    flag = true;
                }

                if (z == optionsi.length - 1 && flag == false) {
                    optionsdiv.innerHTML += '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oops!</strong> Du må velge et riktig alternativ før du kan sende inn oppgaven </div>';
                    return 0;
                }
            }

            for (var x = 1; x < optionsspan.length; x += 2) {
                options.value += "|||||" + optionsspan[x].innerHTML;
            }

            document.getElementById('submitbutton').click();
        }

        /**
         * This function changes the "option"-radio-button with associated text to a
         * text input field so that the user can update the text of a multiple choice-option.
         * The function runs when the user clicks the "change option"-button.
         * The function also changes the icon and the onclick attribute of the button
         * associated with the option in the view.
         * @param e
         */
        function updateOption(e) {
            var input = document.getElementById('option' + e);
            var option = document.getElementById('option' + e + 'value');
            var button = document.getElementById('option' + e + 'button');
            var span = document.getElementById('option' + e + 'span');
            $(input).prop('type', 'text');
            $(input).val(option.innerHTML);
            option.innerHTML = '';
            button.setAttribute('onclick', 'saveUpdatedOption(' + e + ')');
            span.className = 'glyphicon glyphicon-refresh';
        }

        /**
         * This function is called when the user has updated the text of a multiple choice option
         * and then clicks the refresh-button. The function changes the input field back
         * to a radio input, and adds the text to the span associated with the input field.
         * The function also changes the icon and the onclick attribute of the button
         * associated with the option in the view.
         * @param e
         */
        function saveUpdatedOption(e) {
            var input = document.getElementById('option' + e);
            var option = document.getElementById('option' + e + 'value');
            var button = document.getElementById('option' + e + 'button');
            var span = document.getElementById('option' + e + 'span');
            $(input).prop('type', 'radio');
            option.innerHTML = input.value;
            button.setAttribute('onclick', 'updateOption(' + e + ')');
            span.className = 'glyphicon glyphicon-pencil';
        }

        /**
         * This function adds a input field to the div that contaions the multiple choice options
         * for the task. The function gets called when the user clicks the "add option"-button.
         */
        function addOption() {
            var div = document.getElementById('optionsdiv');
            var inputCount = div.getElementsByTagName('input').length;
            var n = inputCount + 1;
            div.innerHTML += '<a class="btn btn-default" id="option' + n + 'button" onclick="saveUpdatedOption(' + n + ');"><span style="font-size:1em;" id="option' + n + 'span" class="glyphicon glyphicon-plus"></span> </a> <input type="text" id="option' + n + '" name="options"> <span id="option' + n + 'value" ></span> <a class="btn btn-default" onclick="changeCorrect(' + n + ')"><i class="fa fa-times" aria-hidden="true" id="correct' + n + '" style="font-size: 1.5em; color: #A00000"></i></a><br>';
        }


        function changeCorrect(e) {
            var div = document.getElementById('optionsdiv');
            var i = div.getElementsByTagName('i');
            var span = div.getElementsByTagName('span');

            for (var k = 0; k < i.length; k++) {
                if (k + 1 == e) {
                    i[k].className = 'fa fa-check';
                    i[k].style.color = '#00A000';
                }
                else {
                    i[k].className = 'fa fa-times';
                    i[k].style.color = '#A00000';
                }
            }
        }

        /**
         * This function hides all the parts of the task when the document get loaded,
         * then it shows the parts of the task that is chosen to be seen.
         */
        jQuery(document).ready(function ($) {
            $('#reasoning').hide();
            $('label[for=reasoning]').hide();
            $('#textanswerdiv').hide();
            $('#multiplechoicediv').hide();
            $('#extraanswerdiv').hide();

            if (document.getElementById('id_reasoning').checked) {
                $('#reason').prop('checked', true);
                $('#reasoning').show();
                $('label[for=reasoning]').show();
            }

            if (document.getElementById('id_extra').checked) {
                $('#extra').prop('checked', true);
            }

            if (document.getElementById('id_answertype').value == 1) {
                $('#textanswerdiv').show();
                $('#multiplechoicediv').hide();
                $('#extraanswerdiv').hide();
            }
            else if (document.getElementById('id_answertype').value == 2) {
                $('#textanswerdiv').hide();
                $('#multiplechoicediv').show();
                $('#extraanswerdiv').hide();
            }
            else if (document.getElementById('id_answertype').value == 3) {
                $('#textanswerdiv').hide();
                $('#multiplechoicediv').hide();
                $('#extraanswerdiv').show();
            }
        });

        /**
         * This function changes the visibility of the reasoning-div when the user
         * changes the boolean value of the "Field for reasoning"-switch.
         */
        $('#reason').change(function () {
            if (document.getElementById('reason').checked) {
                $('#reasoning').show();
                $('label[for=reasoning]').show();
            }
            else {
                $('#reasoning').hide();
                $('label[for=reasoning]').hide();
            }
        });

        /**
         * This function changes the visibility of the extra-div when the user
         * changes the boolean value of the "Use extra"-switch.
         */
        $('#extra').change(function () {
            if (document.getElementById('extra').checked) {
                $('#extradiv').show();
            }
            else {
                $('#extradiv').hide();
            }
        });
    </script>

{% endblock %}

{% block modal %}

    <div class="modal fade" id="changeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Endre kategorier</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for category in categories %}
                            {% if category in task.category.all %}
                                <li class="list-group-item">
                                    {{ category }}
                                    <div class="material-switch pull-right">
                                        <input id="category{{ forloop.counter }}" name="{{ category }}"
                                               type="checkbox" onchange="changeCategory(this.name, this.checked)"
                                               checked/>
                                        <label for="category{{ forloop.counter }}" class="label-success"></label>
                                    </div>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    {{ category }}
                                    <div class="material-switch pull-right" id="extraField">
                                        <input id="category{{ forloop.counter }}" name="{{ category }}"
                                               type="checkbox" onchange="changeCategory(this.name, this.checked)"/>
                                        <label for="category{{ forloop.counter }}" class="label-success"></label>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeAnswerTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Endre Svarmåte</h4>
                </div>
                <div class="modal-body">
                    <div id="accordion" class="panel-group" role="tablist">
                        <div class="panel panel-default" id="tekstRadio">
                            <div class=" panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <label><input type="radio" name="answer_type" value="1" data-toggle="collapse"
                                                  data-parent="#accordion" data-target="#collapse5" required> Tekstsvar</label>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Hvis dette alternativet velges, vil eleven svare med tekst.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" id="flervalgRadio">
                            <div class="panel-heading" role="tab">
                                <p class="panel-title">
                                    <label><input type="radio" name="answer_type" value="2" data-toggle="collapse"
                                                  data-parent="#accordion" data-target="#collapse6">
                                        Flervalgstest</label>
                                </p>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Hvis dette alternativet velges, vil eleven kunne svare i en flervalgsprøve.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="geoRadio">
                            <div class=" panel-heading" role="tab">
                                <p class="panel-title">
                                    <label><input type="radio" name="answer_type" value="3" data-toggle="collapse"
                                                  data-parent="#accordion" data-target="#collapse7"> Kun tillegg</label>
                                </p>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Hvis dette alternativet velges, vil eleven kunne svare kun med tillegg.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        /**
         * This function selects the already chosen answertype when the user opens the
         * changeAnswerTypeModal
         */
        $('#changeAnswerTypeModal').on('show.bs.modal', function () {
            $("input[name=answer_type][value=" + {{ task.answertype }} +"]").prop('checked', true);
        });

        /**
         * This function changes the visibility of the answer type-divs when the user closes the
         * changeAnswerTypeModal and has changed the answer type for the task.
         */
        $('#changeAnswerTypeModal').on('hide.bs.modal', function () {
            var answervalue = $('input[name=answer_type]:checked').val();

            if (answervalue == 1) {
                $('#textanswerdiv').show();
                $('#multiplechoicediv').hide();
                $('#extraanswerdiv').hide();
            }
            else if (answervalue == 2) {
                $('#textanswerdiv').hide();
                $('#multiplechoicediv').show();
                $('#extraanswerdiv').hide();
            }
            else if (answervalue == 3) {
                $('#textanswerdiv').hide();
                $('#multiplechoicediv').hide();
                $('#extraanswerdiv').show();
            }
        });

        /**
         * This function adds and removes categories in the view when the user has changed the
         * selected categories for the task.
         * @param category
         * @param check
         */
        function changeCategory(category, check) {
            if (check == true) {
                document.getElementById('categorydiv').innerHTML += '<span class="label label-info" style="margin-left: 1px" id="list' + category + '">' + category + '</span>';
            }
            else {
                $('#list' + category).remove();
            }
        }
    </script>
{% endblock %}