<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!-- loads the static files of the project-->
{% load staticfiles %}
{% load static %}
<!-- Loads CSS and javascript-->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}

{% block head %}
    <!--Imports bootstrap multiselect-->
    <script type="text/javascript" src="{% static 'maths/js/bootstrap-multiselect.js' %}"></script>
    <!--Imports bootstrap multiselect css-->
    <link rel="stylesheet" href="{% static 'maths/css/bootstrap-multiselect.css' %}" type="text/css"/>
    <!--Imports tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");

    </script>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Oppgaveoversikt</h2>
            <div class="row">
                <div class="col-md-10" style="padding-right: 10px">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                        <input type="text" class="form-control" id="search"
                               onkeyup="taskSearch('tasktable')"
                               placeholder="Søk etter oppgave...">
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 10px;">
                    <select class="hidden" id="selectCategory" multiple="multiple">
                        {% for category in categories %}
                            <option id="{{ category.id }}" value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- #Panel-heading -->
    <div class="panel-body">
        {% bootstrap_messages %}
        <div id="tableCont" class="tab-content">
            <table class="table table-hover table-striped table-responsive" id="tasktable">
                <thead>
                <tr>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-2">Oppgavenavn</th>
                    <th class="col-sm-3">Kategori</th>
                    <th class="col-sm-3">Laget av</th>
                    <th class="col-sm-5">Alternativer</th>
                </tr>

                </thead>
                <tbody>
                {% for task in object_list %}
                    <tr id="task{{ task.id }}">
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                            {% for category in task.category.all %}
                                {% if forloop.last %}
                                    {{ category }}
                                {% else %}
                                    {{ category }} -
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ task.author.get_full_name }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" value="{{ task.id }}" class="btn btn-info items"
                                        {% if not task.variableTask %}
                                        disabled="disabled"
                                        {% endif %}><i
                                        class="fa fa-sitemap" aria-hidden="true"></i> Items
                                </button>
                                <a class="btn btn-info"
                                   href="{% url 'maths:taskUpdate' task.id %}" id="update{{ task.id }}"><span
                                        class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Oppdater
                                </a>
                                <button type="button" value="{{ task.id }}" class="btn btn-info"
                                        onclick="previewTask(this)"
                                        id="preview{{ task.id }}"><span
                                        class="glyphicon glyphicon-eye-open"></span> Forhåndsvis
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div> <!-- #Panel-body -->
    <div class="panel-footer">
        <a class="btn btn-primary" href="{% url 'maths:createTask' %}"><span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span> Opprett ny oppgave</a>
    </div> <!-- #Panel-footer -->

    <script>
        /**
         * This function runs when a ajax-call is sent.
         */
        $(document).ajaxSend(function (event, request, settings) {
            $('#loading-indicator').show();
        });
        /**
         * This function runs when the ajax-call is completed.
         */
        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').hide();
            $('#previewBody').removeClass('hidden');
        });
        $(document).ready(function () {
            /**
             * Sets up the multiselect widget for the category filtering.
             */
            $('#selectCategory').multiselect({
                buttonClass: 'form-control',
                onChange: function (option, checked, select) {
                    var category = $(option).val();
                    var selected = checked;
                    $('#tasktable > tbody  > tr').each(function () {
                        var show = true;
                        var taskCategory = $(this).find("td:eq(2)").html();
                        $('#selectCategory option:selected').map(function (a, item) {
                            if (taskCategory.indexOf(item.value) == -1) {
                                show = false
                            }
                        });
                        if (show == false) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });

                },
                buttonText: function (options, select) {
                    if (options.length === 0) {
                        return 'Velg Kategori';
                    }
                    else if (options.length > 3) {
                        return 'Mer enn 3 alternativer valgt';
                    }
                    else {
                        var labels = [];
                        options.each(function () {
                            if ($(this).attr('label') !== undefined) {
                                labels.push($(this).attr('label'));
                            }
                            else {
                                labels.push($(this).html());
                            }
                        });
                        return labels.join(', ') + '';
                    }
                }
            });
            $(".alert-success").fadeTo(5000, 500).slideUp(500, function () {
                $('.alert-success').slideUp(500);
            });
        });

        $('.items').click(function () {
            var id = $(this).val();
            var url = "{% url 'maths:taskDetail' task_pk=1234 %}".replace(/1234/, id);
            window.location.href = url;
        });

        /**
         * This function matches the text in the search field with the content in the table given in the parameter.
         * and removes rows that don't match the search criteria.
         * @param inputTable
         */
        function taskSearch(inputTable) {
            var input, filter, table, tr, td, i, td1, td2, td3;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById(inputTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                td3 = tr[i].getElementsByTagName("td")[3];

                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1
                        || td2.innerHTML.toUpperCase().indexOf(filter) > -1 || td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }



    </script>
{% endblock %}

{% block modal %}
   {% include 'matistikk/previewTask.html' %}
{% endblock %}

