<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!-- Loads CSS and javascript-->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}
<!-- loads the static files of the project-->
{% load static %}
{% block head %}
    <!--Imports bootstrap multiselect-->
    <script type="text/javascript" src="{% static 'maths/js/bootstrap-multiselect.js' %}"></script>
    <!--Imports bootstrap multiselect css-->
    <link rel="stylesheet" href="{% static 'maths/css/bootstrap-multiselect.css' %}" type="text/css"/>
    <!--Imports tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");

        tinymce.init({
            selector: '#taskVariableDescription',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1,
            height: '150px'
        });
    </script>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-body">
            <form class="form-margin" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.test_name addon_before='<i class="fa fa-book" aria-hidden="true"></i>' %}
                {% bootstrap_field form.items field_class='hidden' show_label=false %}
                <div id="selectTaskWarning" class="alert alert-warning hidden">
                    <strong>Ikke lagret!</strong> Vennligst velg noen oppgaver.
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a data-toggle="pill" href="#matistikkdir">Matistikk</a></li>
                            <li><a data-toggle="pill" href="#alltasks">Alle oppgaver</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 taskcollectionbar" style="padding-right: 10px;">
                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                            <input type="text" class="form-control" id="search"
                                   onkeyup="taskSearch('table'); taskSearch('tasktable')"
                                   placeholder="Søk etter oppgave...">
                        </div>
                    </div>
                    <div class="col-md-2 taskcollectionbar">
                        <select id="selectCategory" class="hidden" multiple="multiple">
                            {% for category in categories %}
                                <option id="{{ category.id }}" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="tab-content" style="border: 1px solid; border-color: lightgray;">
                    <div id="matistikkdir" class="tab-pane fade in active">
                        <div class="col-md-12" style="">
                            <div class="col-md-3">
                                <ol class="breadcrumb" style="margin-bottom: 10px">
                                    <li data-value="{{ directory.id }}" class="breadcrumb-item active">
                                        Matistikk
                                    </li>
                                </ol>
                                <div class="list-group directoryList zeroMargin" style="overflow: auto">
                                    {% for sub_directory in sub_directories %}
                                        <a data-id="{{ sub_directory.id }}"
                                           class="list-group-item directory context-menu-one"><i
                                                class="fa fa-folder"
                                                aria-hidden="true"></i> {{ sub_directory.name }}</a>
                                    {% empty %}
                                        <div class="well text-center">Denne mappen inneholder ingen mapper.</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-9 mainBody" style="padding-left: 10px">
                                <table class="table tasktable table-striped table-responsive" id="tasktable"
                                       style="margin-bottom: 0px">
                                    <thead>
                                    <tr>
                                        <th style="border: none; width: 40px;"></th>
                                        <th class="col-sm-1" style="border: none">ID</th>
                                        <th class="col-sm-3" style="border: none">Oppgavenavn</th>
                                        <th class="col-sm-3" style="border: none">Kategori</th>
                                        <th class="col-sm-1" style="border: none">Variabel</th>
                                        <th class="col-md-4" style="border: none">Alternativer</th>
                                    </tr>

                                    </thead>
                                    <tbody class="tasktablebody">
                                    {% for task in tasks %}
                                        {% if task.directory_id == directory.id %}
                                            <tr class="task{{ task.id }}" style="cursor: pointer"
                                                data-variable="{{ task.variableTask }}">
                                                <td><input type="checkbox" value="{{ task.id }}"></td>
                                                <td>{{ task.id }}</td>
                                                <td>{{ task.title }}</td>
                                                <td>
                                                    {% for category in task.category.all %}
                                                        {% if forloop.last %}
                                                            {{ category }}
                                                        {% else %}
                                                            {{ category }} -
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if task.variableTask %}Ja{% else %}Nei{% endif %}
                                                </td>
                                                <td>
                                                    <button type="button" value="{{ task.id }}"
                                                            class="btn btn-info btn-sm previewtask"
                                                            onclick="previewTask(this)"><span
                                                            class="glyphicon glyphicon-eye-open"></span> Forhåndsvis
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if not tasks %}
                                    <div class="well noTasks text-center">Denne mappen inneholder ingen oppgaver.</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="alltasks" class="tab-pane fade">
                        <div id="tableDiv"
                             style="overflow: auto; max-width: 100%">
                            <table id="table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 40px"></th>
                                    <th class="col-sm-1">ID</th>
                                    <th class="col-sm-3">Oppgavenavn</th>
                                    <th class="col-sm-3">Kategori</th>
                                    <th class="col-sm-1">Variabel</th>
                                    <th class="col-sm-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr id="task{{ task.id }}" style="cursor: pointer"
                                        data-variable="{{ task.variableTask }}" class="task{{ task.id }}">
                                        <td><input type="checkbox" value="{{ task.id }}"
                                        ></td>
                                        <td>{{ task.id }}</td>
                                        <td>{{ task.title }}</td>
                                        <td>{% for category in task.category.all %}
                                            {% if forloop.last %}
                                                {{ category }}
                                            {% else %}
                                                {{ category }} -
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td>
                                            {% if task.variableTask %}Ja{% else %}Nei{% endif %}
                                        </td>
                                        <td>
                                            <button id="taskBtn{{ task.id }}" value="{{ task.id }}" type="button"
                                                    class="btn btn-info btn-sm"><span
                                                    class="glyphicon glyphicon-eye-open"
                                                    aria-hidden="true"></span> Forhåndsvis
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h4 style="margin-bottom: 0; margin-top: 20px;">Antall valgte oppgaver: <span
                        id="itemsSelected">0</span></h4>
                <button id='submitTaskCollectionBtn' type="submit" class="hidden"></button>
            </form>
        </div>
        <div class="panel-footer">
            <button type="button" onclick="submitForm()" class="btn btn-success" id="saveTaskCollectionBtn">
                {% bootstrap_icon "check" %} {% if update %}Oppdater{% else %}Lagre{% endif %}
            </button>
        </div>
    </div>
    <script>
        $(document).ajaxSend(function (event, request, settings) {
            $('#loading-indicator').removeClass('hidden');
        });
        /**
         * This function runs when the ajax-call is completed.
         */
        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').addClass('hidden');
            $('.previewBody').removeClass('hidden');
            $('#previewBody').removeClass('hidden');

        });
        /**
         * Function that selects the clicked on tablerow and adds success to it.
         */
        $(".table tbody").on('click', 'tr', function (e) {
            var $checkbox = $(this).find(':checkbox');
            var $button = $(this).find(':button');
            var variableTask = $(this).data('variable');
            if ($(e.target).is(":button") || $(e.target).is('span')) {
                var button = document.getElementById('taskBtn' + $button.val());
                previewTask(button);
            }
            else if (e.target.type == "checkbox") {
                e.stopPropagation();
                if ($checkbox.is(':checked')) {
                    if (variableTask == 'True') {
                        $('#tasktitlespan').text($(this).find('td').eq(2).text());
                        $(this).addClass('info');
                        getVariables($checkbox.val());
                    } else {
                        getVariables($checkbox.val());
                        var task = $('.task' + $checkbox.val());
                        task.addClass('success');
                        task.find(':checkbox').prop('checked', true);

                    }
                } else {
                    if (variableTask == "True") {
                        if ($(this).hasClass('success')) {
                            $checkbox.prop('checked', true);
                        }
                        getVariables($checkbox.val());
                    } else {
                        var itemID = $(this).attr('data-id');
                        $('#id_items option[value=' + itemID + ']').attr('selected', false);
                        var task = $('.task' + $checkbox.val());
                        task.removeClass('info success');
                        task.find(':checkbox').prop('checked', false);
                        itemCount();
                    }
                }
            } else {
                $checkbox.click();
            }
        });

        function getVariables(id) {
            $('.previewBody').addClass('hidden');
            $('#itemTaskID').text(id);
            $.ajax({
                type: 'GET',
                url: '{% url 'maths:taskCollectionCreate' %}',
                data: {
                    'id': id
                },
                dataType: 'json',
                success: function (data) {
                    var ids = data.ids;
                    if (data.variableTask) {
                        $('.itemHead > tr > th').not(':first').remove();
                        $('.itemBody > tr').remove();
                        tinyMCE.get('taskVariableDescription').getBody().style.backgroundColor = "#f5f5f5";
                        if (data.description) {
                            tinyMCE.get('taskVariableDescription').setContent(data.description);
                        } else {
                            tinyMCE.get('taskVariableDescription').setContent('<h5>Ingen beskrivelse er gitt<h5>');
                        }
                        var variables = data.variables;
                        var parameterCount = variables[0].split('|||||').length;
                        for (var i = 1; i <= parameterCount; i++) {
                            $('.itemHead > tr').append('<th>' + i + '</th>')
                        }
                        for (var i = 0; i < ids.length; i++) {
                            $('.itemBody').append('<tr id="item' + ids[i] + '" class="itemrow"><td><input type="checkbox" value="' + ids[i] + '"></td></tr>');
                            var variableTable = variables[i].split('|||||');
                            for (var x = 0; x < variableTable.length; x++) {
                                $('#item' + ids[i]).append("<td>" + variableTable[x] + "</td>");
                            }
                            if ($('#id_items option[value=' + ids[i] + ']').is(':selected')) {
                                $('#item' + ids[i]).addClass('success').find(':checkbox').prop('checked', true);
                            }
                        }
                        $('#itemModal').modal('show');
                    } else {
                        $('#id_items option[value=' + ids + ']').attr('selected', true);
                        $('.task' + id).attr('data-id', ids);
                        itemCount();
                    }
                },
                error: function () {
                    alert('error');
                }
            });
        }
        /**
         * Function that selects the clicked on itemrow and adds success to it.
         */
        $(document).on('click', '.itemrow', function (e) {
            var $checkbox = $(this).find(':checkbox');
            if (e.target.type == "checkbox") {
                if ($checkbox.is(':checked')) {
                    $(this).addClass('success');
                    $('#id_items option[value=' + $checkbox.val() + ']').attr('selected', true);
                    itemCount();
                } else {
                    $('#id_items option[value=' + $checkbox.val() + ']').attr('selected', false);
                    $(this).removeClass('success');
                    itemCount();

                }
            } else {
                $checkbox.click();
            }
        });

        function itemCount() {
            var selectedItems = $("#id_items :selected").length;
            $('#itemsSelected').text(selectedItems);
        }

        /**
         * Function that tries to submit the form and gives feedback in form of a success or error message depending
         * ot how it goes.
         */
        var submitted = false;
        function submitForm() {
            if (submitted) {
                return 0;
            }
            var taskCheck = false;
            var taskTitle = false;
            $('#id_items option').each(function () {
                if (this.selected)
                    taskCheck = true;
            });
            if ($('#id_test_name').val()) {
                taskTitle = true;
            } else {
                $('#submitTaskCollectionBtn').click();
            }
            if (taskCheck == true && taskTitle == true) {
                $('#submitTaskCollectionBtn').click();
                submitted = true;
            } else if (taskCheck == false) {
                $("#selectTaskWarning").removeClass("hidden");
                $("#selectTaskWarning").fadeTo(5000, 500).slideUp(500, function () {
                    $("#selectTaskWarning").slideUp(500);
                });
            }
        }

        $(document).ready(function () {
            /**
             * Sets up the multiselect widget for the category filtering.
             */
            $('#selectCategory').multiselect({
                buttonClass: 'form-control',
                minWidth: '500px',
                autoOpen: true,
                onChange: function (option, checked, select) {
                    var category = $(option).val();
                    var selected = checked;
                    $('#table > tbody  > tr').each(function () {
                        var show = true;
                        var taskCategory = $(this).find("td:eq(3)").html();
                        $('#selectCategory option:selected').map(function (a, item) {
                            if (taskCategory.indexOf(item.value) == -1) {
                                show = false
                            }
                        });
                        if (show == false) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });

                },
                buttonText: function (options, select) {
                    if (options.length === 0) {
                        return 'Filtrer etter kategori';
                    }
                    else if (options.length > 3) {
                        return 'Mer enn 3 alternativer valgt';
                    }
                    else {
                        var labels = [];
                        options.each(function () {
                            if ($(this).attr('label') !== undefined) {
                                labels.push($(this).attr('label'));
                            }
                            else {
                                labels.push($(this).html());
                            }
                        });
                        return labels.join(', ') + '';
                    }
                }


            });
            var height = window.innerHeight - 300;
            $('.tab-content').css('max-height', 100 + 'vh');
            $('#tableDiv').css('height', height + 'px');
            $('.mainBody').css('height', height + 'px');
            $('.directoryList').css('height', (height - 50) + 'px');
            itemCount();
            $('#id_items option:selected').each(function () {
                var id = $(this).val();
                var taskCollection_pk = "{{ taskcollection.id }}";
                $.ajax({
                    type: 'GET',
                    url: '{% url 'maths:taskCollectionUpdate' taskCollection_pk=12345 %}'.replace(/12345/, taskCollection_pk),
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        var task = $('.task' + data.id);
                        task.addClass('success');
                        task.find(':checkbox').prop('checked', true);
                        task.attr('data-id', id);

                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });
        });

        /**
         * This function matches the text in the search field with the content in the table given in the parameter.
         * and removes rows that don't match the search criteria.
         * @param inputTable
         */
        function taskSearch(inputTable) {
            var input, filter, table, tr, td, i, td1, td2;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById(inputTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                td1 = tr[i].getElementsByTagName("td")[2];
                td2 = tr[i].getElementsByTagName("td")[3];

                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1
                        || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        $('.directoryList').on('click', '.directory', function (event) {
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
        });
        $('.directoryList').on('dblclick', '.directory', function () {
            var id = $(this).data('id');
            var name = $(this).text();
            openDirectory(id, name, false);
        });
        $('.breadcrumb').on('click', '.breadcrumb-item', function () {
            var directory = $(this);
            if (!directory.hasClass('active')) {
                var id = directory.data('value');
                var name = directory.text();
                openDirectory(id, name, true);
            }
        });
        function openDirectory(id, name, breadcrumbBool) {
            $.ajax({
                type: 'GET',
                url: '{% url 'maths:directoryRoot' %}',
                data: {
                    'directory': id
                },
                dataType: 'json',
                success: function (json) {
                    var sub_directories = json.sub_directories;
                    var directoryList = $('.directoryList');
                    directoryList.empty();

                    if (breadcrumbBool) {
                        var breadCrumbClicked = $(".breadcrumb").find("[data-value='" + id + "']");
                        breadCrumbClicked.nextAll().remove();
                        breadCrumbClicked.addClass('active');
                    } else {
                        var breadcrumb = $('.breadcrumb');
                        breadcrumb.find('.active').removeClass('active');
                        breadcrumb.append('<li data-value="' + id + '" class="breadcrumb-item active">' + name + ' </li>');
                    }
                    var breadcrumbHeight = $('.breadcrumb').outerHeight();
                    var bodyHeight = $('.mainBody').outerHeight();
                    var listHeight = bodyHeight - breadcrumbHeight - 10;
                    directoryList.css('max-height', listHeight + 'px');
                    var dir_arr = [];
                    if (!sub_directories.length) {
                        $('.directoryList').append('<div class="well noDirectories text-center">Denne mappen inneholder ingen mapper.</div>')
                    } else {
                        $('.noDirectories').remove();
                    }
                    $.each(sub_directories, function (i, val) {
                        dir_arr.push('<a data-id="');
                        dir_arr.push(val.id);
                        dir_arr.push('" class="list-group-item context-menu-one directory"><i class="fa fa-folder" aria-hidden="true"></i> ');
                        dir_arr.push(val.name);
                        dir_arr.push('</a>');
                    });
                    directoryList.append(dir_arr.join(''));
                    var tasks = json.tasks;
                    var task_arr = [];
                    var tbody = $('#tasktable > tbody');
                    tbody.empty();
                    if (!tasks.length) {
                        if (!$('.noTasks').length) {
                            $('.mainBody').append('<div class="well noTasks text-center">Denne mappen inneholder ingen oppgaver.</div>');
                        }
                    } else {
                        $('.noTasks').remove();
                    }
                    $.each(tasks, function (i, val) {
                        task_arr.push('<tr class="task');
                        task_arr.push(val.id);
                        task_arr.push('" style="cursor: pointer" data-variable="');
                        if (val.variableTask) {
                            task_arr.push('True');
                        } else {
                            task_arr.push('False');
                        }
                        task_arr.push('"><td><input type="checkbox" value="');
                        task_arr.push(val.id);
                        task_arr.push('"></td><td>');
                        task_arr.push(val.id);
                        task_arr.push('</td><td>');
                        task_arr.push(val.title);
                        task_arr.push('</td><td>');
                        task_arr.push(val.categories);
                        task_arr.push('</td><td>');
                        if (val.variableTask) {
                            task_arr.push('Ja');
                        } else {
                            task_arr.push('Nei');
                        }
                        task_arr.push('</td><td>');
                        task_arr.push('<button type="button" value="');
                        task_arr.push(val.id);
                        task_arr.push('" class="btn btn-info previewtask btn-sm" onclick="previewTask(this)"><span class="glyphicon glyphicon-eye-open"></span> Forhåndsvis </button></div>');
                        task_arr.push('</td></tr>');
                    });
                    tbody.append(task_arr.join(''));
                    $('#id_items option:selected').each(function () {
                        var itemID = $(this).val()
                        var taskID = $('.table > tbody > tr[data-id="' + itemID + '"]').find(':checkbox').val();
                        $('.task' + taskID).addClass('success').find(':checkbox').prop('checked', true);

                    });
                    var categories = json.categories;
                    var selectCategories = $('#selectCategory');
                    selectCategories.empty();
                    var cat_arr = []
                    $.each(categories, function (i, val) {
                        cat_arr.push('<option id="');
                        cat_arr.push(val.id);
                        cat_arr.push(" value=");
                        cat_arr.push(val.name);
                        cat_arr.push('">');
                        cat_arr.push(val.name);
                        cat_arr.push('</option>');
                    });
                    selectCategories.append(cat_arr.join(''));
                    $("#selectCategory").multiselect('rebuild');
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

        function randomRow(val) {
            var numRows = $('.itemrow').length;
            if (val == 0) {
                val = $('#randomInputVal').val();
            }
            if (val > numRows) {
                val = numRows;
            }
            $('#itemTable tr.success').click();
            while ($('#itemTable tr.success').length < val) {
                var randomNum = Math.floor(Math.random() * numRows) + 1;
                var randomtr = $('#itemTable tr').eq(randomNum);
                if (!randomtr.hasClass('success')) {
                    randomtr.click();
                }
            }
        }
    </script>
{% endblock %}

{% block modal %}
    {% include 'matistikk/previewTask.html' %}
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel"><span id="tasktitlespan"></span> - Velg items
                    </h3>
                </div>
                <div class="modal-body previewBody hidden">
                    <span class="hidden" id="itemTaskID"></span>
                    <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator hidden">
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 10px">
                            <label for="taskVariableDescription" style="padding-bottom: 5px; padding-top: 5px;">Beskrivelse
                                av variablene.</label>
                            <textarea id="taskVariableDescription"></textarea>
                            <label for="btnGroup" style="padding-top: 10px">Velg antall tilfeldige items.</label>
                            <div id="btnGroup" class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" onclick="randomRow(1)">1</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(2)">2</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(3)">3</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(4)">4</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(5)">5</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(6)">6</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(7)">7</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(8)">8</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(9)">9</button>
                                <div class="input-group">
                                    <input type="text" id="randomInputVal" class="form-control"
                                           placeholder="Antall tilfeldig items"
                                           aria-describedby="btnGroupAddon">
                                    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" onclick="randomRow(0)">Velg</button>
      </span>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 modalOverflow">
                            <table id="itemTable" class="table table-striped">
                                <thead class="itemHead">
                                <tr>
                                    <th class="col-md-1">Parameter</th>
                                </tr>
                                </thead>
                                <tbody class="itemBody">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#itemModal').on('hidden.bs.modal', function () {
            var testID = $('#itemTaskID').text();
            var taskRow = $('.task' + testID);
            if ($('.itemBody .success').length > 0) {
                taskRow.removeClass('info').addClass('success');
                taskRow.find(':checkbox').prop('checked', true);
            } else {
                taskRow.find(':checkbox').prop('checked', false);
                taskRow.removeClass('info success');
            }
        });
    </script>
{% endblock %}
