{% extends 'matistikk/base.html' %}
{% load staticfiles %}
{% load maths_extras %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!-- Loads CSS and javascript-->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}

{% block head %}
    <script type="text/javascript" src="{% static 'administration/../../static/maths/js/deployggb.js' %}"></script>
    <!--Imports Tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");
        tinymce.init({
            selector: '#descriptionText',
            plugins: 'equationeditor  textcolor lists fullscreen autolink link tabfocus table placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: [
                'bold italic underline fontsizeselect | forecolor bullist numlist | subscript superscript equationeditor link table | fullscreen '
            ],
            menubar: false,
            statusbar: false,
            body_id: 'tasktextID',
            width: '100%',
            height: '250px'
        });
    </script>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-center">{{ task.title }} - items</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 variableList" style="overflow: auto">
                    <div class="list-group">
                        {% get_variable_count items.first as variable_count %}
                        <table class="table table-striped table-responsive table-hover">
                            <thead>
                            <tr>
                                <th>Parameter</th>
                                {% for x in variable_count %}
                                    <th>{{ forloop.counter }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr class="itemrow" id="item{{ item.id }}">
                                    <td><input type="radio" name="itemradio"></td>
                                    {% get_variable_count item as variables %}
                                    {% for variable in variables %}
                                        <td>{{ variable }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="applet_container"></div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            {% bootstrap_messages %}
            <button class="btn btn-primary addItem"><i class="fa fa-plus" aria-hidden="true"></i>
                Legg til nytt item
            </button>
            <button class="btn btn-primary variableDescription" data-toggle="modal" data-target="#descriptionModal">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Beskrivelse av Variable
            </button>
        </div>
    </div>

    <script>
        var variableCount = $("table > tbody > tr:first > td").length - 1;
        var viewPortWidth = 1200;
        var viewPortHeight = 750;
        var base64 = "{{ geogebra.base64 }}";
        var height = "{{ geogebra.height }}";
        var width = "{{ geogebra.width }}";
        var listScaleHeight = (window.innerHeight * 0.70) / height;
        if (typeof window.innerWidth != 'undefined') {
            viewPortWidth = window.innerWidth * 0.55;
            viewPortHeight = window.innerHeight * 0.75;
            var listHeight = height * listScaleHeight;
            $('.variableList').css('height', listHeight);
            $('.variableList').css('max-height', listHeight);
        }
        if (height && width) {
            viewPortHeight = height;
            viewPortWidth = width;
        }
        var parameters = {
            "id": "ggbApplet",
            "width": viewPortWidth,
            "height": viewPortHeight,
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "language": "nb",
            "preventFocus": true,
            "useBrowserForJS": false,
            "ggbBase64": base64
        };

        parameters.appletOnLoad = function () {
            for (var i = 1; i <= variableCount; i++) {
                var param = $("tr").eq(1).find("td").eq(i).text();
                var random = param.split('--->');
                if (random.length > 1) {
                    var min = parseFloat(random[0]);
                    var max = parseFloat(random[1]);
                    param = Math.floor(Math.random() * (max - min + 1) + min);
                    if (random.length === 3) {
                        var increment = parseFloat(random[2]);
                        var newMax = max / increment;
                        var newMin = min / increment;
                        var x = parseFloat(Math.floor(Math.random() * (newMax - newMin + 1) + newMin));
                        param = (x * increment);
                    }
                }
                ggbApplet.setValue('matistikkParameter' + i, param);
                if (window.innerWidth > window.innerHeight) {
                    var scaledWidth = (window.innerWidth * 0.49) / width;
                    var scaledHeight = (window.innerHeight * 0.70) / height;
                } else {
                    var scaledWidth = (window.innerWidth * 0.49) / width;
                    var scaledHeight = (window.innerHeight * 0.50) / height;
                }
                $('.applet_scaler').css('transform-origin', '0% 0% 0px');
                var appletContainerScaler = $('#applet_container .applet_scaler');
                appletContainerScaler.css('transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
                appletContainerScaler.css('-webkit-transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
                appletContainerScaler.css('-ms-transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
                document.getElementById('ggbApplet').setAttribute('data-scalex', scaledWidth);
                document.getElementById('ggbApplet').setAttribute('data-scaley', scaledHeight);
            }
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        //  when used with Math Apps Bundle, uncomment this:
        // applet.setHTML5Codebase('GeoGebra/HTML5/5.0/web3d/');
        applet.setPreviewImage('http://bildr.no/image/cEtUd3R6.jpeg', 'https://www.geogebra.org/images/GeoGebra_loading.png?v=1490705653', 'https://www.geogebra.org/images/applet_play.png?v=1490705653');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');
            setContenteditable(false);
            $('.mce-toolbar-grp').addClass('hidden');
        };
        window.onresize = function (event) {
            $('.applet_scaler').css('transform-origin', '0% 0% 0px');
            var appletContainerScaler = $('#applet_container .applet_scaler');
            var scaledWidth = (window.innerWidth * 0.49) / width;
            var scaledHeight = (window.innerHeight * 0.70) / height;
            appletContainerScaler.css('transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
            appletContainerScaler.css('-webkit-transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
            appletContainerScaler.css('-ms-transform', 'scale(' + scaledWidth + ',' + scaledHeight + ')');
            document.getElementById('ggbApplet').setAttribute('data-scalex', scaledWidth);
            document.getElementById('ggbApplet').setAttribute('data-scaley', scaledHeight);
        };
        $(document).ready(function () {
            $("tr").eq(1).addClass('success').find(':radio').prop('checked', true);

            $('#variabelForm').submit(function (e) {
                e.preventDefault();
                var task_id = "{{ task.id }}";
                var randomVariables = false;
                var variableTable = [];
                var variabelInputField = "";
                for (var i = 1; i <= variableCount; i++) {
                    var input = $('#variabel' + i).val();
                    variableTable.push(input);
                    var prevValue = variabelInputField;
                    variabelInputField = prevValue + input + "|||||";
                }
                var variables = variabelInputField.slice(0, -5);
                var checkRandom = variables.split('--->');
                if (checkRandom.length > 1) {
                    randomVariables = true;
                }
                $.ajax({
                    type: 'POST',
                    url: '{% url 'maths:taskDetail' task_pk=1234 %}'.replace(/1234/, task_id),
                    data: {
                        'updateDescription': false,
                        'randomVariables': randomVariables,
                        'variables': variables,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if ($('#item' + data.id).length == 0) {
                            $("table > tbody").append("<tr id='item" + data.id + "'></tr>");
                            $('#item' + data.id).append("<td><input type='radio' name='itemradio'></td>");
                            for (var i = 0; i < variableTable.length; i++) {
                                $('#item' + data.id).append("<td>" + variableTable[i] + "</td>");
                            }
                            $('#item' + data.id).addClass('itemrow').click().focus();
                        } else {
                            $('#item' + data.id).click();
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
                $('#addVariablesModal').modal('hide');
            });
        });

        $(document).on('click', '.itemrow', function () {
            $('.itemrow').removeClass('success');
            $(this).find(':radio').prop('checked', true);
            $(this).addClass('success');

            for (var i = 1; i <= variableCount; i++) {
                var param = $(this).find("td").eq(i).text();
                var random = param.split('--->');
                if (random.length > 1) {
                    var min = parseFloat(random[0]);
                    var max = parseFloat(random[1]);
                    param = Math.floor(Math.random() * (max - min + 1) + min);
                    if (random.length === 3) {
                        var increment = parseFloat(random[2]);
                        var newMax = max / increment;
                        var newMin = min / increment;
                        var x = parseFloat(Math.floor(Math.random() * (newMax - newMin + 1) + newMin));
                        param = (x * increment);
                    }
                }
                ggbApplet.setValue('matistikkParameter' + i, param);
            }
        });


        $('.addItem').click(function () {
            $('.variabelFormGroup').remove();
            for (var i = 1; i <= variableCount; i++) {
                $('#variabelForm').append("<div class='form-group variabelFormGroup'><label for='variabel" + i + "'>Parameter " + i + ":</label> <input type='text' placeholder='Skriv inn verdien for parameter " + i + "' class='form-control' id='variabel" + i + "'required></div>");
            }
            $('#variabelForm').append('<button type="submit" class="btn btn-success variabelFormGroup"><i class="fa fa-floppy-o"aria-hidden="true"></i>Sett inn parameter</button>');
            $('#addVariablesModal').modal('show');

        });

        function setContenteditable(value) {
            tinymce.get('descriptionText').getBody().setAttribute('contenteditable', value);
        }

        function updateDescription(btn) {
            var task_id = "{{ task.id }}";
            if ($(btn).hasClass('btn-primary')) {
                setContenteditable(true);
                $(btn).removeClass('btn-primary').addClass('btn-success').find('span').text(' Lagre endringer');
                $('.mce-toolbar-grp').removeClass('hidden');
                tinymce.execCommand('mceFocus', false, 'descriptionText');

            } else {
                var description = tinymce.get('descriptionText').getContent();
                $.ajax({
                    type: 'POST',
                    url: '{% url 'maths:taskDetail' task_pk=1234 %}'.replace(/1234/, task_id),
                    data: {
                        'updateDescription': true,
                        'description': description,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#descriptionSuccess').removeClass('hidden');
                        $("#descriptionSuccess").fadeTo(5000, 500).slideUp(500, function () {
                            $('#descriptionSuccess').slideUp(500);
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
                $(btn).removeClass('btn-success').addClass('btn-primary').find('span').text(' Oppdater beskrivelse');
                setContenteditable(false);
                $('.mce-toolbar-grp').addClass('hidden');
            }
        }

    </script>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="addVariablesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel">Legg til nytt item</h3>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" style="margin: 0;">
                                <li class="active"><a href="#setVariable" data-toggle="tab">Velg parameter</a></li>
                                <li><a href="#setRandom" data-toggle="tab">Tilfeldig parameter</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-content" id="tabs">
                        <div class="tab-pane active" id="setVariable">
                            <form id="variabelForm">
                                {% csrf_token %}
                            </form>
                        </div>
                        <div class="tab-pane" id="setRandom">
                            <p>Test</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel">Beskrivelse av variablene</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-10 col-centered">
                    <textarea id="descriptionText">
                        {% if task.variableDescription %}{{ task.variableDescription }}{% else %}Ingen
                            beskrivelse.{% endif %}
                    </textarea>
                        <div id="descriptionSuccess" class="alert alert-success hidden" style="margin-top: 10px;">
                            <strong>Oppdatert!</strong> Beskrivelsen av variablene ble oppdatert.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" onclick="updateDescription(this)">
                        <i class="fa fa-pencil" aria-hidden="true"></i> <span>Oppdater beskrivelse</span>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}