<!--Extends the base.html file that includes different imports and the navbar-->
{% extends 'matistikk/base.html' %}
<!--Loads the tag library-->
{% load bootstrap3 %}
<!-- Loads CSS and javascript-->
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--Display django.contrib.messages as Bootstrap alerts-->
{% bootstrap_messages %}
<!-- loads the static files of the project-->
{% load static %}
{% block head %}
    <!--Imports bootstrap multiselect-->
    <script type="text/javascript" src="{% static 'maths/js/bootstrap-multiselect.js' %}"></script>
    <!--Imports bootstrap multiselect css-->
    <link rel="stylesheet" href="{% static 'maths/css/bootstrap-multiselect.css' %}" type="text/css"/>
    <!--Imports tinymce-->
    <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <!--Imports mathquill-->
    <script type="text/javascript"
            src="{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.min.js' %}"></script>
    <script>
        var configurl = '{% static 'tinymce/js/tinymce/plugins/equationeditor/config.json' %}';
        tinymce.PluginManager.load('equationeditor', "{% static 'tinymce/js/tinymce/plugins/equationeditor/plugin.min.js'%}");

        kantrykke = false;
        tinymce.init({
            selector: '#tasktext',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1
        });
        tinymce.init({
            selector: '#answer',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1
        });
        tinymce.init({
            selector: '#reasoning',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1
        });
        tinymce.init({
            selector: '#taskVariableDescription',
            plugins: 'placeholder',
            content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
            toolbar: false,
            menubar: false,
            statusbar: false,
            readonly: 1,
            height: '150px'
        });
    </script>
{% endblock %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Lag test</h2>
        </div>
        <div class="panel-body">
            <form class="form-margin" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.test_name addon_before='<i class="fa fa-book" aria-hidden="true"></i>' %}
                {% bootstrap_field form.items show_label=false field_class='hidden' %}
                <div id="selectTaskWarning" class="alert alert-warning hidden">
                    <strong>Ikke lagret!</strong> Vennligst velg noen oppgaver.
                </div>
                <div class="row">
                    <div class="col-md-9" style="padding-right: 10px; margin-bottom: 10px;">
                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                            <input type="text" class="form-control" id="search"
                                   onkeyup="taskSearch('table')"
                                   placeholder="Søk etter oppgave...">
                        </div>
                    </div>
                    <div class="col-md-2 text-center" style="margin-bottom:10px;">
                        <select id="selectCategory" class="hidden" multiple="multiple">
                            {% for category in categories %}
                                <option id="{{ category.id }}" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="tableDiv"
                     style="min-height: 20vh; border: 1px solid; border-color: lightgray; overflow: auto; max-height: 47vh; max-width: 100%">
                    <table id="table" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-sm-1">Legg til</th>
                            <th class="col-sm-1">ID</th>
                            <th class="col-sm-4">Oppgavenavn</th>
                            <th class="col-sm-3">Kategori</th>
                            <th class="col-sm-3"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr id="task{{ task.id }}" style="cursor: pointer" data-variable="{{ task.variableTask }}">
                                <td class="test"><input type="checkbox" value="{{ task.id }}"
                                ></td>
                                <td>{{ task.id }}</td>
                                <td>{{ task.title }}</td>
                                <td>{% for category in task.category.all %}
                                    {% if forloop.last %}
                                        {{ category }}
                                    {% else %}
                                        {{ category }} -
                                    {% endif %}
                                {% endfor %}
                                </td>
                                <td>
                                    <button value="{{ task.id }}" type="button" class="btn btn-info btn-sm"><span
                                            class="glyphicon glyphicon-eye-open"
                                            aria-hidden="true"></span> Forhåndsvis
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h4>Antall valgte oppgaver: <span id="itemsSelected">0</span></h4>
                <button id='submitTaskCollectionBtn' type="submit" class="hidden"></button>
            </form>
        </div>
        <div class="panel-footer">
            <button type="button" onclick="submitForm()" class="btn btn-success" id="saveTaskCollectionBtn">
                {% bootstrap_icon "check" %} Lagre test
            </button>
        </div>
    </div>
    <script>
        $(document).ajaxSend(function (event, request, settings) {
            $('#loading-indicator').removeClass('hidden');
        });
        /**
         * This function runs when the ajax-call is completed.
         */
        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').addClass('hidden');
            $('.previewBody').removeClass('hidden');
        });
        /**
         * Function that selects the clicked on tablerow and adds success to it.
         */
        $("#table tbody tr").click(function (e) {
            var $checkbox = $(this).find(':checkbox');
            var $button = $(this).find(':button');
            var variableTask = $(this).data('variable');
            if ($(e.target).is(":button") || $(e.target).is('span')) {
                preview($button);
            }
            else if (e.target.type == "checkbox") {
                e.stopPropagation();
                $('#tasktitlespan').text($(this).find('td').eq(2).text());
                if ($checkbox.is(':checked')) {
                    if (variableTask == 'True') {
                        $(this).addClass('info');
                        getVariables($checkbox.val());
                    } else {
                        // Select item. Oppgaven har bare 1 item.
                        getVariables($checkbox.val());
                        $(this).addClass('success');

                    }
                } else {
                    if (variableTask == "True") {
                        if ($(this).hasClass('success')) {
                            $checkbox.prop('checked', true);
                        }
                        getVariables($checkbox.val());
                    } else {
                        var itemID = $(this).attr('data-id');
                        $('#id_items option[value=' + itemID + ']').attr('selected', false);
                        $(this).removeClass('info success');
                        $checkbox.prop('checked', false);
                        itemCount();
                    }
                }
            } else {
                $checkbox.click();
            }
        });

        function getVariables(id) {
            $('.previewBody').addClass('hidden');
            $('#itemTaskID').text(id);
            $.ajax({
                type: 'GET',
                url: '{% url 'maths:taskCollectionCreate' %}',
                data: {
                    'id': id
                },
                dataType: 'json',
                success: function (data) {
                    var ids = data.ids;
                    if (data.variableTask) {
                        $('.itemHead > tr > th').not(':first').remove();
                        $('.itemBody > tr').remove();
                        tinyMCE.get('taskVariableDescription').getBody().style.backgroundColor = "#f5f5f5";
                        if (data.description) {
                            tinyMCE.get('taskVariableDescription').setContent(data.description);
                        } else {
                            tinyMCE.get('taskVariableDescription').setContent('<h5>Ingen beskrivelse er gitt<h5>');
                        }
                        var variables = data.variables;
                        var parameterCount = variables[0].split('|||||').length;
                        for (var i = 1; i <= parameterCount; i++) {
                            $('.itemHead > tr').append('<th>Variabel ' + i + '</th>')
                        }
                        for (var i = 0; i < ids.length; i++) {
                            $('.itemBody').append('<tr id="item' + ids[i] + '" class="itemrow"><td><input type="checkbox" value="' + ids[i] + '"></td></tr>');
                            var variableTable = variables[i].split('|||||');
                            for (var x = 0; x < variableTable.length; x++) {
                                $('#item' + ids[i]).append("<td>" + variableTable[x] + "</td>");
                            }
                            if ($('#id_items option[value=' + ids[i] + ']').is(':selected')) {
                                $('#item' + ids[i]).addClass('success').find(':checkbox').prop('checked', true);
                            }
                        }
                        $('#itemModal').modal('show');
                    } else {
                        $('#id_items option[value=' + ids + ']').attr('selected', true);
                        $('#task' + id).attr('data-id', ids);
                        itemCount();
                    }
                },
                error: function () {
                    alert('error');
                }
            });
        }
        /**
         * Function that selects the clicked on itemrow and adds success to it.
         */
        $(document).on('click', '.itemrow', function (e) {
            var $checkbox = $(this).find(':checkbox');
            if (e.target.type == "checkbox") {
                if ($checkbox.is(':checked')) {
                    $(this).addClass('success');
                    $('#id_items option[value=' + $checkbox.val() + ']').attr('selected', true);
                    itemCount();
                } else {
                    $('#id_items option[value=' + $checkbox.val() + ']').attr('selected', false);
                    $(this).removeClass('success');
                    itemCount();

                }
            } else {
                $checkbox.click();
            }
        });

        function itemCount() {
            var selectedItems = $("#id_items :selected").length;
            $('#itemsSelected').text(selectedItems);
        }


        /**
         * Function that tries to submit the form and gives feedback in form of a success or error message depending
         * ot how it goes.
         */
        function submitForm() {
            $('#submitTaskCollectionBtn').click();
            var taskCheck = false;
            $('#id_items option').each(function () {
                if (this.selected)
                    taskCheck = true;
            });
            if (taskCheck == true) {
                $('#submitTaskCollectionBtn').click();
            } else {
                $("#selectTaskWarning").removeClass("hidden");
                $("#selectTaskWarning").fadeTo(5000, 500).slideUp(500, function () {
                    $("#selectTaskWarning").slideUp(500);
                });

            }
        }

        $(document).ready(function () {
            /**
             * Sets up the multiselect widget for the category filtering.
             */
            $('#selectCategory').multiselect({
                buttonClass: 'form-control',
                onChange: function (option, checked, select) {
                    var category = $(option).val();
                    var selected = checked;
                    $('#table > tbody  > tr').each(function () {
                        var show = true;
                        var taskCategory = $(this).find("td:eq(3)").html();
                        $('#selectCategory option:selected').map(function (a, item) {
                            if (taskCategory.indexOf(item.value) == -1) {
                                show = false
                            }
                        });
                        if (show == false) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });

                },
                buttonText: function (options, select) {
                    if (options.length === 0) {
                        return 'Filtrer etter kategori';
                    }
                    else if (options.length > 3) {
                        return 'Mer enn 3 alternativer valgt';
                    }
                    else {
                        var labels = [];
                        options.each(function () {
                            if ($(this).attr('label') !== undefined) {
                                labels.push($(this).attr('label'));
                            }
                            else {
                                labels.push($(this).html());
                            }
                        });
                        return labels.join(', ') + '';
                    }
                }


            });
        });
        /**
         * This function matches the text in the search field with the content in the table given in the parameter.
         * and removes rows that don't match the search criteria.
         * @param inputTable
         */
        function taskSearch(inputTable) {
            var input, filter, table, tr, td, i, td1, td2;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById(inputTable);
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                td1 = tr[i].getElementsByTagName("td")[2];
                td2 = tr[i].getElementsByTagName("td")[3];

                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1
                        || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        /**
         * This function sets up the taskinformation gotten inside a modal from the ajax GET request.
         */
        function preview(e) {
            var id = e.val();
            $('.previewBody').addClass('hidden');
            $('#geogebradiv').hide();
            $('#textanswerdiv').hide();
            $('#reasoningdiv').hide();
            $('#multiplechoicediv').hide();
            $.ajax({
                type: 'GET',
                url: '{% url 'maths:taskList' %}',
                data: {
                    'task_id': id
                },
                dataType: 'json',
                success: function (json) {

                    var task = (json);
                    if (task.geogebra_preview != undefined) {
                        $("#previewbilde").attr("src", 'data:image/png;base64,' + (task.geogebra_preview));
                        $('#geogebradiv').show();
                    }
                    tinyMCE.get('tasktext').getBody().style.backgroundColor = "#f5f5f5";
                    tinyMCE.get('tasktext').setContent(task.task_text);
                    var answertype = (task.task_answertype);
                    if (answertype == 1) {
                        $('#textanswerdiv').show();
                    }

                    if (task.task_reasoning) {
                        $('#reasoningdiv').show();
                    }
                    if (answertype == 2) {
                        var options = (task.options);
                        var div = document.getElementById('optionsdiv');
                        $('#multiplechoicediv').show();
                        div.innerHTML = "";
                        $.each(options, function (index, value) {
                            div.innerHTML += "<input type='radio' name='optionsradio'> " + (value.option) + "<br>";
                        });
                    }
                    $('#previewTaskModal').modal('show');
                },
                error: function (xhr) {
                    alert('error');
                    alert(xhr.responseText);
                }
            });
        }

        function randomRow(val) {
            var numRows = $('.itemrow').length;
            if (val == 0) {
                val = $('#randomInputVal').val();
            }
            if (val > numRows) {
                val = numRows;
            }
            $('#itemTable tr.success').click();
            while ($('#itemTable tr.success').length < val) {
                var randomNum = Math.floor(Math.random() * numRows) + 1;
                var randomtr = $('#itemTable tr').eq(randomNum);
                if (!randomtr.hasClass('success')) {
                    randomtr.click();
                }
            }


        }
    </script>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="myModalLabel"><span id="tasktitlespan"></span> - Velg items
                    </h3>
                </div>
                <div class="modal-body previewBody hidden">
                    <span class="hidden" id="itemTaskID"></span>
                    <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator hidden">
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 10px">
                            <label for="taskVariableDescription" style="padding-bottom: 5px; padding-top: 5px;">Beskrivelse
                                av variablene.</label>
                            <textarea id="taskVariableDescription"></textarea>
                            <label for="btnGroup" style="padding-top: 10px">Velg antall tilfeldige items.</label>
                            <div id="btnGroup" class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" onclick="randomRow(1)">1</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(2)">2</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(3)">3</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(4)">4</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(5)">5</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(6)">6</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(7)">7</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(8)">8</button>
                                <button type="button" class="btn btn-primary" onclick="randomRow(9)">9</button>
                                <div class="input-group">
                                    <input type="text" id="randomInputVal" class="form-control"
                                           placeholder="Antall tilfeldig items"
                                           aria-describedby="btnGroupAddon">
                                    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" onclick="randomRow(0)">Velg</button>
      </span>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 modalOverflow">
                            <table id="itemTable" class="table table-striped">
                                <thead class="itemHead">
                                <tr>
                                    <th class="col-md-1"></th>
                                </tr>
                                </thead>
                                <tbody class="itemBody">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="previewTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width: 95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Forhåndsvis oppgave</h4>
                </div>
                <div class="modal-body previewBody">
                    <img src="{% static 'administration/images/loading.gif' %}" class="loading-indicator hidden">
                    <div class="row">
                        <div class="col-md-6" id="geogebradiv" style="padding-right: 10px;">
                            <img id='previewbilde' alt='' width="100%" style="border:1px solid #021a40;"/>
                        </div>
                        <div class="col-md-6" style="padding-left: 10px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><span id="tasktext"></span></h4>
                                </div>
                                <div class="panel-body">
                                    <div id="textanswerdiv">
                                        <label for="answer">Tekstsvar</label>
                                        <textarea class="form-control" id="answer" rows="6" style="resize:vertical"
                                                  placeholder="Skriv svaret ditt her..."></textarea>
                                    </div>

                                    <div id="multiplechoicediv">
                                        <label for="reasoning">Svaralternativer</label>
                                        <div id="optionsdiv">

                                        </div>
                                    </div>

                                    <div id="reasoningdiv">
                                        <label for="reasoning">Begrunnelse</label>
                                        <textarea class="form-control" id="reasoning" rows="6" style="resize:vertical"
                                                  placeholder="Begrunn svaret ditt..."></textarea>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-success">Svar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#itemModal').on('hidden.bs.modal', function () {
            var testID = $('#itemTaskID').text();
            var taskRow = $('#task' + testID);
            if ($('.itemBody .success').length > 0) {
                taskRow.removeClass('info').addClass('success');
                taskRow.find(':checkbox').prop('checked', true);
            } else {
                taskRow.find(':checkbox').prop('checked', false);
                taskRow.removeClass('info success');
            }
        });
    </script>
{% endblock %}
