{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head %}
    <script type="text/javascript" src="{% static 'administration/deployggb.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Oppdater "{{ task.title }}"</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-margin hidden" action="" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.title %}
                {% bootstrap_field form.text %}
                {% bootstrap_field form.answertype %}
                {% bootstrap_field form.reasoning %}
                {% bootstrap_field form.extra %}
                {% bootstrap_field form.options %}
                {% bootstrap_field form.category %}
                {% bootstrap_field form.base64 %}
                <button type="submit" id="submitbutton" class="btn btn-success">
                    {% bootstrap_icon "check" %} Lagre
                </button>
            </form>
            <div class="col-sm-7 hidden" id="extradiv">
                <input type="hidden" id="hiddenbase64"
                       value="{% for geo in geogebra %}{{ geo.base64 }}{% endfor %}">
                <div id="applet_container"></div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span id="tasktext">{{ task.text }}</span><a class="btn btn-default" data-toggle='modal'
                                                                         href='#changeTextModal'
                                                                         style="background-color: inherit;"><span
                                style="font-size:1em;" class="glyphicon glyphicon-pencil"></span> </a></h4>
                    </div> <!-- #inner panel-heading -->
                    <div class="panel-body">

                        {% if task.category %}
                            <span id="categorydiv">
                                {% for category in task.category.all %}
                                    <span class="label label-info" id="list{{ category }}">{{ category }}</span>
                                {% endfor %}
                            </span>
                            <a class="btn btn-default" data-toggle='modal' href='#changeCategoryModal'><i
                                    class="fa fa-exchange" aria-hidden="true"
                                    style="font-size: 1em; display: inline-block"></i> Endre kategorier</a>
                            <br>
                        {% endif %}
                        {% if options %} <!-- If the task contains multiple choice options -->
                            <label style="margin-top: 10px">Svaralternativer</label>
                            <a class="btn btn-default" href=""><i class="fa fa-exchange" aria-hidden="true"
                                                                  style="font-size: 1em"></i> Endre svarmåte</a><br>
                            {% for option in options %}
                                <a class="btn btn-default" href=""><span
                                        style="font-size:1em;" class="glyphicon glyphicon-pencil"></span> </a>
                                <input type="radio" id="option{{ forloop.counter }}" name="options"> {{ option }}<br>
                            {% endfor %}
                        {% endif %}

                        {% if task.answertype == 1 %} <!-- If the task has text as answertype -->
                            <div class="form-group">
                                <label for="answer" style="margin-top: 10px">Tekstsvar</label>
                                <a class="btn btn-default" href=""><i class="fa fa-exchange" aria-hidden="true"
                                                                      style="font-size: 1em"></i> Endre svarmåte</a><br>
                                <textarea class="form-control" id="answer" rows="6" style="resize:vertical"
                                          placeholder="Skriv svaret ditt her..."></textarea>
                            </div>
                        {% endif %}
                        <div class="form-group" id="reasoningdiv">
                            <label for="reasoning" style="margin-top: 10px">Begrunnelse</label>
                            <textarea class="form-control" id="reasoning" rows="6" style="resize:vertical"
                                      placeholder="Begrunn svaret ditt..."></textarea>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Felt for begrunnelse
                                <div class="material-switch pull-right">
                                    <input id="reason" name="reasoning1" type="checkbox"/>
                                    <label for="reason" class="label-success"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Bruk tillegg (Geogebra, puslespill, rekkefølge etc..)
                                <div class="material-switch pull-right">
                                    <input id="extra" name="extra1" type="checkbox"/>
                                    <label for="extra" class="label-success"></label>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- #inner panel-body -->
                    <div class="panel-footer">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" onclick="" class="btn btn-success"><span
                                    class="glyphicon glyphicon-check"
                                    aria-hidden="true"></span> Lagre som ny oppgave
                            </button>
                            <button type="button" class="btn btn-warning"><span
                                    class="glyphicon glyphicon-refresh"
                                    aria-hidden="true"></span> Oppdater eksisterende
                            </button>
                        </div> <!-- #btn-group -->
                    </div> <!-- #inner panel-footer -->
                </div> <!-- #inner panel -->
            </div>
        </div> <!-- #panel-body -->
        <div class="panel-footer">
            <button type="button" onclick="test()">Klikk</button>
        </div> <!-- #panel-footer-->
    </div> <!-- #panel -->

    <script>

        function test() {
            ggbApplet.reset();
        }

        function ggbOnInit(param) {

        }
        var viewPortWidth = 1200;
        var viewPortHeight = 750;
        var base64 = document.getElementById('hiddenbase64').value;

        if (typeof window.innerWidth != 'undefined') {
            viewPortWidth = window.innerWidth * 0.55;
            viewPortHeight = window.innerHeight * 0.7;
        }
        var parameters = {
            "id": "ggbApplet",
            "width": viewPortWidth,
            "height": viewPortHeight,
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "useBrowserForJS": true,
            "ggbBase64": base64
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        //  when used with Math Apps Bundle, uncomment this:
        // applet.setHTML5Codebase('GeoGebra/HTML5/5.0/web3d/');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');
        };
    </script>
    <script>
        if (document.getElementById('hiddenbase64')) {
            var geobase64 = document.getElementById('hiddenbase64').value;
        }

        jQuery(document).ready(function ($) {
            $('#reasoning').hide();
            $('label[for=reasoning]').hide();

            if (geobase64 != null && geobase64 != "") {
                $('#id_base64').val(geobase64);
                $('#extradiv').removeClass('hidden');
            }

            if (document.getElementById('id_reasoning').checked) {
                $('#reason').prop('checked', true);
                $('#reasoning').show();
                $('label[for=reasoning]').show();
            }

            if (document.getElementById('id_extra').checked) {
                $('#extra').prop('checked', true);
            }
        });

        $('#reason').change(function () {
            if (document.getElementById('reason').checked) {
                $('#reasoning').show();
                $('label[for=reasoning]').show();
            }
            else {
                $('#reasoning').hide();
                $('label[for=reasoning]').hide();
            }
        });

        $('#extra').change(function () {
            if (document.getElementById('extra').checked) {
                $('#extradiv').removeClass('hidden');
                test();
            }
            else {
                $('#extradiv').addClass('hidden');
            }
        });
    </script>

{% endblock %}

{% block modal %}
    <div class="modal fade" id="changeTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Endre oppgavetekst</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="modalText" rows="6" style="resize:vertical"
                              placeholder="Skriv oppgavetekst her..."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Endre kategorier</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for category in categories %}
                            {% if category in task.category.all %}
                                <li class="list-group-item">
                                    {{ category }}
                                    <div class="material-switch pull-right">
                                        <input id="category{{ forloop.counter }}" name="{{ category }}"
                                               type="checkbox" onchange="changeCategory(this.name, this.checked)"
                                               checked/>
                                        <label for="category{{ forloop.counter }}" class="label-success"></label>
                                    </div>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    {{ category }}
                                    <div class="material-switch pull-right">
                                        <input id="category{{ forloop.counter }}" name="{{ category }}"
                                               type="checkbox" onchange="changeCategory(this.name, this.checked)"/>
                                        <label for="category{{ forloop.counter }}" class="label-success"></label>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#changeTextModal').on('hide.bs.modal', function () {
            var modaltext = $('#modalText').val();
            document.getElementById('tasktext').innerHTML = modaltext;
        });

        function changeCategory(category, check) {
            if (check == true) {
                document.getElementById('categorydiv').innerHTML += '<span class="label label-info" style="margin-left: 1px">' + category + '</span>';
            }
            else {
                alert(category + " not checked");
            }
        }
    </script>
{% endblock %}