{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head %}
    <script type="text/javascript" src="{% static 'administration/deployggb.js' %}"></script>
{% endblock %}


{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Lag Oppgave</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <label for="taskname">Oppgavenavn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tasks"></i></span>
                    <input type="text" class="form-control input-lg" id="taskname" placeholder="Oppgavenavn">
                </div>
                <label for="choosetype">Velg tema</label>
                <select class="form-control" id="choosetype">
                    <option>Funksjoner</option>
                    <option>Brøk</option>
                    <option>Geometri</option>
                    <option>Aritmetikk</option>
                </select>
                <div class="form-group">
                    <label for="tasktext">Oppgavetekst</label>
                    <textarea class="form-control" id="tasktext" rows="6" style="resize:vertical"
                              placeholder="Skriv oppgavetekst her..."></textarea>
                </div>

                <label for="accordion">Velg svartype</label>
                <div id="accordion" class="panel-group" role="tablist">
                    <div class="panel panel-default" id="tekstRadio">
                        <div class=" panel-heading" role="tab">
                            <h4 class="panel-title">
                                <label><input type="radio" name="answer_type" value="1" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse5"
                                              onclick="radioClick(this)" required>
                                    Tekstsvar</label>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div>
                                    Hvis dette alternativet velges, vil eleven kunne gi et tekstlig svar
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="flervalgRadio">
                        <div class="panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="2" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse6"
                                              onclick="radioClick(this)"> Flervalgstest</label>
                            </p>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group" id="fields">
                                    <label for="alternativ1">Alternativ 1</label>
                                    <input type="text" class="form-control" id="alternativ1" placeholder="Alternativ 1"
                                           autofocus>
                                    <label for="alternativ2">Alternativ 2</label>
                                    <input type="text" class="form-control" id="alternativ2" placeholder="Alternativ 2">
                                </div>

                                <input type="button" id="lessFields" onclick="lessFields()" value="-">
                                <input type="button" id="moreFields" onclick="moreFields()" value="+">
                                <br>
                                <hr>
                                <label for="dropdown">Velg riktig alternativ</label><br>
                                <select id="dropdown">
                                    <option id="dropdown1" value="1">Alternativ 1</option>
                                    <option id="dropdown2" value="2">Alternativ 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="geoRadio">
                        <div class=" panel-heading" role="tab">
                            <p class="panel-title">
                                <label><input type="radio" name="answer_type" value="3" data-toggle="collapse"
                                              data-parent="#accordion" data-target="#collapse7"
                                              onclick="radioClick(this)"> Kun tillegg</label>
                            </p>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">
                                Hvis dette alternativet velges, vil eleven kunne svare kun med tillegg.
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Felt for begrunnelse
                        <div class="material-switch pull-right">
                            <input id="reasoning" name="reasoning1" type="checkbox"/>
                            <label for="reasoning" class="label-success"></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Bruk tillegg (Geogebra, puslespill, rekkefølge etc..)
                        <div class="material-switch pull-right">
                            <input id="extra" name="extra1" type="checkbox"/>
                            <label for="extra" class="label-success"></label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-5 form-margin">
                <label for="choosetask">Velg oppgavetype</label>
                <select class="form-control input-lg" id="choosetask">
                    <option>Geogebra</option>
                    <option>Velg riktig</option>
                    <option>Rekkefølge</option>
                </select>
                <div id="applet_container"></div>
                <form class="form-horizontal form-margin" action="" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_field form.title addon_before='<span class="glyphicon glyphicon-home"></span>' %}
                    {% bootstrap_field form.text addon_before='<span class="fa fa-map-marker"></span>' %}
                    {% bootstrap_field form.answertype %}
                    {% bootstrap_field form.reasoning %}
                    {% bootstrap_field form.extra %}
                    {% bootstrap_field form.options %}
                    <button type="submit" id="submitbutton" class="btn btn-success">
                        {% bootstrap_icon "check" %} Lagre
                    </button>
                </form>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="onSubmit()" class="btn btn-success"><span class="glyphicon glyphicon-check"
                                                                    aria-hidden="true"></span> Send Inn
                </button>
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-eye-open"
                                                                    aria-hidden="true"></span> Forhåndsvis
                </button>
            </div>
        </div>
    </div>

    <script>
        var parameters = {
            "id": "ggbApplet",
            "width": 800,
            "height": 600,
            "showToolBar": true,
            "borderColor": null,
            "showMenuBar": true,
            "allowStyleBar": true,
            "showAlgebraInput": true,
            "enableLabelDrags": false,
            "enableShiftDragZoom": true,
            "capturingThreshold": null,
            "showToolBarHelp": false,
            "errorDialogsActive": true,
            "showTutorialLink": false,
            "showLogging": false,
            "useBrowserForJS": false
        };

        // Applet som inneholder GeoGebra-vinduet som lastes inn i createfunctiontask.jsp
        var applet = new GGBApplet(parameters, '5.0', 'applet_container');
        //  when used with Math Apps Bundle, uncomment this:
        //  applet.setHTML5Codebase('GeoGebra/HTML5/5.0/web3d/');

        // Metoden benyttes til å legge GeoGebra med forhåndsvalgt konfigurasjon inn i en applet
        window.onload = function () {
            applet.inject('applet_container', 'preferhtml5');
        };
    </script>

    <script>
        /**
         * Metoden setter farger for panelet ved valg av svarform
         */
        function radioClick(myRadio) {
            var valg = myRadio.value;
            if (valg == 1) {
                document.getElementById('tekstRadio').className = "panel panel-success";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else if (valg == 2) {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-success";
                document.getElementById('geoRadio').className = "panel panel-default";
            } else {
                document.getElementById('tekstRadio').className = "panel panel-default";
                document.getElementById('flervalgRadio').className = "panel panel-default";
                document.getElementById('geoRadio').className = "panel panel-success";
            }
        }

        function onSubmit(){
            var taskname1 = document.getElementById('taskname');
            var taskname2 = document.getElementById('id_title');
            var tasktext1 = document.getElementById('tasktext');
            var tasktext2 = document.getElementById('id_text');
            var reasoning1 = document.getElementById('reasoning');
            var reasoning2 = document.getElementById('id_reasoning');
            var extra1 = document.getElementById('extra');
            var extra2 = document.getElementById('id_extra');
            var answertype1 = $("input[type='radio'][name='answer_type']:checked").val();
            var answertype2 = document.getElementById('id_answertype');
            var options = document.getElementById('id_options');
            var select = document.getElementById('dropdown');

            taskname2.value = taskname1.value;
            tasktext2.value = tasktext1.value;
            answertype2.value = answertype1;

            if(reasoning1.checked){
                reasoning2.checked = true;
            }
            else{
                reasoning2.checked = false;
            }

            if(extra1.checked){
                extra2.checked = true;
            }
            else{
                extra2.checked = false;
            }

            if(answertype1 == 2){
                var inputCount = document.getElementById('fields').getElementsByTagName('input').length;

                for(var i = 1; i <= inputCount; i++){
                    if(i == 1){
                        options.value += select.options[select.selectedIndex].value + "|||||"
                    }
                    options.value += document.getElementById('alternativ' + i).value;
                    if(!(i+1 > inputCount)){
                        options.value += "|||||";
                    }
                }
            }

            //document.getElementById('submitbutton').click();
        }
    </script>

    <script>
        /**
         * This function adds one option to the multiple choice
         * when the user clicks the "+"-button.
         */
        var counter = 3;
        function moreFields() {
            if (counter < 10) {
                $('#fields').append('<label for="alternativ' + counter + '">Alternativ ' + counter + '</label>');
                $('#fields').append("<input type='text' class='form-control' id='alternativ" + counter + "' placeholder='Alternativ " + counter + "'>");
                $('#dropdown').append('<option id="dropdown' + counter + '" value="' + counter + '">Alternativ ' + counter + '</option>');
                counter++;
            }
            else {
                alert("Du kan ikke ha mer enn ni alternativer.");
            }
        }

        /**
         * This function removes one option from the multiple choice
         * when the user clicks the "-"-button.
         */
        function lessFields() {
            if (counter > 3) {
                counter--;
                $('#alternativ' + counter).remove();
                $('label[for=alternativ' + counter + ']').remove();
                $('#dropdown' + counter).remove();
            }
            else {
                alert("Du kan ikke ha mindre enn to alternativer.");
            }
        }
    </script>
{% endblock %}