{% extends 'matistikk/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head %}
{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Oppgaveoversikt</h2>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                <input type="text" class="form-control" id="search"
                       onkeyup=""
                       placeholder="Søk etter oppgave...">
            </div>
        </div> <!-- #Panel-heading -->
        <div class="panel-body">
            <div id="tableCont" class="tab-content">
                <table class="table table-hover table-striped table-responsive" id="tasktable">
                    <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-2">Oppgavenavn</th>
                        <th class="col-sm-2">Kategori</th>
                        <th class="col-sm-2">Laget av</th>
                        <th class="col-sm-5">Alternativer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in object_list %}
                        <tr class="clickable-row" data-href="" style="cursor: pointer">
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>
                                {% for category in task.category.all %}
                                    {{ category }},
                                {% endfor %}
                            </td>
                            <td>{{ task.author.first_name }} {{ task.author.last_name }}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <a class="btn btn-default"
                                           href="{% url 'maths:taskUpdate' task.id %}" style="background-color: inherit"><span
                                            class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Oppdater
                                        </a>
                                    <button type="button" class="btn btn-info">Forhåndsvis</button>
                                    <button type="button" class="btn btn-info">Slett</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- #Panel-body -->
        <div class="panel-footer">

        </div> <!-- #Panel-footer -->
    </div>
{% endblock %}