body {
    background: white url("images/polyagonal-web-design.jpg");
}

.tab-content {
    padding: 10px;
    min-height: 250px;
}

.btn-block {
    width: 300px;
}

* {
    border-radius: 0 !important;
}

.navbar {
    margin-bottom: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: black;
}

.btn {
    border: 2px solid black;
    color: black;
    border: 1px solid white;
}

.btn-primary {
    color: whitesmoke;
}

.jumbotron p {
    font-size: smaller;
    color: black;
}

.navbar {
    border-bottom-color: black;
}

.footer {
    box-shadow: 0px 0px 1px #444;
}

.page-header h1 {
    font-size: large;
}

.page-header h2 {
    font-size: medium;
}

.page-header h3 {
    font-size: small;
}

p {
    color: black;
    opacity: 1;
}

h {
    color: black;
    opacity: 1;
}

logo {
    margin-left: 30px;
}

.centered-text {
    position: absolute;
    top: 48%;
    color: white;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: x-large;
}

.hidden {
    display: none;
}

.form-margin {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

html,body {
  height: 100%; margin: 0px; padding: 0px; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
    max-width: 1600px;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }
