<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Matistikk{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'administration/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'administration/images/favico.png' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% if request.user.role == 4 %}
    <!-- Super User Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull left" href="{% url 'index' %}"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240"
                                                                   height="50"/></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home "></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" id="overviewDropdown">Oversikt <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:personList' %}" id="userOverview">Brukeroversikt</a>
                            </li>
                            <li><a href="{% url 'administration:schoolList' %}" id="schoolOverview">Skoleoversikt</a>
                            </li>
                            <li><a href="{% url 'administration:groupList' %}" id="groupOverview">Gruppeoversikt</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'maths:directoryRoot' %}" id="taskOverview">Oppgaveoversikt</a></li>
                            <li><a href="{% url 'maths:taskCollectionList' %}" id="testOverview">Testoversikt</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'maths:taskCollectionCreate' %}" id="createTestBtn">Lag Test</a></li>
                    <li><a href="{% url 'maths:createTask' %}" id="createTask">Lag Oppgave</a></li>
                    <li><a href="{% url 'maths:exportData' %}" id="exportInfo">Eksportering</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'administration:myPage' request.user.username %}" id="myPageBtn"><i
                            class="fa fa-user-circle-o"
                            aria-hidden="true"></i> {{ request.user.first_name }} {{ request.user.last_name }}
                    </a></li>
                    <li><a href="{% url 'logout' %}" id="logout"><span class="glyphicon glyphicon-log-out"></span>Logg
                        ut</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% elif request.user.role == 3 %}
    <!-- School Administrator User Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull left" href="{% url 'index' %}"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240"
                                                                   height="50"/></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home "></span></a></li>
                    <li><a href="{% url 'administration:personList' %}" id="userOverview">Brukeroversikt</a></li>
                    <li><a href="{% url 'administration:schoolList' %}" id="schoolOverview">Skoler</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'administration:myPage' request.user.username %}" id="myPageBtn"><i
                            class="fa fa-user-circle-o"
                            aria-hidden="true"></i> {{ request.user.first_name }} {{ request.user.last_name }}
                    </a></li>
                    <li><a href="{% url 'logout' %}" id="logout"><span class="glyphicon glyphicon-log-out"></span>Logg
                        ut</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% elif request.user.role == 2 %}
    <!-- Teacher User Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull left" href="{% url 'index' %}"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240"
                                                                   height="50"/></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home "></span></a></li>
                    <li><a href="{% url 'administration:gradeList' %}" id="gradeOverview">Mine klasser</a></li>
                    <li><a href="{% url 'maths:testList' request.user.username %}" id="testOverview">Tilgjengelige
                        tester</a></li>
                    <li><a href="{% url 'administration:personList' %}" id="userOverview">Brukeroversikt</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'administration:myPage' request.user.username %}" id="myPageBtn"><i
                            class="fa fa-user-circle-o"
                            aria-hidden="true"></i> {{ request.user.first_name }} {{ request.user.last_name }}
                    </a></li>
                    <li><a href="{% url 'logout' %}" id="logout"><span class="glyphicon glyphicon-log-out"></span>Logg
                        ut</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% else %}
    <!-- Student User Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#mynavbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull left" href="{% url 'index' %}"><img src="http://bildr.no/image/Tjl2U25M.jpeg" width="240"
                                                                   height="50" alt="Home"/></a>
            </div>
            <div class="navbar-collapse collapse" id="mynavbar">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home "></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'administration:myPage' request.user.username %}" id="myPageBtn"><i
                            class="fa fa-user-circle-o"
                            aria-hidden="true"></i> {{ request.user.first_name }} {{ request.user.last_name }}
                    </a></li>
                    <li><a href="{% url 'logout' %}" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logg
                        ut</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endif %}
{% block body %}
{% endblock %}
{% block modal %}
{% endblock %}
</body>
</html>