{% load staticfiles %}
{% load static %}

<div class="modal fade" id="previewTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Forhåndsvis oppgave</h4>
            </div>
            <div class="modal-body" style="min-height: 30vh;">
                <img src="{% static 'administration/images/loading.gif' %}" id="loading-indicator"
                     class="loading-indicator"
                     style="display:none"/>
                <div id="previewBody" class="row hidden">
                    <div class="col-md-3 hidden" id="notgeogebradiv"></div>
                    <div class="col-md-6" id="geogebradiv" style="padding-right: 10px;">
                        <img id='previewbilde' alt='' width="100%" style="border:1px solid #021a40;"/>
                    </div>
                    <div class="col-md-6" style="padding-left: 10px">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><span id="tasktext"></span></h4>
                            </div>
                            <div class="panel-body">
                                <div id="textanswerdiv">
                                    <label for="answer">Tekstsvar</label>
                                    <textarea class="form-control" id="answer" rows="6" style="resize:vertical"
                                              placeholder="Skriv svaret ditt her..."></textarea>
                                </div>

                                <div id="multiplechoicediv">

                                </div>

                                <div id="inputfielddiv">

                                </div>

                                <div id="reasoningdiv">
                                    <label id="reasoningText" for="reasoning">Begrunnelse</label>
                                    <textarea class="form-control" id="reasoning" rows="6" style="resize:vertical"
                                              placeholder="Begrunn svaret ditt..."></textarea>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-success">Svar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalBtn">Lukk</button>
            </div>
        </div>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#tasktext',
        plugins: 'placeholder',
        content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
        toolbar: false,
        menubar: false,
        statusbar: false,
        readonly: 1,
        body_id: 'tasktextID'
    });

    tinymce.init({
        selector: '#answer',
        plugins: 'placeholder',
        content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
        toolbar: false,
        menubar: false,
        statusbar: false,
        readonly: 1
    });
    tinymce.init({
        selector: '#reasoning',
        plugins: 'placeholder',
        content_css: '{% static 'tinymce/js/tinymce/plugins/equationeditor/mathquill.css'%}',
        toolbar: false,
        menubar: false,
        statusbar: false,
        readonly: 1
    });
    /**
     * This function sets up the taskinformation gotten inside a modal from the ajax GET request.
     */
    function previewTask(e) {
        $('#previewBody').addClass('hidden');
        $('#previewTaskModal').modal('show');
        var id = e.value;
        $('#geogebradiv').hide();
        $('#textanswerdiv').hide();
        $('#reasoningdiv').hide();
        $('#multiplechoicediv').hide();
        $('#inputfielddiv').hide();
        $.ajax({
            type: 'GET',
            url: '{% url 'maths:taskList' %}',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function (json) {
                var notGeoDiv = $('#notgeogebradiv');
                var task = (json);
                if (task.geogebra_preview != undefined) {
                    $("#previewbilde").attr("src", 'data:image/png;base64,' + (task.geogebra_preview));
                    $('#geogebradiv').show();
                    if (!notGeoDiv.hasClass('hidden')) {
                        notGeoDiv.addClass('hidden');
                    }
                } else {
                    if (notGeoDiv.hasClass('hidden')) {
                        notGeoDiv.removeClass('hidden');
                    }
                }
                tinyMCE.get('tasktext').getBody().style.backgroundColor = "#f5f5f5";
                tinyMCE.get('tasktext').setContent(task.task_text);

                var answertype = (task.task_answertype);
                if (answertype == 1) {
                    $('#textanswerdiv').show();
                }

                if (task.task_reasoning) {
                    $('#reasoningdiv').show();
                    if (task.task_reasoningText) {
                        $('#reasoningText').text(task.task_reasoningText);
                    } else {
                        $('#reasoningText').text("Begrunnelse");
                    }
                }
                if (answertype == 2) {
                    var div = $('#multiplechoicediv');
                    div.empty();
                    div.show();
                    var options = (task.options);
                    $.each(options, function (i, val) {
                        div.append('<label for=multipleChoice' + i + '>' + val.question + '</label>');
                        div.append('<br>');
                        var checkbox = val.checkbox;
                        $.each(val.options, function (x, val) {
                            if (checkbox) {
                                div.append('<label class="checkbox-inline"><input type="checkbox" value="">' + val + '</label>');
                            } else {
                                div.append('<label class="radio-inline"><input type="radio" value="" name="choice' + i + '">' + val + '</label>');
                            }
                        });
                        div.append('<br><hr>');
                    });
                } else if (answertype == 4) {
                    var div = $('#inputfielddiv');
                    div.empty();
                    div.show();
                    var inputfields = task.inputfields;
                    $.each(inputfields, function (i, val) {
                        div.append('<div id="previewInput' + i + '"></div>');
                        var question = val.question;
                        var inputDiv = $('#previewInput' + i);
                        inputDiv.append('<h4>' + question + '</h4>');
                        inputDiv.append('<form id="previewForm' + i + '" class="form-horizontal"></form>');
                        var form = $('#previewForm' + i);
                        $.each(val.fields, function (x, val) {
                            var title = val;
                            form.append('<div class="form-group"><label style="text-align: left; padding-left: 15px;" class="control-label col-md-2">' + title + ':</label>' +
                                '<div class="col-md-10" style="padding-right: 15px;"><input type="number" class="form-control"></div></div>');
                        });
                        inputDiv.append('<hr>');
                    });
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
</script>