{% load bootstrap3 %}
<!-- loads the static files of the project-->
<!-- Loads CSS and javascript-->
<div class="modal fade" id="logModal" role="dialog">
    <div class="modal-dialog" style="width: 75vw;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Logg - <span id="logTaskName"></span></h4>
            </div>
            <div class="modal-body">
                <div class="just-padding">
                    <div class="row">
                        <span id="taskLogID" class="hidden"></span>
                        <div class="col-md-8 logBody" style="overflow: auto">
                            <div class="well noComments">
                                <h4 class="text-center">Ingen kommentarer...</h4>
                            </div>
                            <div class="container commentSection">
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 10px">
                            <div id="approvedText" class="alert alert-warning logWarning"
                                 style="margin-bottom: 10px;">
                                <strong id="approvedStrong">Ikke godkjent!</strong> Denne oppgaven er ikke godkjent
                                for testing.
                            </div>
                            <div class="well">
                                <form method="POST" class="post-form" id="logForm">
                                    {% csrf_token %}
                                    {% bootstrap_label "Skriv en ny kommentar:" label_for="text" %}
                                    {% bootstrap_field form.text show_label=False %}

                                    <button type="submit" class="save btn btn-success"><i class="fa fa-floppy-o"
                                                                                          aria-hidden="true"></i>
                                        Lagre
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer delete">
                <button type="button" class="btn btn-success pull-left approveBtn"><i class="fa fa-check"
                                                                                      aria-hidden="true"></i>
                    Godkjenn oppgave
                </button>
                <button type="button" class="btn btn-danger pull-left removeApproveBtn"><i class="fa fa-times"
                                                                                           aria-hidden="true"></i>

                    Fjern Godkjenning
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"
                                                                                      aria-hidden="true"></i>
                    Avbryt
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.logBody').css('height', (window.innerHeight - 300) + 'px');
        $('#logForm').submit(function (e) {
            e.preventDefault();
            var id = $('#taskLogID').text();
            var comment = $('#id_text').val();
            postComment(id, comment, false);
        });
    });
    function postComment(id, comment, approved) {
        $.ajax({
            type: 'POST',
            url: '{% url 'maths:taskLog' %}',
            data: {
                'task_id': id,
                'comment': comment,
                'approved': approved,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            success: function (json) {
                $('.noComments').addClass('hidden');
                var arr = [];
                arr.push('<div id="comment');
                arr.push(json.id);
                arr.push('" class="panel panel-success"><div class="panel-heading"><strong>');
                arr.push(json.author);
                arr.push('</strong><span class="pull-right">');
                arr.push(json.date);
                arr.push('<button style="margin-left: 15px;" type="button" value="');
                arr.push(json.id);
                arr.push('" class="deleteComment close">&times;</button></span></div><div class="panel-body comment">');
                arr.push(json.comment);
                arr.push('</div></div>');
                $('.commentSection').prepend(arr.join(''));
                $('#id_text').val('');
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    $('.tasktablebody').on('click', '.taskLog', function () {
        var id = $(this).val();
        $('#taskLogID').text(id);
        if ($(this).hasClass('btn-success')) {
            $('#approvedText').html('<strong>Godkjent!</strong> Denne oppgaven er godkjent for testtaking');
            $('.approveBtn').prop('disabled', true);
            $('.removeApproveBtn').prop('disabled', false);
            $('.logWarning').removeClass('alert-warning').addClass('alert-success');

        } else {
            $('#approvedText').html('<strong>Ikke godkjent!</strong> Denne oppgaven er ikke godkjent for testtaking');
            $('.logWarning').removeClass('alert-success').addClass('alert-warning');
            $('.removeApproveBtn').prop('disabled', true);
            $('.approveBtn').prop('disabled', false);

        }
        $.ajax({
            type: 'GET',
            url: '{% url 'maths:taskLog' %}',
            data: {
                'task_id': id
            },
            dataType: 'json',
            success: function (json) {
                $('#logTaskName').text(json.name);
                var arr = [];
                if (json.logs.length != 0) {
                    $('.noComments').addClass('hidden');
                } else {
                    $('.noComments').removeClass('hidden');
                }
                $('.commentSection').empty();
                $.each(json.logs, function (i, key) {
                    arr.push('<div id="comment');
                    arr.push(key.id);
                    arr.push('" class="panel panel-default"><div class="panel-heading"><strong>');
                    arr.push(key.author);
                    arr.push('</strong><span class="pull-right">');
                    arr.push(key.date);
                    arr.push('<button style="margin-left: 15px;" type="button" value="');
                    arr.push(key.id);
                    arr.push('" class="deleteComment close">&times;</button></span></div><div class="panel-body comment">');
                    arr.push(key.comment);
                    arr.push('</div></div>');
                });
                $('.commentSection').append(arr.join(''));
                $('#logModal').modal('show');
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $('.commentSection').on('click', '.deleteComment', function () {
        var id = $(this).val();
        var height = (window.innerHeight / 4);
        bootbox.confirm({
            message: "Er du sikker på at du vil slette denne kommentaren?",
            buttons: {
                cancel: {
                    label: 'Nei',
                    className: 'btn-danger'
                },
                confirm: {
                    label: 'Ja',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'maths:taskLogDelete' %}',
                        data: {
                            'comment_id': id,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()

                        },
                        dataType: 'json',
                        success: function (json) {
                            $('#comment' + json.id).remove();
                            if(!$('.commentSection .panel').length){
                                $('.noComments').removeClass('hidden');
                            }
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                    });
                }
            }
        });
        $('.bootbox .modal-dialog').css('margin-top', height + 'px');
    });

    $('.approveBtn').on('click', function () {
        var id = $('#taskLogID').text();
        var comment = 'approved';
        var approved = true;
        postComment(id, comment, approved);
        var tasklogbtn = $('.context-menu-two.active').find('.taskLog');
        tasklogbtn.removeClass('btn-warning');
        tasklogbtn.addClass('btn-success');
        $('.approveBtn').prop('disabled', true);
        $('.removeApproveBtn').prop('disabled', false);
        $('#approvedText').html('<strong>Godkjent!</strong> Denne oppgaven er godkjent for testtaking');
        $('.logWarning').removeClass('alert-warning').addClass('alert-success');
    });

    $('.removeApproveBtn').on('click', function () {
        var id = $('#taskLogID').text();
        var comment = 'approved';
        var approved = false;
        postComment(id, comment, approved);
        var tasklogbtn = $('.context-menu-two.active').find('.taskLog');
        tasklogbtn.removeClass('btn-success');
        tasklogbtn.addClass('btn-warning');
        $('.approveBtn').prop('disabled', false);
        $('.removeApproveBtn').prop('disabled', true);
        $('#approvedText').html('<strong>Ikke godkjent!</strong> Denne oppgaven er ikke godkjent for testtaking');
        $('.logWarning').removeClass('alert-success').addClass('alert-warning');
    });
</script>